<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>NES - Insight</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/chosen/chosen.min.css" />
      <link rel="stylesheet" href="bower_components/flexslider/flexslider.css" />
      <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
      <link rel="stylesheet" href="bower_components/textAngular/dist/textAngular.css" />
      <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
      <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
      <link rel="stylesheet" href="bower_components/gridster/dist/jquery.gridster.css" />
      <link rel="stylesheet" href="bower_components/decksterjs/dist/jquery.deckster.css" />
      <link rel="stylesheet" href="bower_components/footable/css/footable.core.css" />
      <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
      <link rel="stylesheet" href="bower_components/jquery.tablesorter/css/theme.dark.css" />
      <link rel="stylesheet" href="bower_components/jquery.tablesorter/addons/pager/jquery.tablesorter.pager.css" />
      <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css" />
      <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" />
      <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css" />
      <link rel="stylesheet" href="bower_components/pikaday/css/pikaday.css" />
      <link rel="stylesheet" href="bower_components/handsontable/dist/handsontable.css" />
      <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
      <link rel="stylesheet" href="bower_components/dragtable/dragtable.css" />
      <link rel="stylesheet" href="bower_components/bootstrap-table/dist/bootstrap-table.css" />
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <link rel="stylesheet" href="assets/fonts/ops-icons/style.css">
      <!-- endinjector -->
    <!-- endbuild -->
  </head>
  <body ng-app="opsReviewApp" ng-class="{'sb-collapsed': sidebarCollapsed, 'sbr-collapsed': rSidebarCollapsed, 'light-theme': currentTheme === 'light'}">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <% if (GlobalConfig.environment !== 'production') { %>
    <div class="environment-bar"> INSIGHT TESTING ENVIRONMENT</div>
    <% } %>

    <!-- Set GlobalConfig -->
    <script>
      window.GlobalConfig = JSON.parse('<%- JSON.stringify(GlobalConfig) %>');
    </script>

    <div ui-view="" class="view"></div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-bind-html-compile/angular-bind-html-compile.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="bower_components/chosen/chosen.jquery.js"></script>
      <script src="bower_components/angular-chosen-localytics/chosen.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/flexslider/jquery.flexslider.js"></script>
      <script src="bower_components/angular-flexslider/angular-flexslider.js"></script>
      <script src="bower_components/angular-aria/angular-aria.js"></script>
      <script src="bower_components/angular-messages/angular-messages.js"></script>
      <script src="bower_components/angular-material/angular-material.js"></script>
      <script src="bower_components/moment/moment.js"></script>
      <script src="bower_components/angular-moment/angular-moment.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-socket-io/socket.js"></script>
      <script src="bower_components/rangy/rangy-core.js"></script>
      <script src="bower_components/rangy/rangy-classapplier.js"></script>
      <script src="bower_components/rangy/rangy-highlighter.js"></script>
      <script src="bower_components/rangy/rangy-selectionsaverestore.js"></script>
      <script src="bower_components/rangy/rangy-serializer.js"></script>
      <script src="bower_components/rangy/rangy-textrange.js"></script>
      <script src="bower_components/textAngular/dist/textAngular.js"></script>
      <script src="bower_components/textAngular/dist/textAngular-sanitize.js"></script>
      <script src="bower_components/textAngular/dist/textAngularSetup.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/angular-ui-select/dist/select.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <script src="bower_components/gridster/dist/jquery.gridster.js"></script>
      <script src="bower_components/spin.js/spin.js"></script>
      <script src="bower_components/decksterjs/dist/jquery.deckster.js"></script>
      <script src="bower_components/footable/js/footable.js"></script>
      <script src="bower_components/footable/js/footable.sort.js"></script>
      <script src="bower_components/footable/js/footable.paginate.js"></script>
      <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
      <script src="bower_components/heatmap.js-amd/build/heatmap.js"></script>
      <script src="bower_components/heatmap.js-amd/plugins/leaflet-heatmap.js"></script>
      <script src="bower_components/heatmap.js-amd/plugins/svg-area-heatmap.js"></script>
      <script src="bower_components/jquery.actual/jquery.actual.js"></script>
      <script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
      <script src="bower_components/jquery.floatThead/dist/jquery.floatThead-slim.min.js"></script>
      <script src="bower_components/jquery.tablesorter/js/jquery.tablesorter.js"></script>
      <script src="bower_components/jquery.tablesorter/js/jquery.tablesorter.widgets.js"></script>
      <script src="bower_components/jquery.tablesorter/js/widgets/widget-reflow.js"></script>
      <script src="bower_components/jquery.tablesorter/addons/pager/jquery.tablesorter.pager.js"></script>
      <script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
      <script src="bower_components/lodash/lodash.js"></script>
      <script src="bower_components/moment-range/dist/moment-range.js"></script>
      <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
      <script src="bower_components/zeroclipboard/dist/ZeroClipboard.js"></script>
      <script src="bower_components/pikaday/pikaday.js"></script>
      <script src="bower_components/handsontable/dist/handsontable.js"></script>
      <script src="bower_components/ngHandsontable/dist/ngHandsontable.js"></script>
      <script src="bower_components/nsPopover/src/nsPopover.js"></script>
      <script src="bower_components/d3/d3.js"></script>
      <script src="bower_components/trianglify/dist/trianglify.min.js"></script>
      <script src="bower_components/angular-toolbelt/dist/angular-toolbelt.min.js"></script>
      <script src="bower_components/angular-vertilize/angular-vertilize.js"></script>
      <script src="bower_components/jquery-ui/jquery-ui.js"></script>
      <script src="bower_components/br-validations/releases/br-validations.js"></script>
      <script src="bower_components/string-mask/src/string-mask.js"></script>
      <script src="bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
      <script src="bower_components/highcharts/highcharts.js"></script>
      <script src="bower_components/highcharts/highcharts-more.js"></script>
      <script src="bower_components/highcharts/modules/exporting.js"></script>
      <script src="bower_components/highcharts/modules/heatmap.js"></script>
      <script src="bower_components/highcharts/modules/no-data-to-display.js"></script>
      <script src="bower_components/angular-auto-height/dist/auto-height.js"></script>
      <script src="bower_components/checklist-model/checklist-model.js"></script>
      <script src="bower_components/ui-router.grant/dist/angular-ui-router-grant.js"></script>
      <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
      <script src="bower_components/dragtable/jquery.dragtable.js"></script>
      <script src="bower_components/bootstrap-table/dist/bootstrap-table.js"></script>
      <script src="bower_components/bootstrap-table/dist/extensions/reorder-columns/bootstrap-table-reorder-columns.js"></script>
      <script src="bower_components/moment-fquarter/moment-fquarter.js"></script>
      <script src="bower_components/angular-google-analytics/dist/angular-google-analytics.min.js"></script>
      <script src="bower_components/moment-timezone/builds/moment-timezone-with-data-2012-2022.js"></script>
      <!-- endbower -->
      <script src="socket.io-client/socket.io.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,client}) app/app.js -->
        <script src="app/app.js"></script>
          <!-- injector:js -->
          <script src="app/account/account.js"></script>
          <script src="app/account/login/login.controller.js"></script>
          <script src="app/account/password/forgot.controller.js"></script>
          <script src="app/account/password/reset.controller.js"></script>
          <script src="app/account/settings/settings.controller.js"></script>
          <script src="app/account/signup/signup.controller.js"></script>
          <script src="app/account/validate/validate.controller.js"></script>
          <script src="app/admin/admin.controller.js"></script>
          <script src="app/admin/admin.js"></script>
          <script src="app/admin/email.controller.js"></script>
          <script src="app/admin/globalSettings.controller.js"></script>
          <script src="app/feedback/feedback.controller.js"></script>
          <script src="app/main/adminApprovalNotice.controller.js"></script>
          <script src="app/main/adminApprovalSuccess.controller.js"></script>
          <script src="app/main/adminIENotice.controller.js"></script>
          <script src="app/main/main.controller.js"></script>
          <script src="app/main/main.js"></script>
          <script src="components/auth/auth.service.js"></script>
          <script src="components/auth/user.service.js"></script>
          <script src="components/autoHeight/autoHeight.directive.js"></script>
          <script src="components/card/card.service.js"></script>
          <script src="components/card/cardBuilder.service.js"></script>
          <script src="components/cardHelp/cardHelp.controller.js"></script>
          <script src="components/cardSettings/cardSettings.controller.js"></script>
          <script src="components/cards/applications.js"></script>
          <script src="components/cards/averageSitTimeInCWS.js"></script>
          <script src="components/cards/billableProductiveTimeline.js"></script>
          <script src="components/cards/billableProductiveUtilization.js"></script>
          <script src="components/cards/candidateStatus.js"></script>
          <script src="components/cards/contractDetail.js"></script>
          <script src="components/cards/daysOpenByProgram.js"></script>
          <script src="components/cards/daysOpenRange.js"></script>
          <script src="components/cards/distributionOfHoursWorked.js"></script>
          <script src="components/cards/employeeAttritionByLevel.js"></script>
          <script src="components/cards/employeeLocations.js"></script>
          <script src="components/cards/financialDetail.js"></script>
          <script src="components/cards/fundingSummary.js"></script>
          <script src="components/cards/glassdoorRating.js"></script>
          <script src="components/cards/hires.js"></script>
          <script src="components/cards/hiresAndAttrition.js"></script>
          <script src="components/cards/humanCapitalSummary.js"></script>
          <script src="components/cards/investmentSummary.js"></script>
          <script src="components/cards/laborDistribution.js"></script>
          <script src="components/cards/laborHoursWeeklyAverageByManager.js"></script>
          <script src="components/cards/openReqsAgingByManager.js"></script>
          <script src="components/cards/organizationDetail.js"></script>
          <script src="components/cards/profitTimeline.js"></script>
          <script src="components/cards/programCyberKpi.js"></script>
          <script src="components/cards/programExportKpi.js"></script>
          <script src="components/cards/programMetadata.js"></script>
          <script src="components/cards/programQuads.js"></script>
          <script src="components/cards/programSummaryKpi.js"></script>
          <script src="components/cards/reqTimeToFillAcceptAndAvgDaysOpen.js"></script>
          <script src="components/cards/requisitionAverageDaysOpen.js"></script>
          <script src="components/cards/requisitionCountByVariable.js"></script>
          <script src="components/cards/requisitionLocations.js"></script>
          <script src="components/cards/requisitionsByProgram.js"></script>
          <script src="components/cards/revenueCostsProfit.js"></script>
          <script src="components/cards/revenueCostsSummary.js"></script>
          <script src="components/cards/revenueCostsTimeline.js"></script>
          <script src="components/cards/salesforceTaskList.js"></script>
          <script src="components/cards/staffingChangeByMonth.js"></script>
          <script src="components/cards/staffingComposition.js"></script>
          <script src="components/cards/staffingCompositionVsBid.js"></script>
          <script src="components/cards/staffingHeatmap.js"></script>
          <script src="components/cards/staffingLevels.js"></script>
          <script src="components/cards/staffingPosition.js"></script>
          <script src="components/cards/staffingVacancy.js"></script>
          <script src="components/cards/summaryBarDetails.js"></script>
          <script src="components/cards/utilizationByLOS.js"></script>
          <script src="components/cards/utils/programHeatmapColorChange.service.js"></script>
          <script src="components/cards/voluntaryTerminations.js"></script>
          <script src="components/countdownLatch/Latch.service.js"></script>
          <script src="components/data/DataManager/DataManager.service.js"></script>
          <script src="components/daterange/dateString.filter.js"></script>
          <script src="components/daterange/daterange.directive.js"></script>
          <script src="components/deck/deck.service.js"></script>
          <script src="components/deck/deckBuilder.service.js"></script>
          <script src="components/deckComments/deckComments.controller.js"></script>
          <script src="components/deckDate/dateUtils.service.js"></script>
          <script src="components/deckDate/deckDate.controller.js"></script>
          <script src="components/deckFilters/Filter.service.js"></script>
          <script src="components/deckFilters/deckFilterManager.service.js"></script>
          <script src="components/deckFilters/deckFilters.controller.js"></script>
          <script src="components/deckSettings/deckSettings.controller.js"></script>
          <script src="components/decks/candidate.js"></script>
          <script src="components/decks/financialStatus.js"></script>
          <script src="components/decks/humanCapital.js"></script>
          <script src="components/decks/laborHourReporting.js"></script>
          <script src="components/decks/programCyberSecurity.js"></script>
          <script src="components/decks/programExportInternational.js"></script>
          <script src="components/decks/programOverview.js"></script>
          <script src="components/decks/programStatus.js"></script>
          <script src="components/decks/programs.js"></script>
          <script src="components/decks/requisition.js"></script>
          <script src="components/decks/salesforceLinks.js"></script>
          <script src="components/decks/staffing.js"></script>
          <script src="components/decks/utilization.js"></script>
          <script src="components/deckster/CardManager/CardManager.service.js"></script>
          <script src="components/deckster/DeckManager/DeckManager.service.js"></script>
          <script src="components/deckster/Deckster/Deckster.service.js"></script>
          <script src="components/deckster/decksterCard/decksterCard.directive.js"></script>
          <script src="components/deckster/decksterDeck/decksterDeck.directive.js"></script>
          <script src="components/deckster/decksterPopout/decksterPopout.directive.js"></script>
          <script src="components/deckster/decksterSummaryBar/decksterSummaryBar.directive.js"></script>
          <script src="components/deckster/views/Views.service.js"></script>
          <script src="components/deckster/views/areaChart/areaChart.js"></script>
          <script src="components/deckster/views/barChart/barChart.js"></script>
          <script src="components/deckster/views/boxPlot/boxPlot.js"></script>
          <script src="components/deckster/views/columnChart/columnChart.js"></script>
          <script src="components/deckster/views/columnRangeChart/columnRangeChart.js"></script>
          <script src="components/deckster/views/donutChart/donutChart.js"></script>
          <script src="components/deckster/views/drilldownView/drilldownView.js"></script>
          <script src="components/deckster/views/geoMap/geoMap.js"></script>
          <script src="components/deckster/views/geoMap/leafletMap.js"></script>
          <script src="components/deckster/views/geoMap/map.js"></script>
          <script src="components/deckster/views/geoMap/markerclusterer.js"></script>
          <script src="components/deckster/views/heatmapChart/heatmapChart.js"></script>
          <script src="components/deckster/views/histogramChart/histogramChart.js"></script>
          <script src="components/deckster/views/lineChart/lineChart.js"></script>
          <script src="components/deckster/views/pieChart/pieChart.js"></script>
          <script src="components/deckster/views/quadChart/quadChart.js"></script>
          <script src="components/deckster/views/scatterPlotChart/scatterPlotChart.js"></script>
          <script src="components/deckster/views/splineChart/splineChart.js"></script>
          <script src="components/deckster/views/table/table.js"></script>
          <script src="components/email/email.service.js"></script>
          <script src="components/floating-label/floating-label.directive.js"></script>
          <script src="components/floating-label/jquery.floatinglabel.js"></script>
          <script src="components/headerbar/headerbar.controller.js"></script>
          <script src="components/highcharts/Highcharts.service.js"></script>
          <script src="components/highcharts/SyncCharts.service.js"></script>
          <script src="components/modal/modal.service.js"></script>
          <script src="components/mongoose-error/mongoose-error.directive.js"></script>
          <script src="components/navbar/navbar.controller.js"></script>
          <script src="components/placeholder/placeholder.directive.js"></script>
          <script src="components/sidebar/sidebar.directive.js"></script>
          <script src="components/socket/socket.service.js"></script>
          <script src="components/staffing/ProgramManager.service.js"></script>
          <script src="components/staffing/contract.service.js"></script>
          <script src="components/staffing/program.service.js"></script>
          <script src="components/staticDisplayData/staticDisplayData.service.js"></script>
          <script src="components/themeManager/themeManager.service.js"></script>
          <script src="components/toolbelt/strength-indicator.tpl.js"></script>
          <script src="components/trianglify/trianglify.directive.js"></script>
          <script src="components/ui-select/select.decorators.js"></script>
          <script src="components/utils/utils.service.js"></script>
          <script src="components/vertilize/angular-vertilize.js"></script>
          <!-- endinjector -->
        <!-- endbuild -->
</body>
</html>
