/* Hide the arrows in input type="number" text fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.main-content-wrapper {

  &.data-entry {

    .main-content {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      height: auto;

      .data-entry-wrapper {
        position: relative;
        .data-entry-toolbar-wrapper, .deck-actionbar {


          .content {
            position: relative;
            width: 100%;
            height: 40px;

            .actions {
              position: relative;
              display: inline-block;
              width: auto;
              height: 100%;
              padding: 0;

              a, button {
                width: auto;
                height: 40px;
                display: inline-block;
                padding: 12px 10px 10px 10px;
                margin: 0;
                background: transparent;
                border-bottom: 3px solid darken($orange, 5%);
                border-radius: 0;
                float: left;
                transition: linear .15s all;

                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                span {
                  font-size: 13px;
                  text-transform: capitalize;
                  color: rgba(255, 255, 255, 0.75);
                  transition: linear .15s all;
                }
                .icon {
                  display: none;
                }
                &.btn {
                  padding: 12px 10px 12px 10px;
                  border: none;

                  span {
                    background: #3aa3bf;
                    border: none;
                    padding: 4px 10px 5px 10px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    font-family: 'Roboto-Medium';
                    font-size: 11px;
                    text-transform: uppercase;
                    .light-theme & {
                      background: #f48d70;
                    }
                  }
                }
                &:not([disabled]) {
                  &:hover {
                    border-color: darken($orange, 15%);
                    transition: linear .15s all;

                    span {
                      color: #fff;
                      transition: linear .15s all;
                    }
                  }
                }
              }
              &.right {
                float: right;
              }
              &.left {
                float: left;
                h1{
                  color: #D5D5D5;
                  font-size: 16px;
                  text-transform: uppercase;
                  padding: 10px 20px;
                }

                a {

                  &.btn {

                    span {
                      background: darken($orange, 5%);
                      font-family: 'ops-icons';
                      font-size: 15px;
                      transition: linear .15s all;
                      span{
                        font-family:'Museo Sans', Arial, sans-serif;
                        padding:0 0 0 10px;
                      }
                    }
                    &:hover {

                      span {
                        background: darken($orange, 10%);
                        transition: linear .15s all;
                      }
                    }
                  }
                }
              }
            }
          }
          .status {
            width: 100%;
            height: 20px;
            background: #454545;
            padding: 0 0 0 250px;

            h1 {
              display: block;
              padding: 3px 5px 4px 5px;
              text-transform: uppercase;
              text-align: center;
              line-height: 13px;
              color: #B1B1B1;
            }
          }
        }
        .form-wrapper {
          //padding: 50px 0 0 0;
          height: 100%;
          overflow: auto;
        }
      }
    }
  }
}

.sb-collapsed {

  .content-wrapper {

    .main-content-wrapper {

      &.data-entry {

        .main-content {

          &.form-container {
            //padding: 40px 0 0 60px;

            .data-entry-wrapper {

              .data-entry-toolbar-wrapper {

                .content {
                  padding: 0 0 0 60px;
                }
                .status {
                  padding: 0 0 0 60px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.form-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  background: #fff;
  border-right: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  overflow: auto;

  input, textarea {
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #d5d5d5;
  }

  .insight-select.ui-select-container .ui-select-choices {
    position: absolute !important;
    top: 100% !important;
  }
  .insight-select.ui-select-container .ui-select-toggle {
    padding: 8px 0 15px 0;
    line-height: normal;
  }
  .insight-select.ui-select-container .ui-select-search {
    padding: 7px 0 13px 0;
  }
}

.form-entry, .form-overview {

  .content {
    padding: 20px 20px 250px 20px;
    &.progcontent{
      padding-top:65px;
    }
    &.padtop{
      padding-top:110px;
    }
    .header {
      position: relative;
      padding: 0px 0 16px 0;

      h1 {
        position: relative;
        display: block;
        width: 100%;
        font-size: 18px;
        text-transform: capitalize;
        z-index: 1;
      }
      span {
        position: absolute;
        top: 1px;
        display: block;
        width: 100%;
        font-size: 12px;
        text-transform: uppercase;
        text-align: right;
        color: #858585;

        &.error {
          color: red;
        }
      }
    }

    .body {
      position: relative;
      padding: 0 0 10px 0;

      .notices {
        padding-bottom: 20px;
        #errorListHeader {
          padding:14px 0 12px 0;
          h2 {
            color: #ffffff;
            font-size: 1.4em;
            font-weight: 700;
            padding-left: 68px;
          }
        }
        ul {
          padding: 0 0 16px 0;
          background: #f03c3c;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
          li {
            border-top: 1px solid rgba(255, 255, 255, .075);
            padding: 7px 25px 7px 30px;
            a {
              color: white;
              font-weight: 500;
              font-size:1.1em;
              padding-left:8px;
            }
            .icon {
              font-size: 1.4em;
              margin-right: 10px;
              color: white;
              padding-bottom: 3px;
            }
          }
        }
      }

      .section {
        width: 100%;
        padding: 0 0 10px 0;
        h1 {
          display: block;
          width: 100%;
          padding: 0 0 10px 0;
          font-size: 14px;
          text-transform: uppercase;
          color: #3aa3bf;
          .light-theme & {
            color: #f48d70;
          }

          span {
            text-transform: lowercase;
          }
        }
        .row {
          width: 100%;
          padding: 0;
          margin: 0;

          label {
            display: block;
            width: 100%;
            padding: 3px 0;
            font-size: 12px;
            text-transform: uppercase;
            color: #858585;
          }
          input[type=text], input[type=number], input[type=date] {
            display: block;
            width: 100%;
            border-bottom: 1px solid #efefef;
            padding: 7px 0 13px 0;
            font-size: 14px;
            text-transform: capitalize;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
              border-color: #9dd1df;
              .light-theme & {
                border-color: #f1ba75;
              }
            }
            &:focus {
              border-color: #3aa3c0;
              .light-theme & {
                border-color: #f1921e;
              }
            }
          }
          textarea {
            display: block;
            width: 100%;
            border-bottom: 1px solid #d5d5d5;
            padding: 8px 0 15px 0;
            font-size: 14px;
            resize: none;

            &:hover {
              border-color: #9dd1df;
            }
            &:focus {
              border-color: #3aa3c0;
            }
          }
          input[type=radio] {
            display: none;
          }
          input[type=radio] + label:before {
            display: inline-block;
            background: #d5d5d5;
            font-family: 'custom-icons';
          }
          input[type=radio]:enabled:not(.active) + label:hover:before {
            background: #000;
            transition: linear .15s all;
          }
          input[type=radio]:checked + label {
            color: #000;
          }
          input[type=radio] + label:before {
            position: absolute;
            top: 5px;
            left: 0;
            padding: 5px;
            font-family: 'ops-icons';
            font-size: 12px;
            font-weight: bold;
            line-height: normal;
            color: #fff;
            content: "\e61c";
            background: #d5d5d5;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
            border-radius: 100px;
            -khtml-border-radius: 100px;
            transition: linear .15s all;
          }
          input[type=radio]:checked + label:before {
            content: "\e61c";
            background: #000;
          }
          input[type=radio]:checked + label {
            color: #000;
          }
          .input-container {
            width: 50%;
            float: left;
            transition: linear .15s all;

            &:nth-child(even) {
              padding: 0 0 20px 0px;
            }
            &:nth-child(odd) {
              padding: 0 20px 20px 0;
            }
            .insight-select {

              &.ui-select-container {

                .ui-select-toggle {
                  padding: 7px 0 13px 0;
                }
                &.open {

                  .form-control {
                    padding: 6px 0 11px 0;
                  }
                }
              }
            }
            .selection-container {
              width: 100%;
              border-bottom: 1px solid #d5d5d5;

              .radio-container {
                position: relative;
                width: 33.33%;
                float: left;

                label {
                  padding: 9px 10px 14px 40px;
                  font-size: 14px;
                  text-transform: capitalize;
                  color: #a5a5a5;

                  &:hover {
                    cursor: pointer;
                  }
                }
                &.green {

                  input[type=radio]:enabled:not(.active) + label:hover:before {
                    background: #93d700;
                  }
                  input[type=radio]:checked + label {
                    color: #000;
                  }
                  input[type=radio]:checked + label:before {
                    background: #93d700;
                  }
                }
                &.yellow {

                  input[type=radio]:enabled:not(.active) + label:hover:before {
                    background: #ecc96a;
                  }
                  input[type=radio]:checked + label {
                    color: #000;
                  }
                  input[type=radio]:checked + label:before {
                    background: #ecc96a;
                  }
                }
                &.red {

                  input[type=radio]:enabled:not(.active) + label:hover:before {
                    background: #f25050;
                  }
                  input[type=radio]:checked + label {
                    color: #000;
                  }
                  input[type=radio]:checked + label:before {
                    background: #f25050;
                  }
                }
                &.notAvailable {

                  input[type=radio]:enabled:not(.active) + label:hover:before {
                    background: #888888;
                  }
                  input[type=radio]:checked + label {
                    color: #000;
                  }
                  input[type=radio]:checked + label:before {
                    background: #888888;
                  }
                }
              }
              &:hover {
                border-color: #9dd1df;
              }
            }
            .collapse {
              width: 100%;
              height: 0;
              padding: 0;
              transition: linear .15s all;

              .textarea-container {

              }
              &.in {
                height: 130px;
                padding: 15px 0 0 0;
                transition: linear .15s all;
              }
            }
            .attachment-container {

            }
            .attachment-list {

              .entry {
                position: relative;
                width: 100%;
                padding: 0 0 10px 0;

                span {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 18px;
                  height: 18px;
                  background: #000;
                  padding: 3px;
                  -moz-border-radius: 3px;
                  -webkit-border-radius: 3px;
                  border-radius: 3px;
                  -khtml-border-radius: 3px;
                  font-size: 12px;
                  text-align: center;
                  color: #fff;

                  &.image {
                    background: #f1921e;
                  }
                  &.pdf {
                    background: #f25050;
                    padding-top: 4px;
                    font-family: 'roboto-medium';
                    font-size: 8px;
                    font-weight: bold;
                  }
                  &.doc {
                    background: #3aa3bf;
                    padding-top: 1px;
                    font-size: 11px;
                    font-weight: bold;
                  }
                  &.excel {
                    background: #93d700;
                    padding-top: 1px;
                    font-size: 11px;
                    font-weight: bold;
                  }
                }
                h1 {
                  padding: 0 0 0 30px;
                  font-size: 14px;
                  text-transform: none;
                  line-height: 18px;
                  color: #000;
                }
                a {
                  position: absolute;
                  top: 0;
                  right: 0;
                  font-size: 12px;
                  text-transform: capitalize;
                  color: #858585;
                  float: right;

                  &:hover {
                    color: #3aa3bf;
                  }
                }
                &:first-child {
                  margin-top: 20px;
                }
                &:last-child {
                  padding: 0;
                }
              }
            }
            &.validation {

              ::-webkit-input-placeholder {
                color: #ef7f7f;
              }
              :-moz-placeholder {
                color: #ef7f7f;
              }
              ::-moz-placeholder {
                color: #ef7f7f;
              }
              :-ms-input-placeholder {
                color: #ef7f7f;
              }
              input[type=text] {
                border-color: #f25050;
              }
              span {
                display: inline-block;
                padding: 10px 0 0 0;
                font-family: 'roboto-medium';
                font-size: 12px;
                color: #f25050;
              }
            }
          }
          .textarea-container {
            width: 100%;
            float: left;
          }
        }
      }
      &#heatmap, &#info {

        .section {
          padding: 0;
          .well-lg {
            padding: 10px 0 10px 0;
            border-radius: 3px;
            transition: linear .15s all;
          }

          .well {
            background-color: #fff;
            border-bottom: 1px solid #f5f5f5;
            border-right: 0px solid #fdfdfd;
            border-left: 0px solid #fdfdfd;
            border-top: 1px solid #fdfdfd;
          }

          .input-container {
            p.ng-binding {
              display: inline-block;
              font-size: 14px;
              text-transform: uppercase;
              color: #858585;
            }
            .selectMonth {
              font-size:23px;
              width:210px;
              display: inline-block;
              h1 {
                font-size: 16px;
                span {
                  padding-left: 8px;
                  font-size: 14px;
                }
              }
            }

            &:nth-child(odd) {
              padding: 0 20px 20px 0;
            }
            &:nth-child(even) {
              padding: 0 0 20px 20px;
            }
          }
        }
      }
    }
  }
}

.form-entry {
  position: relative;
  width: 100%;
  height: auto !important;
  min-height: 100%;
  padding: 0 350px 0 0;
  background: #fff;
  border-left: 1px solid #e0e0e0;
  transition: linear .15s all;
}

.form-overview {
  position: fixed;
  top: 100px;
  right: 0;
  width: 350px;
  min-height: 100%;
  background: #fff;
  border-left: 1px solid #e0e0e0;
  z-index: 1;
  transition: linear .15s all;
  &.top140{
    top:140px;
  }

  .content {

    .header {

    }
    .body {

      h1 {
        display: block;
        width: 100%;
        padding: 0 0 15px 0;
        font-size: 14px;
        text-transform: uppercase;
        color: #000;
      }
      .section {

        h2 {
          display: block;
          width: 100%;
          padding: 0 0 10px 0;
          font-size: 14px;
          text-transform: uppercase;
          color: #3aa3bf;
        }
        label {
          display: block;
          width: 100%;
          padding: 0 0 10px 0;
          font-size: 12px;
          text-transform: uppercase;
          color: #858585;
        }
        p {
          padding: 0 0 10px 0;
          font-size: 14px;
          color: #000;
        }
      }
    }
  }
}

.sidebar {

  .sidebar-wrapper {

    label {

      .content-sidebar {

        &.program-form-sidebar {

          ul {

            li {

              .incomplete-label {
                display: none;
              }
              &:not(.valid) {

                .incomplete-label {
                  display: inline-block;
                }
                .complete-label {
                  display: none;
                }
              }
              &.active {

                span.check {
                  display: none;
                }
                &.valid {

                  span.check {
                    display: inline-block;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.collapsed {

    .sidebar-wrapper {

      label {

        .content-sidebar {

          &.program-form-sidebar {

            ul {

              li {

                &.active {

                  &.valid {

                    span.check {
                      display: none;
                    }
                  }
                }
                &:not(.valid) {

                  .incomplete-label, .complete-label {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.form-footer {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  height: 45px;
  padding: 0 350px 0 0;
  line-height: 40px;
  text-align: center;

  a:hover {
    border-color: #282828;
  }
  a.btn, button.btn {
    width: auto;
    display: inline-block;
    border-bottom: 3px solid rgba(255, 255, 255, .1);
    padding: 5px 10px;
    background: #282828;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;

    &:not(:last-child) {
      margin: 0 8px 0 0;
    }
    span {
      font-size: 11px;
      color: #fff;
    }
    &:hover {
      background: #151515;
    }
    &.white {
      background: #FFF;
      border: 1px solid #d5d5d5;

      span {
        color: #000;
      }
      &:hover {
        background: #d5d5d5;
      }
    }
  }

  a, button {
    outline: none;
    vertical-align: inherit;

    &.btn {
      background: #3aa3bf;
      border: 1px solid #3aa3bf;
      padding: 3px 10px 4px 10px;

      &.white {
        background: #fff;
        border: 1px solid #d5d5d5;

        span {
          color: #858585;
          transition: linear .15s all;
        }
        &:hover {
          background: #fff;

          span {
            color: #000;
            transition: linear .15s all;
          }
        }
      }
    }
    &:hover {
      background: #187f9b;
      border-color: #187f9b;
    }
    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
    }
  }
}

@media only screen and (max-width: 1360px) {

  .form-entry {

    .content {

      .body, .body#heatmap {

        .section {

          .row {

            .input-container {
              width: 100%;
              transition: linear .15s all;

              &:nth-child(even) {
                padding: 0 0 20px 0;
              }
              &:nth-child(odd) {
                padding: 0 0 20px 0;
              }
            }
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 1260px) {

  .form-entry {

    .content {

      .header {

        span {
          position: relative;
          top: inherit;
          padding: 10px 0 0 0;
          text-align: left;
        }
      }
    }
  }

}

@media only screen and (max-width: 800px) {

  .form-entry {
    padding: 0;
    transition: linear .15s all;
  }
  .form-overview {
    right: -350px;
    transition: linear .15s all;
  }

}

@media only screen and (max-width: 680px) {

  .main-content-wrapper {

    &.data-entry {

      .main-content {

        .data-entry-wrapper {

          .data-entry-toolbar-wrapper {

            .content {

              .actions {

                a {

                  span {
                    display: none;
                  }
                  .icon {
                    display: inline-block;
                  }
                  &.btn {
                    padding: 10px;

                    span {
                      padding: 5px 10px;
                      font-family: 'ops-icons';
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}


.popover.top
{
}
.popover {
  width:600px !important;
  max-width: 600px;
  display: block;

}

.popTips {
  &.popTipsfont {
    font-size:12px;
    line-height:1em;
    color:#858585;
  }
  ul {
    list-style-type: disc;
    li {
      margin: 1em 0;
    }
    ul {
      padding: 0px 25px;

      li {
        list-style-type: square;
      }
    }
  }

  th {
    font-size:14px;
    padding:4px 0 6px 0;
    text-align: center;
    &:first-child {
      padding-right: 18px;
    }
    &:nth-child(2){
    }
    &:last-child {
      padding-left: 12px;
    }
  }

    td {
      font-size: 12px;
      padding: 0 0 13px 0;
      color: #858585;
      margin: 0 10px 0 0;

      &:first-child {
        padding-left: 12px;
        padding-right: 13px;
        width: 32%;
        border-right: 1px solid #f5f5f5;
      }
      &:nth-child(2) {
        border-right: 1px solid #f5f5f5;
        padding-left: 26px;
        padding-right: 12px;
        width: 33%;
      }
      &:last-child {
        padding-left: 26px;
        width: 33%;
      }
    }

  .instructNa {
    text-align: center;
    border-top:1px solid #f5f5f5;
    padding-top:10px;
    ul {
      li {
        list-style-type: none;
      }
    }
    th {
      padding-top:20px;
    }
    td {
      &:first-child {
        border-right:none;
      }
      }
    }
  }


.rotate180 {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  display: inline-block;
}


.admindate-actionbar {
  background: #fff;
  border-color: #d9dfe3;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
  height:40px;
  .admindate-pick {
  text-align:center;
    padding:12px 0 0 0;
    .input-container{
      a {
        background: #c8d4dc;
        padding: 4px 6px 6px 8px;
        border-radius: 3px;
        span {
          font-size: 11px;
          color: #fff;
        }
      }
      .date-label p {
        font-size: 12px;
        text-transform: uppercase;
        color: #858585;
        padding-left:10px;
      }
    }
}
}


.form-overview {

  .content {
    padding: 20px;

    .header {
      position: relative;
      padding: 0px 0 16px 0;

    }
  }
}




#programMetadata {
  a.table-export-btn {
    position: absolute;
    top: 15px;
    right: -7px;
    color: #7c909d;
    font-size: 16px;
  }
}

.pagination-detail {
  padding-left:20px;
  color: #979797;
}


.fixed-table-pagination li.disabled a {
  background-color: #353535;
  border:1px solid #808080;
  .light-theme & {
    background-color: #fff;
  }
}

.pagination {
  li {
    .page-last-separator {
      background-color: #353535;
      color: #a9a9a9;
    }

    a {
      background-color: #353535;
      border: 1px solid #6B6B6B;
      color: #a9a9a9;
      &:hover {
        background-color: #545454;
        color: #a9a9a9;
      }
    }
  }
  .active {
    a {
      background-color: #545454;
      border-color: #5c919f;
      color: #fff;
      &:hover {
        background-color: #b4c5d0;
      }
    }
  }
  .light-theme & {
    li {
      a {
        color: #949494;
        background-color: #fff;
        border: 1px solid #ddd;
        &:hover {
          background-color: #F1F1F1;
        }
      }
    }
    .active {
      a {
        background-color: #F1F1F1;
        border-color: #D6B7AE;
        color: #7D7D7D;
        &:hover {
          background-color: #d1c5b3;
        }
      }
    }
  }
}


  @media screen and (max-width: 767px) {
    .table-responsive {
      border: 1px solid #424141;
      .light-theme & {
        border: 1px solid #5A5A5A;
      }
    }
  }

  .table-responsive {
    border: 1px solid #424141;
    .light-theme & {
      border: 1px solid #DCDCDC;
    }
  }


//Program Metadata table

.light-theme .bootstrap-table .table tbody tr td.colored {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  &.green {
    background-color: $green;
  }
  &.yellow {
    background-color: $yellow;
  }
  &.red {
    background-color: $red;
  }
  &.null {
    background-color: $ns;
    color: #fff;
  }
  &.na {
    background-color: $na;
    color: #fff;
  }
}
