<div class="drawer-header">
  Update Info
</div>
<div class="drawer-body">
  <div class="form-modal-header">
    <h2>{{ form.title }}</h2>
  </div>
  <div class="form-modal-body">
    <div class="form-modal-vertical-tabs">
      <ul>
        <li ng-class="{active: form.activeTab.name === tab.name}" ng-click="form.selectTab(tab)" ng-repeat="tab in form.tabs" ng-show="form.display(tab.displayTab)">
          <a href="#">
            <span ng-if="tab.shortName"> {{ tab.shortName }}</span>
            <span ng-if="tab.iconClass" class="{{ tab.iconClass }}"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="form-modal-body-content">
      <div class="section {{ tab.class }}" ng-repeat="tab in form.tabs" ng-class="{active: form.activeTab.name === tab.name}" ng-if="form.activeTab.name === tab.name">
        <div class="form-modal-section-header">
          <h3 ng-if="tab.name">{{ tab.name }}</h3>
        </div>
        <div class="form-modal-section-body {{ contentSection.class }}" ng-repeat="contentSection in tab.sections">
          <h4 ng-if="contentSection.title">{{ contentSection.title }}</h4>
          <div class="form-modal-form col-2 clearfix">
            <div class="form-modal-field clearfix {{field.class}}" ng-repeat="field in contentSection.fields">
              <div class="form-modal-input clearfix" ng-if="field.type === 'dropdown'">
                <label>{{ field.name }}
                  <a href="#"><span class="ops-icon-info"></span></a>
                </label>
                <span class="icon-custom ops-icon-keyboard-arrow-down"></span>
                <select  class="chosen-select" chosen
                         ng-placeholder="{{ field.placeholder || field.name }}"
                         placeholder-field="data-placeholder"
                         ng-model="field.value"
                         ng-options="o for o in field.options">
                  <option value=""></option>
                </select>
              </div>
              <div class="form-modal-input clearfix" ng-if="field.type === 'text'">
                <label>{{ field.name }} <a href="#"><span class="ops-icon-info"></span></a></label>
                <input type="text" ng-model="field.value" placeholder="{{ field.name }}" />
              </div>
              <div class="form-modal-input clearfix" ng-if="field.type === 'radio'">
                <label>{{ field.name }}  <a href="#"><span class="ops-icon-info"></span></a></label>
                <div class="form-modal-check" ng-repeat="option in field.options">
                  <input type="radio" id="{{ field.name + option.text }}" ng-model="field.value" value="{{ option.value }}" />
                  <label for="{{ field.name + option.text }}">
                    {{ option.text }}
                  </label>
                </div>
              </div>
              <div class="form-modal-input textarea" ng-if="field.type === 'textarea'">
                <label>{{ field.name }}</label>
                <textarea placeholder="{{ field.placeholder || field.name }}" ng-model="field.value"></textarea>
              </div>
              <div ng-if="field.type === 'html'" bind-html-compile="field.content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="drawer-footer" style="height: 50px; z-index: 1;">
  <a class="btn {{ button.color }}" ng-repeat="button in form.activeTab.footerButtons" ng-click="button.onClick(form)" ng-if="form.activeTab.footerButtons.length > 0 && form.display(button.displayButton)">
    <span>{{ button.text }}</span>
  </a>
</div>
