<div class="drawer-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="drawer-body">
  <p ng-if="modal.text" ng-bind="modal.text"></p>
  <div ng-if="modal.html" ng-bind-html="modal.html"></div>
</div>
<div class="drawer-footer">
  <a ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" class="btn"><span>{{button.text}}</span></a>
</div>
