$default-border: 1px solid #d5d5d5;

.modal-backdrop.in {
  opacity: 0.05;
}

.modal {

  &.in {

    .modal-dialog {
      min-width: inherit;
      max-height: 100%;
      overflow: auto;
      transition: linear .15s all;

      .modal-content {
        max-width: 540px;
        margin: 0 auto;
      }
    }
  }
}

.modal {
	padding: 123px 0 0 250px;
	overflow: hidden;
  z-index: 1051 !important;
  transition: linear .15s all;

  &.form-modal {
    padding: 0;

    .modal-dialog {
      width: 100%;
      padding: 0 0 120px 300px;
      margin: 80px 0 0 0;

      .modal-content {
        width: 100%;
        max-width: 880px;
        background: transparent;
        padding: 0 40px;
      }
    }
  }
  &.program-selection-modal {

    .drawer-body {
      padding: 0;
    }
  }
}
.sb-collapsed {

	.modal {
		padding: 110px 0 0 60px;
		transition: linear .15s all;

    &.form-modal {
      padding: 0;

      .modal-dialog {
        padding: 0 0 120px 60px;
      }
    }
  }
}

.datepicker-modal {
  &.single {
    .modal-dialog {
      width: 237px;
    }
  }
}

.modal-dialog {
  width: 540px;
  padding: 0;
  margin: 0 auto;
  transition: linear .15s all;

  .modal-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border: none;

    .drawer-body {

      h5 {
        color: lighten($blue, 5%);
        text-transform: uppercase;
	      font-size: 14px;
      }

      h6 {
        color: $medium-grey;
        font-size: 12px;
      }
    }
  }
}

.modal-header {
  position: relative;
  width: 100%;
  height: 60px;
  background: lighten($blue, 5%);
  border-radius: 4px 4px 0 0;
  padding: 0 20px;
  color: #fff;
  line-height: 60px;

  .modal-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: inherit;
    color: #fff;
  }
  .modal-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    background: $blue;
    font-size: 20px;
    border-radius: 0 4px 0 0;
    @include transition(background 0.05s linear);

    &:hover, &:active {
      background: darken($blue, 2%);
    }
  }
}

.modal-body {
  padding: 20px;
  z-index: 1;

  input[type="text"], input[type="number"], textarea {
    height: 35px;
    margin: 10px 0;
    width: 100%;
    padding: 8px;
  }
  textarea {
    height: auto;
    color: black;
  }
  tags-input .tags {
    margin: 10px 0;
  }
}

.modal-footer {
  border-radius: 0 0 4px 4px;
  padding: 15px 20px;
  height: 65px;
  position: relative;
  @extend .no-select;
  .btn {
    font-weight: 600;
    padding: 9px 12px;
  }
  .left-buttons {
    position: absolute;
    left: 20px;
    z-index: 1;
  }
  .right-buttons {
    position: absolute;
    right: 20px;
    z-index: 1;
  }
}

#batchmodal {
  .drawer-header {
    span {
      font-size: 14px;
    }
  }

  .section {
    label {
      display: block;
      width: 100%;
      padding: 3px 0;
      font-size: 12px;
      text-transform: uppercase;
      color: #858585;
    }
  }
}






// Card Wizard Styling

.wizard-modal {
  tags-input {
    .tags {
      min-height: 35px;
    }
    .autocomplete {
      margin-top: -13px;
      max-height: 100px;
      overflow-y: scroll;
    }
  }
  .ns-popover-tooltip-theme {
    z-index: 1000;
    h5 {
      margin-bottom: 15px;
    }
    h6 {
      margin-bottom: 0;
    }
    button {
      font-weight: 600;
      margin-bottom: 4px;
    }
  }
  .modal-body {
    max-height: 350px;
    overflow-y: auto;
  }
  .wizard-section.ng-enter {
    opacity: 0;
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: opacity 1s;
  }

  .wizard-section.ng-enter.ng-enter-active {
    opacity: 1.0;
  }
  .wizard-section.ng-enter {
    opacity: 0;
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: opacity 1s;
  }

  .wizard-section.ng-enter.ng-enter-active {
    opacity: 1.0;
  }
  ul.wizard-steps {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 30px;
    padding: 0;
    li.step {
      @extend .no-select;
      font-size: 20px;
      color: #9B9B9B;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      vertical-align: middle;
      height: 12px;
      width: 12px;
      border: 2px solid #9B9B9B;
      border-radius: 50%;
      margin: 0 5px;
      padding: 0;
      @include transition(background 0.15s linear);
      &:hover {
        color: lighten($medium-grey, 10%);
      }

      &.active {
        background: #9B9B9B;
      }
      .step-name {

      }
    }
  }
  .card-thumb-wrapper {
    height: 135px;
    width: 25%;
    display: inline-block;
    padding: 5px;
    .card-thumb {
      cursor: pointer;
      background: #EBEBEB;
      border: 1px solid #E1E1E1;
      height: 100%;
      box-shadow: 0 2px 6px -4px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      position: relative;
      @include transition(all 0.15s linear);
      &:hover {
        border-color: #d7d7d7;
      }
      .card-header {
        -webkit-border-top-left-radius: 2px;
        -webkit-border-top-right-radius: 2px;
        -moz-border-radius-topleft: 2px;
        -moz-border-radius-topright: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-color: #E1E1E1;
        background: $light-grey;
        border-bottom: 1px solid #D5D5D5;
        padding: 5px 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 11px;
      }
      &.active {
        box-shadow: 0 0 6px 0 $blue;
      }
      img {
        margin-top: 13px;
        height: 50%;
        position: absolute;
        @extend .center-all;
      }
    }
  }
  .left-buttons {
    line-height: 30px;
  }
  .step-index {
    color: #9B9B9B;
    display: inline-block;
    border: 2px solid #9B9B9B;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 15px;
    font-size: 11px;
    vertical-align: middle;
  }
  .step-name {
    color: #9B9B9B;
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
    vertical-align: middle;
  }
  .view-choice {
    cursor: pointer;
    background: #EBEBEB;
    width: 200px;
    display: inline-block;
    margin: 0;
    font-size: 90px;
    text-align: center;
    padding: 10px 0;
    border-radius: 3px;
    color: #CCC;
  }

  .data-form {

    .data-form-column {
      width: 50%;
      float: left;
      padding-right: 10px;

      &:nth-child(even) {
        padding-right: 0;
        padding-left: 10px;
      }
    }
  }
}

.modal-primary,
.modal-info,
.modal-success,
.modal-warning,
.modal-danger {
  .modal-header {
    color: #fff;
  }
}

.modal-primary .modal-header {
  background: $brand-primary;
}

.modal-info .modal-header {
  background: $brand-info;
}

.modal-success .modal-header {
  background: $brand-success;
}

.modal-warning .modal-header {
  background: $brand-warning;
}

.modal-danger .modal-header {
  background: $brand-danger;
}

.minimal-modal {
  top: 0;
  a:hover {
    border-color: #282828;
  }
  a.btn, button.btn {
    width: auto;
    display: inline-block;
    border-bottom: 3px solid rgba(255, 255, 255, .1);

    padding: 5px 10px;
    background: #282828;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;

    &:not(:last-child) {
      margin: 0 8px 0 0;
    }
    span {
      font-size: 11px;
      color: #fff;
    }
    &:hover {
      background: #151515;
    }
    &.white {
      background: #FFF;
      border: 1px solid #d5d5d5;

      span {
        color: #000;
      }
      &:hover {
        background: #d5d5d5;
      }
    }
  }

  .drawer-header {
    position: relative;
    width: 100%;
    background: #4eb7c7;
    padding: 7px 15px 8px 15px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #fff;
  }
  .drawer-body {
    position: relative;
    width: 100%;
    padding: 15px;
    background: #fff;
    overflow: hidden;

    h4 {
      font-weight: 600;
      font-size: 14px;

      &.label-default {
        background: #CCC;
        font-weight: normal;
      }
    }
    h5 {
      padding: 0;
      margin: 0;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: normal;
      color: #000;
    }
    .inline-subtitle {
      display: inline-block;
      top: 1px;
      position: relative;
    }
    .filter-search-wrapper {
      padding: 0 0 20px 0;

      .md-chips {
        padding: 0 0 10px 0;
        border-bottom: 1px solid #d5d5d5;
        box-shadow: none;

        .md-chip-input-container {
          width: 100%;
          padding: 0;
          margin-right: 0;
          border: none;

          input {
            border: none;
            box-shadow: none;
          }
        }
        .md-chip {
          height: 32px;
          background: #4CAEBD;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          padding: 2px 7px;
          margin: 13px 15px 0 0;
          line-height: normal;

          .md-chip-content {
            padding: 2px 22px 0px 8px;

            span {
              text-transform: uppercase;
              font-size: 12px;
              font-weight: bold;
              color: #fff;
            }
          }
          .md-chip-remove {
            md-icon {
            position:relative;
            top:6px;
            padding-right:2px;
            left:0%;
            color:rgba(255,255,255,.54);
            &:hover {
              color: rgba(255, 255, 255, .80);
            }
            }
          }

          .md-chip-remove-container {
            height: 24px;
            margin-right: -5px;
            margin-top: 3px;

            .md-chip-remove {
              height: 100%;

              .md-default-theme {

                svg {
                  fill: rgba(255, 255, 255, 0.75);
                }
                &:hover {

                  svg {
                    fill: rgba(255, 255, 255, 1);
                  }
                }
              }
            }
          }
        }
        &.md-focused {
          border-color: #49dcca;
          box-shadow: none;
        }
      }
      &:last-child {

        .md-chips {
          margin: 0;
        }
      }
    }

  }
  .drawer-footer {
    position: relative;
    width: 100%;
    padding: 12px 0 13px 0;
    background: #E9E9E9;
    border-top: 1px solid #d5d5d5;
    border-radius: 0 0 5px 5px;
    text-align: center;

    a, button {
      outline: none;
      vertical-align: inherit;

      &.btn {
        background: #3aa3bf;
        border: 1px solid #3aa3bf;
        padding: 3px 10px 4px 10px;

        &.white {
          background: #fff;
          border: 1px solid #d5d5d5;

          span {
            color: #858585;
            transition: linear .15s all;
          }
          &:hover {
            background: #fff;

            span {
              color: #000;
              transition: linear .15s all;
            }
          }
        }
      }
      &:hover {
        background: #187f9b;
        border-color: #187f9b;
      }
      &:focus {
        outline: none;
      }
      &:active {
        outline: none;
      }
    }
  }

  &.slideInDownCenter {
    -webkit-animation-name: slideInDownCenter;
    animation-name: slideInDownCenter;
  }

  &.animated {
    -webkit-animation-duration: .25s;
    animation-duration: .25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  md-checkbox {
    margin: 8px 0;
  }
}

.datepicker-modal {

  .modal-dialog {

    .modal-content {

      .drawer-body {
        padding: 0;
      }
      [date-range] div table:first-child tr td[valign="top"] {
        border-bottom: 1px solid #D5D5D5;
        &:last-child {
          border-left: 1px solid #D5D5D5;
        }
      }
      [date-picker] span {
        border-radius: 0;
        margin: 0;
      }
      .date-picker {
        padding: 0;
        border-radius: 0;
      }
      daterange {

        table {

          thead {
            width: 100%;
            height: 30px;

            tr {
              background: transparent;
              padding: 0;
              color: #fff;
              line-height: 22px;
              transition: all .15s linear;

              &:first-child {
                width: 100%;
                height: 100%;
                background: #61cddd;

                th:nth-child(odd) {
                  background: #51b8c7;

                  &:hover {
                    background: #48a5b3;
                  }
                }
              }
              &:nth-child(even) {

                th {

                  small {
                    color: #fff;
                  }
                }
              }
            }
          }
          tbody {
            border: none;

            tr {

              td {
                .btn {
                  &.btn-default {
                    border-radius: 0;
                  }
                }
                &.start-date {
                  .btn {
                    &.btn-default {
                      border-radius: 0;
                    }
                  }
                }
                &.end-date {
                  .btn {
                    &.btn-default {
                      border-radius: 0;
                    }
                  }
                }

                button {
                  padding: 6px 10px 9px 10px;
                  background: transparent;

                  span {
                    color: #858585;
                  }
                  &:disabled {
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                    filter: alpha(opacity=50);
                    opacity: 0.5;
                  }
                  &.active {

                    span {
                      color: #353535;
                    }
                  }
                }
                &.start-date, &.in-range, &.end-date {

								  button {
									  background: #545454;

                    span {
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
        td {
          border-radius: 0;
        }
      }
    }
  }
}

[date-picker] .active, [date-picker] .after.before {
  text-shadow: none !important;
  font-weight: 700;
}

[date-range] [date-picker] .after.before, [date-range] [date-picker] .after.before.disabled {
  color: #FFF !important;
  text-shadow: none;
  background-color: #48DCCA;
  background-image: none;
  border-color: transparent;
}

[date-range] [date-picker] .after.before.active {
  color: #FFF !important;
  background-color: #48DCCA;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

[date-range] [date-picker] .after.before:hover {
  background-color: #48DCCA;
}

[date-picker] .active.active:not(.before) {
  color: #FFF !important;
  background-color: #48DCCA;
  background-image: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.ranges {
  width: 100%;
  padding: 0;
  clear: both;
  border-top: 1px solid #454545;

  .range_inputs {

    div[class*="daterangepicker_"] {
      width: 50%;
      float: left;
      text-align: center;

      label {
        display: block;
		    padding: 0 0 15px 0;
		    font-size: 12px;
		    text-transform: uppercase;
		    color: #4aaec8;
		    width: auto;
		    display: inline-block;
		    margin-right: 5px;
      }
      input {
      	width: 100%;
		    background: transparent;
		    border: none;
		    border-radius: 0;
		    padding: 0 0 5px 0;
		    font-size: 14px;
		    line-height: normal;
		    width: 120px;
		    display: inline-block;
      }
    }
    .daterangepicker_start_input {
      padding: 15px 6px 5px 15px;
    }
    .daterangepicker_end_input {
      padding: 15px 15px 5px 6px;
    }
    .daterangepicker_controls {
      width: 100% !important;
      padding: 10px 0;
      background: #f5f5f5;
      border-top: 1px solid #d5d5d5;
      text-align: center;

      button {
        margin: 0 5px 0 0;
        width: 125px;

        &.cancelBtn {
          color: #858585;
          transition: all .15s linear;

          &:hover {
            color: #000;
            background: #fff;
            transition: all .15s linear;
          }
        }
        &.applyBtn {
          background: #353535;
          border-color: #353535;
          transition: all .15s linear;

          &:hover {
            background: #282828;
            transition: all .15s linear;
          }
        }
        &:last-child {
          margin: 0 0 0 5px;
        }
      }
    }
  }
}

daterange .well table thead tr:first-child th:nth-child(even) .btn {
  height: 30px;
  padding: 5px;
  vertical-align: top;
}

.modal-dialog {
  left: 0;
}

.sb-collapsed {

  .modal-dialog {
    left: 0;
  }
}

@media screen and (max-width: 600px) {
  .wizard-modal {
    .card-thumb-wrapper {
      width: 100%;
      min-height: 200px;
    }
  }
}

.form-modal-header {
  position: relative;
  width: 100%;
  height: 30px;
  background: #fff;
  border-bottom: $default-border;
  z-index: 2;

  h2 {
    display: block;
    padding: 7px 8px 9px 8px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #858585;
  }
}

.form-modal-body {
  width: 100%;

  .form-modal-vertical-tabs {
    position: absolute;
    width: 60px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #d5d5d5;
    z-index: 1;

    ul {
      width: 100%;

      li {
        width: 100%;
        height: 40px;
        border-bottom: $default-border;

        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 12px;
          text-align: center;
          border-left: 3px solid #e0e0e0;
          transition: all .15s linear;

          span {
            font-size: 14px;
            color: #858585;
            transition: all .15s linear;
          }
          border-bottom: none;
        }
        &:hover, &.active {

          a {
            border-color: #3aa3bf;
            transition: all .15s linear;

            span {
              color: #000;
              transition: all .15s linear;
            }
          }
        }
      }
    }
  }
  .form-modal-body-content {
    padding: 0 0 0 60px;
    overflow: scroll;

    .section {
      display: none;
      width: 100%;
      padding: 35px 40px 40px 40px;

      .title {
        padding: 0 0 10px 0;
        font-size: 24px;
        color: #858585;
      }
      .subtitle {
        display: inline-block;
        width: 100%;
        padding: 0 0 10px 0;
        font-size: 18px;
        font-weight: normal;
        color: #000;
      }

      .form-modal-section-header {
        position: relative;
        width: 100%;
        padding: 0 0 10px 0;

        h3 {
          padding: 0 0 10px 0;
          font-size: 24px;
          color: #858585;
        }
        p {
          padding: 0 0 10px 0;
          font-size: 14px;
          line-height: 24px;
          color: #858585;
        }
        .form-modal-section-controls {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          width: auto;

          a {
            display: inline-block;
            background: lighten($orange,10%);
            border: $default-border;
            border-color: lighten($orange,10%);
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -khtml-border-radius: 3px;
            padding: 5px 10px;
            margin: 0 5px 0 0;

            p {
              display: block;
              font-size: 11px;
              line-height: normal;
              text-transform: uppercase;
              text-align: center;
              color: #fff;
            }
            &:hover {
              background: #e1ba54;
              border-color: #e1ba54;
            }
            &:last-child {
              margin: 0 0 0 5px;
            }
          }
        }
      }
      .form-modal-section-body {

        h4 {
          display: block;
          padding: 0 0 10px 0;
          margin: 0;
          font-size: 18px;
          font-weight: normal;
          color: #000;
        }
        label {
          display: block;
          padding: 0 0 20px 0;
          font-size: 12px;
          text-transform: uppercase;
          color: #4aaec8;
        }
        .footnote {
          padding: 20px 0 0 0;
          font-size: 12px;
          color: #858585;
        }
        .form-modal-form {
          width: 100%;

          label {
            display: block;
            padding: 0 0 15px 0;
            font-size: 12px;
            text-transform: uppercase;
            color: #4aaec8;

            a {
              display: none;
              padding: 0 0 0 5px;
              color: $orange;
            }
          }

          .form-modal-input {
            position: relative;
            width: 100%;
            float: left;

            label {
              display: block;
              padding: 0 0 5px 0;
              font-size: 12px;
              text-transform: uppercase;
              color: #4aaec8;

              a {
	              display: none;
                padding: 0 0 0 5px;
                color: $orange;
              }
            }
            .icon-custom {
              display: none;
              position: absolute;
              top: 40px;
              right: 0;
              font-size: 18px;
              color: #858585;
              z-index: 1;
            }
            input {
              width: 100%;
              background: transparent;
              border: none;
              border-bottom: $default-border;
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              border-radius: 0;
              padding: 8px 0 12px 0;
              font-size: 14px;
              line-height: normal;

              &:focus {
                border-color: #49dcca;
                transition: linear .15s all;
              }
              &.ui-select-search {
                padding: 10px 0;
                vertical-align: inherit;
                line-height: 15px;
              }
            }
            textarea {
              width: 100%;
              height: 150px;
              background: transparent;
              border: none;
              border-bottom: $default-border;
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              border-radius: 0;
              padding: 0;
              font-size: 14px;
              line-height: 24px;
              resize: none;
              transition: all .15s linear;

              &:focus {
                border-color: #49dcca;
                transition: all .15s linear;
              }
            }
            .form-modal-check {
              position: relative;
              height: 40px;

              label {
                display: block;
                position: absolute;
                width: 100%;
                padding: 10px 15px 10px 40px;

                &:hover {
                  cursor: pointer;
                }
              }
              input[type=radio] {
                display: none;
              }
              input[type=radio] + label:before {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 12px;
                color: #FFF;
                content: "\e116";
                background: #D5D5D5;
                border-radius: 100px;
                transition: all .15s linear;
                display: inline-block;
                font-family: 'ops-icons';
                width: 22px;
                height: 22px;
                line-height: 22px;
                text-align: center;
              }
              input[type=radio]:enabled:not(.active) + label:hover:before {
                background: #49dcca;
                transition: linear .15s all;
              }

              input[type=radio]:checked + label:before {
                content: "\e116";
                background: #49dcca;
              }
              input[type=radio] + label:before {
                top: 6px;
                left: 0;
              }
            }
            .chosen-container {
              width: 100% !important;

              .chosen-default, .chosen-single {
                width: 100%;
                height: auto;
                background: transparent;
                border: none;
                border-bottom: 1px solid #d5d5d5;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                outline: none;
                padding: 0 0 15px 0;
                margin: 0;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;

                span {
                  padding: 0;
                  margin: 0;
                  font-size: 14px;
                  font-weight: normal;
                  color: #858585;
                }
                div {
                  display: none;
                }
              }
              .chosen-drop {
                top: 0;
                border: none;
                -moz-border-radius: 0;
                -webkit-border-radius: 0;
                border-radius: 0;
                -khtml-border-radius: 0;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;

                .chosen-search {
                  padding: 0;

                  input {
                    background: transparent;
                    background-image: none !important;
                    border: none;
                    border-bottom: 1px solid #49dcca;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    border-radius: 0;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    padding: 5px 0 20px 0;
                    margin: 0;
                    font-size: 14px;
                    line-height: normal;

                    &:focus {
                      background: #fff;
                      transition: all .15s linear;
                    }
                  }
                }
                .chosen-results {
                  padding: 0;
                  margin: 0;
                  border-right: $default-border;
                  border-bottom: $default-border;
                  border-left: $default-border;

                  .active-result {
                    padding: 11px 15px 13px 15px;
                    border-bottom: 1px solid #d5d5d5;
                    border-left: 3px solid #f0f0f0;
                    text-indent: 0;
                    font-size: 14px;
                    color: #858585;
                    transition: linear .1s all;

                    em {
                      display: block;
                      padding: 0 0 1px 0;
                      font-size: 14px;
                      text-decoration: none;
                    }
                    &.highlighted {
                      color: #858585;
                      background: transparent;
                    }
                    &:hover {
                      color: #000;
                      background: transparent;
                      border-left: 3px solid #3aa3bf;
                      text-indent: 10px;
                      transition: linear .1s all;
                    }
                    &:last-child {
                      border-bottom: none;
                    }
                  }
                }
              }
            }
            &.textarea {
              width: 100%;
              padding: 0;
            }
            &.table {
              width: 100%;
              padding: 0;
              margin: 0;
              float: left;

              h5 {
                display: block;
                padding: 0 0 10px 0;
                font-size: 18px;
                font-weight: normal;
                text-transform: capitalize;
                color: #000;
              }
              label {
                padding: 0 0 20px 0;
              }
              table {
                width: 100%;
                border: 1px solid #d5d5d5;
                margin: 0;

                thead {
                  width: 100%;

                  tr {
                    width: 100%;
                    background: #f5f5f5;
                    border-bottom: 1px solid #d5d5d5;

                    td {
                      position: relative;
                      border-right: 1px solid #d5d5d5;

                      h1 {
                        padding: 7px 15px 9px 15px;
                        font-size: 11px;
                        text-transform: uppercase;
                        color: #858585;
                      }
                      &:last-child {
                        border: none;
                      }
                      &:first-child {
                        width: 100px;
                      }
                    }
                  }
                }
              }
              tbody {
                width: 100%;

                tr {
                  width: 100%;
                  border-bottom: 1px solid #d5d5d5;

                  td {
                    position: relative;
                    padding: 0;
                    margin: 0;
                    border-right: 1px solid #d5d5d5;

                    p {
                      display: inline-block;
                      padding: 10px 15px 13px 15px;
                      font-size: 14px;
                      text-indent: 0;
                      color: #000;
                    }
                    span {
                      position: absolute;
                      top: 8px;
                      left: 15px;
                      padding: 4px 15px 5px 15px;
                      background: #000;
                      -moz-border-radius: 10px;
                      -webkit-border-radius: 3px;
                      border-radius: 3px;
                      -khtml-border-radius: 3px;
                      font-size: 11px;
                      text-transform: uppercase;
                      font-weight: bold;
                      color: #fff;

                      &.green {
                        background: #93d700;
                      }
                    }
                    a {

                      &.add {
                        position: absolute;
                        top: 7px;
                        left: 15px;
                        background: #3aa3bf;
                        padding: 7px 15px 9px 15px;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        font-size: 11px;
                        font-weight: bold;
                        text-transform: uppercase;
                        line-height: 9px;
                        color: #fff;

                        &:hover {
                          background: #187f9b;
                        }
                      }
                    }
                    &.autocomplete {
                      vertical-align: top;

                      .insight-select {
                        width: 100%;
                        height: 100%;

                        .ui-select-search {
                          width: 100%;
                          height: auto;
                          padding: 10px 15px;
                        }
                        .ui-select-match {
                          width: 100%;
                          height: 100%;

                          .ui-select-toggle, .ui-select-placeholder {
                            position: relative;
                            top: inherit;
                            left: inherit;
                            width: 100%;
                            height: 100%;
                            padding: 0;
                            background: inherit;
                            border: none;
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                            border-radius: 0;
                            font-size: 14px;
                            font-weight: inherit;
                            text-transform: capitalize;
                            line-height: normal;
                            color: #858585;
                          }
                          .ui-select-toggle {
                            padding: 8px 15px;
                          }
                        }
                        .ui-select-choices {
                          border: none;

                          .ui-select-choices-group {

                            .ui-select-choices-row {

                              .ui-select-choices-row-inner {

                                span {
                                  position: inherit;
                                  top: inherit;
                                  left: inherit;
                                  padding: 0;
                                  margin: 0;
                                  background: none;
                                  -webkit-border-radius: 0;
                                  -moz-border-radius: 0;
                                  border-radius: 0;
                                  font-size: inherit;
                                  text-transform: inherit;
                                  font-weight: bold;
                                  color: inherit;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                    &:not(.autocomplete) {

                      span {
                        position: absolute;
                        top: 7px;
                        left: 15px;
                        padding: 7px 15px 9px 15px;
                        background: #000;
                        -moz-border-radius: 10px;
                        -webkit-border-radius: 3px;
                        border-radius: 3px;
                        -khtml-border-radius: 3px;
                        font-size: 11px;
                        font-weight: bold;
                        text-transform: uppercase;
                        line-height: 9px;
                        color: #fff;

                        &.green {
                          background: #93d700;
                        }
                        &.yellow {
                          background: #ecc96a;
                        }
                        &.red {
                          background: #f25050;
                        }
                      }
                    }
                    &:first-child {

                      p {
                        border-left: 3px solid #f0f0f0;
                        text-transform: uppercase;
                        color: #858585;
                        transition: linear .15s all;
                      }
                    }
                    &:last-child {
                      border: none;
                    }
                  }
                  &:hover, &.active {
                    cursor: pointer;

                    td {

                      &:first-child {

                        p {
                          border-color: #3aa3bf;
                          text-indent: 10px;
                          transition: linear .15s all;
                        }
                      }
                    }
                  }
                  &:last-child {
                    border: none;

                    td {

                      &:first-child {

                        p {
                          border: none;
                        }
                      }
                    }
                  }
                }
              }
            }

          }
          .form-modal-spread {
            position: relative;
            width: 100%;
            height: auto;
            min-height: 340px;

            .form-modal-spread-header-x {
              position: absolute;
              width: 100%;
              height: 30px;
              background: #fff;
              border: $default-border;
              z-index: 1;

              h5 {
                width: 100%;
                height: 100%;
                padding: 7px;
                font-size: 11px;
                text-transform: uppercase;
                text-align: center;
                color: #858585;
              }
            }
            .form-modal-spread-header-y {
              position: absolute;
              top: 160px;
              left: -155px;
              width: 340px;
              height: 30px;
              background: #fff;
              border: $default-border;
              -webkit-transform: rotate(-90deg);
              -moz-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
              -o-transform: rotate(-90deg);
              filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
              z-index: 1;

              ul {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 0 28px 0 0;

                li {
                  width: 50%;
                  border-right: $default-border;
                  float: left;

                  h5 {
                    width: 100%;
                    height: 100%;
                    padding: 8px;
                    font-size: 11px;
                    text-transform: uppercase;
                    text-align: center;
                    color: #858585;
                  }
                }
              }
            }
            .form-modal-spread-body {
              position: absolute;
              width: 100%;
              height: 100%;
              background: #fff;
              border: $default-border;
              padding: 28px 0 0 28px;
            }
            .form-modal-horizontal-tabs {
              position: relative;
              width: 100%;
              height: 30px;
              background: #fff;
              border-top: $default-border;
              border-bottom: $default-border;

              a.toggle {
                position: absolute;
                top: 0;
                width: 30px;
                height: 100%;
                background: #fff;
                border: $default-border;
                border-top: none;
                border-bottom: none;
                text-align: center;
                padding: 4px;
                z-index: 2;

                span {
                  font-size: 18px;
                  color: #858585;
                  transition: linear .15s all;
                }
                &:hover {

                  span {
                    color: #000;
                    transition: linear .15s all;
                  }
                }
                &:first-child {
                  left: 0;
                }
                &:last-child {
                  right: 0;
                }
              }
              .horizontal-slider {
                width: 100%;
                height: 100%;

                ul {
                  position: relative;
                  width: 100%;
                  height: 100%;
                  padding: 0 30px 0 30px;
                  z-index: 1;

                  li {
                    width: 16.66%;
                    height: 100%;
                    border-right: $default-border;
                    float: left;

                    a {
                      display: block;
                      width: 100%;
                      height: 100%;
                      padding: 7px;
                      text-align: center;

                      p {
                        font-size: 11px;
                        text-transform: uppercase;
                        color: #858585;
                        transition: linear .15s all;
                      }
                      &:hover {

                        p {
                          color: #000;
                          transition: linear .15s all;
                        }
                      }
                    }
                    &.active {

                      a {

                        p {
                          color: #000;
                        }
                      }
                    }
                    &:last-child {
                      border: none;
                    }
                  }
                }
              }
            }
            .form-modal-table {
              width: 100%;

              table {
                width: 100%;

                thead {
                  width: 100%;

                  tr {
                    width: 100%;
                    height: 30px;
                    border-bottom: $default-border;
                    border-left: $default-border;

                    td {
                      position: relative;
                      width: 25%;
                      height: 100%;
                      background: #f5f5f5;
                      border-right: $default-border;
                      padding: 8px;
                      text-align: center;

                      p {
                        font-size: 12px;
                        text-transform: uppercase;
                        color: #858585;
                      }
                    }
                  }
                }
                tbody {
                  width: 100%;

                  tr {
                    width: 100%;
                    height: auto;
                    border-bottom: $default-border;
                    border-left: $default-border;

                    td {
                      position: relative;
                      width: 25%;
                      height: 100%;
                      background: #fff;
                      border-right: $default-border;
                      padding: 12px 15px 13px 15px;

                      p {
                        font-size: 12px;
                        text-transform: uppercase;
                        color: #000;
                      }
                      label {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        padding: 0;

                        &:hover {
                          cursor: pointer;
                        }
                      }
                      input[type="radio"] {
                        display: none;
                      }
                      input[type=radio] + label:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 12px;
                        color: #FFF;
                        content: "\e116";
                        background: #D5D5D5;
                        border-radius: 100px;
                        transition: all .15s linear;
                        display: inline-block;
                        font-family: 'ops-icons';
                        width: 22px;
                        height: 22px;
                        line-height: 22px;
                        text-align: center;
                      }
                      input[type="radio"] + label:before {
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        -o-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                      }
                      &.green {
                        input[type="radio"]:enabled:not(.active) + label:hover:before {
                          background: #93d700;
                          transition: all .15s linear;
                        }
                        input[type="radio"]:checked + label:before {
                          content: "\e116";
                          background: #93d700;
                        }
                      }
                      &.yellow {
                        input[type="radio"]:enabled:not(.active) + label:hover:before {
                          background: #ecc96a;
                          transition: all .15s linear;
                        }
                        input[type="radio"]:checked + label:before {
                          content: "\e116";
                          background: #ecc96a;
                        }
                      }
                      &.red {
                        input[type="radio"]:enabled:not(.active) + label:hover:before {
                          background: #f25050;
                          transition: all .15s linear;
                        }
                        input[type="radio"]:checked + label:before {
                          content: "\e116";
                          background: #f25050;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .form-modal-field {

            &.full {
              width: 100% !important;
            }
          }
        }
      }
      &.pi-overview, &.pi-additional, &.pi-staffing {

        .form-modal-section-body {
          padding: 0 0 40px 0;

          .form-modal-form {

            .form-modal-field {
              width: 50%;
              float: left;
              transition: linear .15s all;

              .form-modal-check {
                width: 50%;
                float: left;
              }
              &:last-child {
                width: 100%;
              }
            }
          }
          &.fields {
            padding: 0 0 20px 0;

            .form-modal-form {

              .form-modal-field {

                .form-modal-input {
                  padding: 0 20px 20px 0;

                  &:nth-child(even) {
                    padding: 0 0 20px 20px;
                  }
                }
              }
            }
          }
          &:last-child {
            padding: 0;
          }
        }
      }
      &.active {
        display: block;
      }
    }
  }
}

.form-modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #f5f5f5;
  border-top: $default-border;
  z-index: 1;

  .form-modal-controls {
    display: none;
    width: 100%;
    height: 100%;
    padding: 12px;
    text-align: center;

    a {
      display: inline-block;
      background: #fff;
      border: $default-border;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -khtml-border-radius: 3px;
      padding: 5px 10px;
      margin: 0 5px 0 0;

      p {
        display: block;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        color: #858585;
      }
      &:nth-child(even) {
        background: #353535;
        border-color: #353535;

        p {
          color: #fff;
        }
      }
      &.disable {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        opacity: 0.5;
        cursor: default;
      }
      &:last-child {
        margin: 0 0 0 5px;

        &:hover {
          background: #000;
        }
      }
    }
  }
}

.form-modal {
  .drawer-body {
    padding: 0;
  }
  .modal-dialog {
    left: auto;
  }
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  z-index: 1051;
}

.md-autocomplete-suggestions {
  max-height: 200px !important;
  padding: 0;
  margin: 0;
  background: #fff;
  border: none;
  border-left: 1px solid #d5d5d5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  li {
    width: 100%;
    height: auto;
    padding: 9px 15px 11px 15px;
    margin: 0;
    background: transparent;
    border: 1px solid #d5d5d5;
    border-top: none;
    border-left: 3px solid #f0f0f0;
    text-indent: 0;
    font-size: 14px;
    line-height: normal;
    color: #858585;
    transition: linear .1s all;

    span {
      vertical-align: inherit;
    }
    &:hover {
      color: #000;
      background: transparent;
      border-left: 3px solid #3aa3bf;
      text-indent: 10px;
      transition: linear .1s all;
    }
  }
}

.light-theme {

  .form-modal-input {
    .ui-select-match-text span {
      color: #cecece;
    }
  }

  .modal-body {

    .insight-select {

      &.ui-select-container {
        .ui-select-toggle {
          border-bottom: 1px solid #282828;

          .btn-xs.btn-link {

            &:hover {

              i {
                color: #fff;
                transition: linear .15s all;
              }
            }
          }
        }
        .ui-select-choices {
          background: #353535;
          border-color: #282828;
        }
        .ui-select-choices-row {
          border-color: #282828;
        }
        .ui-select-choices-row-inner {
          border-color: #282828;

          &:hover {
            border-color: $orange;
            color: #fff;
          }
        }
        .ui-select-choices-row:hover > a {
          border-left: 3px solid $orange;
          color: #fff;
        }
        .ui-select-choices-row.active > a {
          border-left: 3px solid $orange;
          color: #fff;
        }
      }
    }
  }

#batchmodal {
  .drawer-header {
    span {
      font-size: 14px;
    }
  }

  .drawer-body {
    label {
      display: block;
      width: 100%;
      padding: 3px 0;
      font-size: 12px;
      text-transform: uppercase;
      color: #fff;
    }
  }

  .insight-select {
    &.ui-select-container {
      &.form-control {
        background-color: #29363d;
        border-color: #282828;
      }
      .ui-select-choices {
        background: #29363d;
        border-color: #282828;
      }
      .ui-select-choices-row {
        border-color: #282828;
      }
      .ui-select-choices-row-inner {
        border-color: #282828;
      }
      .ui-select-choices-row:hover > a {
        border-left: 3px solid $orange;
        color: #fff;
      }
      .ui-select-choices-row.active > a {
        border-left: 3px solid $orange;
        color: #fff;
      }
    }

  }
  .ui-select-multiple.ui-select-bootstrap {
    .ui-select-match-item {
      background: #333;
      border-bottom:1px solid #7C7B7B;
      &:hover {
        border-bottom:1px solid #929191;
      }
      span {
        color: #fff;;
      }
      &.btn.btn-default {
        border-color: #7C7B7B;
      }
    }
    input.ui-select-search {
      border-bottom: 1px solid #282828;
    }
  }
}

  .minimal-modal {
    .ui-select-container {
      .ui-select-match-text {
        color: #FFF !important;
      }
    }

    .drawer-header {
      background: $orange;
      font-family: 'Museo Sans', Arial, sans-serif;
      span {
        font-family: 'Museo Sans', Arial, sans-serif;

      }
    }
    .drawer-body {
			background: $bluegrey;
      color: #fff;

			h5 {
				color: $orange;
			}
      .filter-search-wrapper {

        .md-chips {
          border-color: #282828;

          .md-chip {
            background: $orange;
          }
        }
      }
      daterange {

        .well {
          border-color: #282828;
          border-bottom: none;

          table {
            background: $bluegrey;

            thead {

              tr {

	              &:first-child {
	                background: $orange;

	                th:nth-child(odd) {
	                  background: lighten($orange,5%);

	                  &:hover {
		                  background: lighten($orange,10%);
	                  }
	                }
	              }
	              &:nth-child(even) {

                  th {

                    small {
                      color: #fff;
                    }
                  }
                }
              }
            }
            tbody {
              border-color: #282828;

              tr {

                td {

                  button {

                    &.active {

                      span {
                        color: #e5e5e5;
                      }
                    }
                  }
                  &.start-date, &.in-range, &.end-date {

									  button {
										  background: lighten($bluegrey, 8%);

                      span {
                        color: #fff;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .ranges {

          div[class*="daterangepicker_"] {

						label {
							color: $orange;
						}
		        input {
			        color: #fff;
			        font-size: 20px
		        }
		      }
        }
      }
      .form-modal-header {
        background: #353535;
        border-color: #282828;
      }
      .form-modal-body {

        .form-modal-vertical-tabs {
          background: #353535;
          border-color: #282828;

          ul {

            li {
              border-color: #282828;

              a {
                border-left: 3px solid #282828;
              }
              &:hover, &.active {

					      a {
						      border-color: $orange;

                  span {
                    color: #fff;
                  }
                }
              }
            }
          }
        }
        .form-modal-body-content {

          .section {

            .form-modal-section-body {

              h4 {
                color: #fff;
              }
              .form-modal-form {

                .form-modal-input {

					      	label {
						      	color: $orange;
					      	}
					      	input, textarea {
						      	border-color: #282828;
						      	color: #fff;

						      	&:hover {
							      	border-color: lighten($orange,10%);
						      	}
						      	&:focus {
							      	border-color: lighten($orange,10%);
						      	}
					      	}
					      	.form-modal-check {

						      	input[type=radio] + label:before {
							      	background: #282828;
						      	}
						      	input[type=radio]:enabled:not(.active) + label:hover:before {
			                background: lighten($orange,10%);
			              }
			              input[type=radio]:checked + label:before {
			                content: "\e116";
			                background: lighten($orange,10%);
			              }
						      }
						      .chosen-container {

                    .chosen-single {
                      border-color: #282828;
                    }
                    .chosen-drop {
                      background: transparent;

                      .chosen-search {
                        background: transparent;

									      input {
										      background: transparent;
										      border-color: $orange;

										      &:focus {
											      border-color: lighten($orange,10%);
										      }
									      }
								      }
								      .chosen-results {
									      background: #454545;
									      border-color: #282828;

                        li {
                          border-color: #282828;

										      &:hover {
											      border-color: $orange;
										      }
									      }
								      }
							      }
						      }
						      &.table {

                    h5 {
                      color: #fff;
                    }
                    table {
                      border-color: #282828;

                      thead {

                        tr {
                          background: #454545;
                          border-color: #282828;

                          td {
                            border-color: #282828;
                          }
                        }
                      }
                      tbody {

                        tr {
                          border-color: #282828;

                          td {
                            border-color: #282828;

                            p {
                              color: #fff;
                            }
                            a {

													    &.add {
														    background: $orange;

                                &:hover {
                                  background: #dd6f50;
                                }
                              }
                            }
                            &:first-child {

                              p {
                                border-color: #282828;
                                color: #858585;
                              }
                            }
                          }
                          &:hover {

                            td {

                              &:first-child {

				                        p {
				                          border-color: $orange;
				                        }
				                      }
				                    }
				                  }
										    }
									    }
								    }
								  }
					      }
					      .form-modal-spread {

                  .form-modal-horizontal-tabs {
                    background: transparent;
                    border-color: #282828;

                    a.toggle {
                      background: #353535;
                      border-color: #282828;

                      &:hover {

                        span {
                          color: #fff;
                        }
                      }
                    }
                    .horizontal-slider {

                      ul {
                        border-color: #282828;

                        li {
                          border-color: #282828;

                          a {

                            &:hover {

                              p {
                                color: #fff;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                  .form-modal-table {

                    table {

                      thead {

                        tr {
                          border-color: #282828;

                          td {
                            background: #454545;
                            border-color: #282828;
                          }
                        }
                      }
                      tbody {

                        tr {
                          border-color: #282828;

                          td {
                            background: transparent;
                            border-color: #282828;

                            p {
                              color: #fff;
                            }
                            input[type=radio] + label:before {
                              background: #282828;
                            }
                            &.green {

                              input[type="radio"]:enabled:not(.active) + label:hover:before {
                                background: #93d700;
                                transition: all .15s linear;
                              }
                              input[type="radio"]:checked + label:before {
                                content: "\e116";
                                background: #93d700;
                              }
                            }
                            &.yellow {

                              input[type="radio"]:enabled:not(.active) + label:hover:before {
                                background: #ecc96a;
                                transition: all .15s linear;
                              }
                              input[type="radio"]:checked + label:before {
                                content: "\e116";
                                background: #ecc96a;
                              }
                            }
                            &.red {

                              input[type="radio"]:enabled:not(.active) + label:hover:before {
                                background: #f25050;
                                transition: all .15s linear;
                              }
                              input[type="radio"]:checked + label:before {
                                content: "\e116";
                                background: #f25050;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .drawer-footer {
	    background: $bluegrey;
	    border-color: #282828;

      a {

		    &.btn {
					background: $orange;
					border-color: $orange;

          &.white {
            background: $buttongrey;
            border-color: $buttongrey;

            span {
              color: #fff;
            }
            &:hover {
              background: darken($buttongrey, 3%);
              border-color: $buttongrey;

					    span {
						    color: #fff;
					    }
				    }
			    }

  		    &:hover {
  			    background: lighten($orange,3%);
  			    border-color: $orange;
  		    }

		    }
	    }
    }
  }
  .md-autocomplete-suggestions {
	  background: #454545;
	  border-color: #282828;
	  border-top: 1px solid lighten($orange,10%);

    li {
      border-color: #282828;

		  &:hover {
			  border-left: 3px solid $orange;
			  color: #fff;
		  }
	  }
  }
  .insight-select {

	  &.ui-select-container {

		  .ui-select-choices-row:hover > a {
			  border-left: 3px solid $orange;
		  }
		  .ui-select-choices-row.active > a {
			  border-left: 3px solid $orange;
		  }
		}
  }
}

@media only screen and (max-width: 800px) {

  .form-modal-body {

    .form-modal-body-content {

      .section {

        &.pi-overview, &.pi-additional, &.pi-staffing {

          .form-modal-section-body {

            &.fields {

              .form-modal-form {

                .form-modal-field {
                  width: 100%;
                  transition: linear .15s all;

                  .form-modal-input {
                    padding: 0 0 20px 0;

                    &:nth-child(even) {
                      padding: 0 0 20px 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 680px) {

  .sb-collapsed {

    .modal {

      .modal-dialog {
        width: 100%;
        min-width: inherit;
        max-height: 100%;
        padding: 0 20px 20px 20px;
        margin: 0;
        overflow: scroll;
        transition: linear .15s all;

        .modal-content {
          max-width: inherit;
        }
      }
      &.datepicker-modal {

        .modal-dialog {
          width: 100%;
          min-width: none;
          padding: 0 20px 20px 20px;
          margin: 0;
          transition: linear .15s all;
        }
      }
      &.form-modal {
        padding: 0;

        .modal-dialog {
          width: 100%;
          min-width: inherit;
          padding: 0 0 120px 60px;
          margin: 80px 0 0 0;

          .modal-content {
            padding: 0 20px;
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 680px) {

  daterange {

    .well {
      width: 100%;
      transition: linear .15s all;
    }
    .well + .well {
      border-left: none;
    }
    .ranges {

      .range_inputs {
        padding: 15px 0 5px 0;

        div[class*="daterangepicker_"] {
          width: 100%;
          padding: 0 20px 15px 20px;
          transition: linear .15s all;
        }
      }
    }
  }

}


// Deck filter modal

.deckfilter {
  .drawer-body {
    .filter-group {
      div.filter-search-wrapper {
        float: left;
        padding: 0px 5px 10px 5px;
        &:first-child {
          width: 100%;
        }
        &:nth-child(2) {
          width: 48%;
          margin-right: 25px;
          padding-right: 10px;
          margin-top: 16px;
        }
        &:nth-child(3) {
          width: 47%;
          &:before {
            content: "/";
            position: relative;
            left: -23px;
            top: 40px;
            font-size: 14px;
          }
        }
        &:nth-child(4) {
          width: 48%;
          margin-right: 25px;
          padding-right: 10px;
          margin-top: 16px;
        }
        &:nth-child(5) {
          width: 47%;
          &:before {
            content: "/";
            position: relative;
            left: -23px;
            top: 40px;
            font-size: 14px;
          }
        }
        &:nth-child(6) {
          width: 48%;
          margin-top: 16px;
          margin-right: 25px;
          padding-right: 10px;
        }
        &:nth-child(7) {
          width: 47%;
          &:before {
            content: "/";
            position: relative;
            left: -23px;
            top: 40px;
            font-size: 14px;
          }
        }
        &:nth-child(8) {
          width: 47%;
          margin-right: 25px;
          padding-right: 7px;
          margin-top: 16px;
        }
        &:nth-child(9) {
          width: 47%;
          &:before {
            content: "/";
            position: relative;
            left: -23px;
            top: 40px;
            font-size: 14px;
          }
        }
        &:last-child {
          width: 48%;
          margin-top: 16px;
          //h5 {
          //  padding-left: 18px;
          //}
          md-checkbox ._md-label {
            span {
              font-size: .97em;
            }
          }
        }
        .insight-select.ui-select-container .ui-select-choices {
          position: absolute !important;
          max-height: 159px;
        }
        &:nth-child(6), &:nth-child(7) {
          .insight-select.ui-select-container .ui-select-choices {
            position: relative !important;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 680px) {

  .deckfilter {
    .drawer-body {
      .filter-group {
        div.filter-search-wrapper {
          float: left;
          padding: 0px 0px 10px 5px;
          margin-top: 16px;
          &:first-child {
            width: 100%;
          }
          &:nth-child(2) {
            width: 100%;
            margin-right: 0px;
            padding-right: 0px;
            margin-top: 16px;
          }
          &:nth-child(3) {
            width: 100%;
            &:before {
              content: "";
              position: relative;
              left: -23px;
              top: 40px;
              font-size: 14px;
            }
          }
          &:nth-child(4) {
            width: 100%;
            margin-right: 0px;
            padding-right: 0px;
            margin-top: 16px;
          }
          &:nth-child(5) {
            width: 100%;
            &:before {
              content: "";
              position: relative;
              left: -23px;
              top: 40px;
              font-size: 14px;
            }
          }
          &:nth-child(6) {
            width: 100%;
            margin-top: 16px;
          }
          &:nth-child(7) {
            width: 100%;
            margin-right: 0px;
            padding-right: 0px;
            margin-top: 16px;
          }
          &:last-child {
            width: 100%;
            margin-top: 16px;
            md-checkbox ._md-label {
              span {
                font-size: .97em;
              }
            }
          }
        }
      }
    }
  }
}
