
<div class="deckster-deck-wrapper">
  <div class="deck-toolbar-wrapper disable-select">
    <div class="deck-toolbar">

	    <div class="deck-actionbar">
	      <div class="deck-actions left">
	        <a class="btn" ng-click="filterDeck()" ng-if="deck.filters" ng-class="{'has-filters': numSelectedFilters() > 0}">
	          <span class="fa fa-filter"></span>
  	        <span class="filters" ng-if="numSelectedFilters() > 0">
  	          <span class="filter" ng-repeat="filter in convertFilterValues() track by $index" ng-if="numSelectedFilters() < 5"> {{ filter }} {{$last ? '' : ' &#47; '}}</span>
  	          <span class="filter" ng-if="numSelectedFilters() > 4"> {{ '... &#47; ' }} {{ convertFilterValues()[numSelectedFilters() - 2] }} {{ ' &#47; ' }} {{ convertFilterValues()[numSelectedFilters() - 1] }}</span>
  	        </span>
	        </a>
	      </div>
    		<!--
	      <div class="deck-actions">
      			<a ng-click="toggleSummaryBar(this.deck)" ng-if="deck.summaryBar">
      			  <span>KPI Summary</span>
      			  <span class="icon ops-icon-apps2"></span>
      			</a>
            <a ng-click="exportDeck()">
	            <span>Export Deck</span>
              <span class="icon ops-icon-export"></span></a>
	      </div>
        -->
	      <div class="deck-date">
	        <div class="date-label" ng-show="deck.dateFilterType !== 'month'">
	          <p>{{deck.startDate | datestr : (deck.dateFilterType === 'month' ? 'MMM YYYY' : 'L')}}</p>
	        </div>
	        <a href="#" ng-click="chooseDate()">
	          <span  class="ops-icon-calendar"></span>
	        </a>
	        <div class="date-label" ng-class="{monthly: deck.dateFilterType === 'month'}">
				<div>
				  <p>{{deck.endDate | datestr : (deck.dateFilterType === 'month' ? 'MMM YYYY' : 'L')}}</p>
				</div>
	        </div>
	      </div>
        <!--<div class="sidebar-toggle clearfix comments-icon" ng-click="toggle()">-->
          <!--<span ng-if="position !== 'right'" ng-class="collapsed? 'ops-icon-comments' : 'ops-icon-comments'"></span>-->
          <!--<span ng-if="position === 'right'" ng-class="collapsed? 'ops-icon-comments' : 'ops-icon-comments'"></span>-->
          <!--<span class="tooltip-comments">Comments</span>-->
        <!--</div>-->
	    </div>
      <deckster-summary-bar ng-if="deck.summaryBar"></deckster-summary-bar>
    </div>
  </div>
  <div class="deckster-deck" deck-options="deck" auto-height>
    <deckster-card ng-repeat="cardOpts in deck.cards" card-options="cardOpts"></deckster-card>
  </div>
</div>




