<div class="header">
  <div class="nav-content" ng-include="'components/headerbar/headerbar.html'"></div>
</div>
<div class="content-wrapper" xmlns="http://www.w3.org/1999/html" ng-controller="AdminCtrl">
  <sidebar collapsed="isCollapsed">
    <div class="sidebar-wrapper">
      <section class="clearfix" ng-repeat="section in sections">
        <input id="{{section.id}}" name="radio" type="checkbox" ng-model="section.checked" ng-click="selectedSection($index, section)" />
        <label class="clearfix disable-select" for="{{section.id}}">
          <div class="header-sidebar">
            <span class="icon ops-icon-view_quilt"></span>
            <h1 class="title">{{section.title}}</h1>
          </div>
        </label>
      </section>
      <div class="appjump">
        <a type="text/csv" href="/api/analytics/financial_report?downloadType=csv&filename=FinancialReportCSRA.csv"
           target="_self">
          <span class="menu-item-icon ops-icon-download"></span>
          <span class="menu-item-info">
            <span class="title">Download financial report</span>
          </span>
          <md-tooltip md-direction="right" class="md-tooltip openprog">Download financial report</md-tooltip>
        </a>
      </div>
      <div class="appjump">

        <a type="text/csv" href="/api/analytics/staffing_report?staffingDate={{dt}}&downloadType=csv&filename=StaffingReportCSRA.csv"
           target="_self" ng-click="dateCheck(dt)">
          <span class="menu-item-icon ops-icon-download"></span>
          <span class="menu-item-info">
            <span class="title">Download staffing report</span>
          </span>
          <md-tooltip md-direction="right" class="md-tooltip openprog">Download staffing report</md-tooltip>
        </a>
      </div>
        <div class="appjump">
      <a type="text/csv" href="/api/analytics/ribbon_report?staffingDate={{dt}}&currentFYStart={{currentFYStart}}&currentFYEnd={{currentFYEnd}}&downloadType=csv&filename=RibbonReportCSRA.csv"
         target="_self" ng-click="dateCheck(dt)">
        <span class="menu-item-icon ops-icon-download"></span>
        <span class="menu-item-info">
          <span class="title">Download ribbon report</span>
        </span>
        <md-tooltip md-direction="right" class="md-tooltip openprog">Download ribbon report</md-tooltip>
      </a>
          </div>
    </div>
  </sidebar>
  <div class="main-content-wrapper data-entry">

    <div ui-view="content">
      <div class="main-content form-container">
        <div class="data-entry-wrapper clearfix">
          <div class="deck-actionbar">
            <div class="content" ng-if="userView">
              <div class="actions left batch">
                <a class="btn" ng-click="globalSettingsModal()" >
                  <span class="ops-icon-batch-users"><span>Batch</span></span>
                </a>
                <a class="btn" ng-click="emailModal()" >
                  <span class="ops-icon-mail"><span>Email Announcement</span></span>
                </a>
                  <span ng-click="openCalendar()" class="ops-icon-calendar calendar_icon" >&nbsp;</span>
                  <input type="month" datepicker-popup-template-url="/client/app/admin/popup.html" class="form-control calendar_field" ng-blur="dateCheck(dt)" readonly-input="true" ng-model="dt" uib-datepicker-popup='M!/d!/yyyy' max-date="maxDate" is-open="status.opened" min-date="minDate" datepicker-options="options" datepicker-mode="'month'" date-disabled="disabled(date, mode)" ng-required="true" />
              </div>



              <div class="actions right pad">
                <button ng-click="cancelChanges()">
                  <span>Undo Changes</span>
                  <span class="icon ops-icon-clear"></span>
                </button>
                <button type="submit" ng-click="saveChanges()">
                  <span>Save Changes</span>
                  <span class="icon ops-icon-in"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="form-wrapper">
            <div class="notices" ng-show="validationErrors.length > 0">
              <div id="errorListHeader">
                <h2 ng-show="validationErrors.length > 0">Validation Errors: </h2>
              </div>
              <li ng-repeat="error in validationErrors track by $index">
                <span class="icon ops-icon-alert rotate180"></span>
                <a>{{error}}</a>
              </li>
            </div>
            <div class="form-entry" style="padding: 0;">
              <div class="content">
                <div id="info" class="body" ng-if="userView">
                  <div class="section clearfix">
                    <div class="row clearfix">
                      <div class="input-container" style="width: 100%; padding: 0;">
                        <input id="searchBar" type="text" placeholder="Filter users..." ng-model="userList.searchText"/>
                      </div>
                    </div>
                  </div>
                  <div class="admin-users">
                    <div class="user" ng-repeat="user in userList.users | filter:searchUsers | orderBy: 'name' | limitTo: 100">
                      <div class="usercheck"><input class="checkbox adminusers" id="checkbox-{{user.id}}" type="checkbox" checklist-model="selection.users" checklist-value="user"/><label for="checkbox-{{user.id}}"></label></div>
                      <label class="admin-list-label">
                        <div class="user-info" ng-click="user.isCollapsed = !user.isCollapsed; statusCollapsed(user)">
                          <img src="assets/images/default-photo.jpg">
                          <span class="user-name-info">{{user.name}}</span>
                          <span class="info">{{user.email}}</span>
                        </div>
                      </label>
                      <div class="user-drawer" uib-collapse="user.isCollapsed">

                        <div class="section clearfix">
                          <div class="row clearfix"  ng-if="!user.isCollapsed">
                            <div class="input-container" style="width: 100%; padding: 0;">
                              <button class="btn-xs deletebtn" type="submit" ng-click="delete(user)">
                                <span>Delete User</span></button>

                              <label class="list-label">Roles</label>
                              <ui-select multiple class="insight-select" ng-model="user.roles" on-select="selectRole($item)" on-remove="deselectRole(user, $item)">
                                <ui-select-match placeholder="Select Role">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="role in roles | filter: $select.search">
                                  {{role}}
                                </ui-select-choices>
                              </ui-select>
                            </div>


                            <div class="input-container" style="width: 100%; padding: 0;">
                              <label>Auths</label>
                              <ui-select multiple class="insight-select" ng-model="user.auths" on-remove="confirmAuthRemoval($item, user)">
                                <ui-select-match placeholder="Select Auth"  ng-class="{{$item}}">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="auth in auths | filter: $select.search">
                                  {{auth}}
                                </ui-select-choices>
                              </ui-select>
                            </div>

                            <div class="input-container" style="width: 100%; padding: 0;">
                              <label>Report Groups</label>
                              <ui-select multiple class="insight-select" ng-model="user.groups">
                                <ui-select-match placeholder="Select Report Group">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="group in reportGroups | filter: $select.search">
                                  {{group}}
                                </ui-select-choices>
                              </ui-select>
                            </div>

                            <div class="input-container" style="width: 100%; padding: 0;" ng-hide="!user.roles.includes('Executive')">
                              <label>Group</label>
                              <label style="color:red" ng-hide="user.pmr_group.length > 0">Group - A Group selection is required.</label><br />
                              <ui-select multiple class="insight-select" ng-model="user.pmr_group"  on-select="selectPmrGroup($item, user)" on-remove ="removePmrGroup(user.divisions, $item, user); ">
                                <ui-select-match placeholder="Select Group">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="group in pmrGroup | filter: $select.search">
                                  {{group}}
                                </ui-select-choices>
                              </ui-select>
                            </div>

                            <div class="input-container" style="width: 100%; padding: 0;" ng-hide="!user.roles.includes('Executive')||user.pmr_group.length === 0">
                              <label>Business Unit</label>
                              <label style="color:red" ng-hide="user.divisions.length > 0">Business Unit - A Business Unit selection is required.</label><br />
                              <ui-select multiple class="insight-select" ng-model="user.divisions" on-select="selectedBusinessUnit(user)" on-remove="selectedBusinessUnit(user); removeBusinessUnit($item,user)">
                                <ui-select-match allow-clear="true" placeholder="Select Business Unit">{{$item.division_name || $item}}</ui-select-match>
                                <ui-select-choices repeat="division in divisions | filter: $select.search">
                                  {{division.division_name}}
                                </ui-select-choices>
                              </ui-select>
                            </div>

                            <div class="input-container" style="width: 100%; padding: 0;">
                              <label>Programs</label>
                              <ui-select multiple limit="3" tagging="addNewProgram" tagging-label="(new)" title="Choose a Program"
                                         ng-model="user.programs" ng-disabled="isReadOnly"
                                         ng-readonly="isReadOnly"
                                         class="insight-select" on-remove="" on-select="selectedProgram(user, $item)">
                                <ui-select-match placeholder="Select program">
                                  {{$item.project_num}}
                                </ui-select-match>
                                <ui-select-choices
                                  repeat="program in programContract | propsFilter: {project_num: $select.search} | filter: filterPrograms(user)  | filter: {project_num: $select.search} | limitTo: 100 track by program.project_num">
                                  {{program.project_num}}
                                  <div ng-if="program.isTag" ng-bind-html="'<small>(new)</small>'| highlight: $select.search"></div>
                                </ui-select-choices>
                              </ui-select>
                            </div>

                          </div>

                        </div>
                      </div>
                    </div>

                  </div> <!-- from admin users from line 75-->
                </div> <!-- from id info line 67 -->


                <!-- Papertrail Names Edit -->
                <div id="papertrail" class="body" ng-if="papertrailNameView">

                  <div class="container">
                    <h2>Search (Edit/Delete) or Add a name in Papertrail</h2>
                    <br>
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#search">Search</a></li>
                      <li><a data-toggle="tab" href="#add">Add</a></li>
                    </ul>
                    <br>

                    <div class="tab-content">
                      <div id="search" class="tab-pane fade in active">
                        <div class="section clearfix">
                          <div class="row clearfix">
                            <div class="input-container" style="width: 100%; padding: 0;">
                              <input id="searchBar" type="text" placeholder="Filter users..." ng-model="searchMenuNames.name" ng-disabled="editorEnabled"/>
                            </div>
                          </div>
                        </div>
                        <div class="alert alert-info" ng-show="filtered.length == 0">
                          No search results found, try another name.
                        </div>
                        <div class="admin-users">
                          <div class="user" ng-repeat="entry in menuNames | filter:searchMenuNames.name | orderBy: 'display_value' as filtered track by entry.id">
                            <label class="admin-list-label">
                              <div class="user-info">
                                <img src="assets/images/default-photo.jpg">

                                <div ng-show="editorEnabled">
                                  <input placeholder="Enter the name here ..." type="text" value="{{entryNameText.text}}" ng-model="entryNameText.text"/>
                                  <input  style="width:25%" placeholder="Enter the email here ..." type="email" value="{{entryEmailText.text}}" ng-model="entryEmailText.text"/>
                                  <button type="button" class="btn btn-primary" ng-click="addEntryName(entry, entryNameText.text, entryEmailText.text)">Save</button>
                                  <button type="button" class="btn btn-primary" ng-click="cancelEdit(entry)">Cancel</button>
                                </div>
                                <span class="user-name-info" ng-hide="editorEnabled">{{entry.display_value}}</span>
                                <span class="user-name-info" ng-hide="editorEnabled">{{entry.description}}</span>
                                <button type="button" class="btn btn-primary" ng-click="editEntryName(entry)" ng-hide="editorEnabled">Edit</button>
                                <button type="button" class="btn btn-primary" ng-click="removeEntryName(entry)" ng-hide="editorEnabled">Delete</button>
                              </div>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div id="add" class="tab-pane fade">
                        <br/><br/>
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="input-group">
                              <form>
                                <label>
                                  <span>First Name: </span>
                                  <input type="text" id="company" ng-model="firstNameText.text" />
                                  <br/><br/>
                                  <span>Last Name: </span>
                                  <input type="text" id="contact" ng-model="lastNameText.text" />
                                  <span>Email: </span>
                                  <input type="text" id="contact" ng-model="entryNameText.text" />
                                </label>
                                <br/><br/>
                                <button class="btn btn-primary" type="button" ng-click="addEntryName('pmrName', firstNameText.text + ' ' + lastNameText.text, entryNameText.text)">Add</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- from content from line 66-->
            </div> <!-- from entry from line 65-->
          </div> <!-- from wrapper from line 55-->
        </div> <!-- from data-entry-wrapper clearfix from line 32-->
      </div>
    </div>
  </div> <!-- from main-content-wrapper data-entry from line 28-->
</div>
