
.user-drawer {
  .deletebtn {
    float: right;
    background-color: white;
    border: 1px solid #efefef;
    color: #595959;
    padding: 0px 6px;
  }
}

.admin-users {
  .usercheck {
    height: 0px;
    padding-left:6px;
  }
  .admin-list-label {
    width: 100%;
    display:inline-block;
    padding-left:34px;
    input[type=checkbox] {
      display: none;

      &:checked + .user-info {
        background: darken(#EEE, 2%);
      }
    }
  }
}

.form-entry .content .body .admin-users .section .row label {
  padding-top:20px;
}


i.userhandle {
  font-size: 28px;
  color: #AAA;
  transform: translateY(-50%);
  cursor: pointer;
  transition: color 0.15s linear;
  float: right;
  display: inline-block;
  top:18px;
  position: relative;
  text-align: center;
  width:20px;

  .light-theme & {
    &:hover {
    color: #f48d70;
    }
  }
  &:hover {
    color: #3aa3bf;
  }
}

@media only screen and (max-width: 800px){
  .admin-list-label {
    width: 96%;
  }
}


@media only screen and (max-width: 680px){
  .admin-list-label {
    width: 93%;
  }
}


.user-info {
  padding: 0 25px 0 50px;
  border-bottom: 1px solid #EEE;
  position: relative;
  height: 42px;
  line-height: 42px;
  transition: background 0.15s linear;
  cursor: pointer;
  overflow: hidden;

  &.selected {
    background: darken(#EEE, 2%);
  }

  &:hover {
    background: lighten(#EEE, 5%);
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  span.info {
    margin: 0 5px;
    width: 200px;
    display: inline-block;
  }

  span.user-name-info {
    margin: 0 5px;
    width: 200px;
    display: inline-block;
  }

  span.info-label {
    font-weight: 600;
  }
  i.handle {
    font-size: 26px;
    color: #AAA;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
    transition: color 0.15s linear;
    margin:0 0px 0 0;
    width:40px;
    &:hover {
      color: #3aa3bf;
    }
  }
}

.user-drawer {
  padding: 10px 0 10px 10px;
  background: #FFF;
  border-bottom: 1px solid #EEE;
}

//*  Batch Modal

.ui-select-choices span {
  text-transform: uppercase;
}

.drawer-body label {
  padding:10px 0 10px 0;
  text-transform: uppercase;
}

.pad
{
  padding-right:10px !important;
}


.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  outline: 0;
  margin: 10px 10px 0 0;
  padding: 8px 12px;
  font-size: 12px;
  background: #fefefe;
  border-bottom: 1px solid #D5D5D5;
  transition: all .15s linear;
  span{
    font-size: 12px;
  }
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 1.8em;
  line-height: 0.7;
  padding-left: 6px;
}

.btn-calendar{
  position: absolute;
   padding-left: 5px;
   top: 8px;
   left: 105%;
   border: 0px;
   height: 25px;
   width:185px;
   transition-duration: 1s;
   background-color: #e36331;

}
.calendar_icon{
    position: relative;
    top: 16px;
    left: 8px;
    color: #B33E18;
    width: 30px;
    height: 30px;
}

// .btn , .btn-sm , .btn-info , .uib-datepicker-current{
//   color:black !important;
//   background-color: blue !important;
// }

.calendar_field{
    position: relative;
    left: 380px;
    top: -35px;
    width: 180px;
    color:white;
    background-color: #e36331;
    color: white;
    border-color: white;
    border:none;
    -webkit-box-shadow: none;
    border: 0;
}

.calendar_icon:hover{
  color: white
}

.button{
  width: 200%;
}

//* End Batch Modal

/* Email Modal */

#adminemailmodal {

  textarea, input[type="text"] {
    color: #fff;
    background-color: #314049;
    width: 100%;
    font-size: 14px;
    padding: 8px;
  }

  #body {
    color : #fff;
    width: 100%;
    font-size: 14px;
    padding: 8px;
  }

  .btn-default-focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline:none;
  }
  .form-control {
    color: #fff;
    background-color: #314049;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    &:focus {
      box-shadow: none;
    }
  }

  .btn.btn-default {
    background-color: #314049;
    font-size: 14px;
  }
  .ui-select-bootstrap .ui-select-toggle > .caret {
    color: #fff;
  }
  .ui-select-bootstrap {
    .ui-select-choices span {
      color: #fff;
    }
    .ui-select-choices-row {
      background-color: #314049;
    }
    .ui-select-choices-row.active > a {
      color: #fff;
      background-color: lighten(#314049, 10%);
    }
  }
  .ui-select-container.open .form-control {
    border-top: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
    border-bottom: 0px solid $light-grey;
    border-left: 1px solid $light-grey;

    padding: 8px 8px 8px 12px;
    text-transform: uppercase;
  }
  .dropdown-menu {
    background-color: #314049;
    border: 1px solid $medium-grey;
  }

  .btn.btn-default {
    background-color: #314049;
    font-size: 14px;
  }

  .form-modal-input .ui-select-match-text span {
    color: #fff !important;
    font-size: 16px;
  }
}

/*  Toastr  */


.toast{
  top:70px;
}

.toast-message {
  padding-top:5px;
  font-size:13px;
}

.toast-success {
  background-size: 14px 14px;
}
