<div id="adminemailmodal" xmlns="http://www.w3.org/1999/html">
  <div class="drawer-header ops-icon-email"><span>&nbsp;&nbsp; Email Announcement</span></div>
  <div class="drawer-body">
    <form name="emailForm">
      <div class="form-modal-input">

        <label class="list-label">To:</label>&nbsp;
        <ui-select ng-model="email.to" skip-focusser="true" ng-required="true" name="to">
          <ui-select-match placeholder="Select Recipient">
            <span ng-bind="$select.selected"></span>
          </ui-select-match>
          <ui-select-choices repeat="to in recipients">
            <span ng-bind="to"></span>
          </ui-select-choices>
        </ui-select>
        <br>
      <label class="list-label">Subject:</label>&nbsp;
      <input type="text" name="subject" ng-model="subject" placeholder="Enter email subject" ng-style="getFieldStyle('subject')" maxlength="50" required>
        <br>
        <br>
            <label class="list-label">Body:</label>&nbsp;
            <text-angular name="body" id="body" ng-trim="false"
                      rows="4" maxlength="20000"
                      placeholder="Enter email text"
                      ng-model="body" required></text-angular>
      </div>
    </form>
    <br style="width:100%">

  <div class="drawer-footer" style="height: 50px; z-index: 1;">
    <a class="btn white" ng-click="cancel()">
      <span>Cancel</span>
    </a>
    <a class="btn" ng-click="send()" ng-disabled="!emailForm.$valid">
      <span>Send</span>
    </a>
  </div>
</div>
</div>

