<div id="batchmodal">
<div class="drawer-header ops-icon-batch-users"><span>&nbsp;&nbsp; Batch Changes</span></div>
<div class="drawer-body">

  <div class="section clearfix">
    <div class="input-container" style="width: 100%; padding: 0; margin-bottom: 10px;">
      <label class="list-label">Roles</label>
      <ui-select multiple class="insight-select" ng-model="globalSettings.roles">
        <ui-select-match placeholder="Select Role">{{$item}}</ui-select-match>
        <ui-select-choices repeat="role in roles | filter: $select.search">
          {{role}}
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="input-container" style="width: 100%; padding: 0; margin-bottom: 10px;">
      <label>Auths</label>
      <ui-select multiple class="insight-select" ng-model="globalSettings.auths" on-remove="confirmBatchAuthRemoval($item)" on-select="addRemovedPrograms($item)">
        <ui-select-match placeholder="Select Auth">{{$item}}</ui-select-match>
        <ui-select-choices repeat="auth in auths | filter: $select.search">
          {{auth}}
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="input-container" style="width: 100%; padding: 0; margin-bottom: 10px;">
      <label>Report Groups</label>
      <ui-select multiple class="insight-select" ng-model="globalSettings.groups">
        <ui-select-match placeholder="Select Group">{{$item}}</ui-select-match>
        <ui-select-choices repeat="group in reportGroups | filter: $select.search">
          {{group}}
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="input-container" style="width: 100%; padding: 0; margin-bottom: 10px;">
      <label>Programs</label>
      <ui-select multiple class="insight-select" ng-model="globalSettings.programs">
        <ui-select-match placeholder="Select Program">{{$item.project_num}}</ui-select-match>
        <ui-select-choices repeat="program in contracts | filter: {project_num: $select.search} | limitTo: 100 track by program.project_num">
          {{program.project_num}}
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
</div>
<div class="drawer-footer">
  <a class="btn white" ng-click="cancel()">
    <span>Cancel</span>
  </a>
  <a class="btn" ng-click="applySettings()">
    <span>Apply</span>
  </a>
</div>
</div>
