<div class="auth-container gradient" trianglify="{ variance: '1', cell_size: 140, seed: 'qaens'}" colors="{{currentTheme === 'light' ? 'YlOrRd' : 'GnBu'}}">

  <div class="scrollable">

    <div id="signup-wrapper" class="animated">
      <div class="header gradient-inverse">&nbsp;</div>
      <div class="logo disable-select">
        <svg version="1.1" id="opsinsight" class="svg-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve" style="fill:url({{absUrl}}#gradient);">
          <defs>
				    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%" spreadMethod="pad" gradientTransform="rotate(45)">
				      <stop offset="0%" stop-color="#48dcca" stop-opacity="1"></stop>
				      <stop offset="100%" stop-color="#3aa3bf" stop-opacity="1"></stop>
				    </linearGradient>
				  </defs>
					<path d="M328.5,162.6c0-72.7-57.6-131.8-128.5-131.8c-70.9,0-128.5,59.1-128.5,131.8c0,48.4,25.5,90.7,63.5,113.7l17.7,23.9
						c-6,2.8-10.2,8.8-10.2,15.9c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2c0,3.6,1.1,7,3,9.8c-1.9,2.8-3,6.2-3,9.8c0,9.3,7.2,16.8,16.3,17.4
						c-0.1,0.6-0.1,1.2-0.1,1.8c0,9,7.3,16.3,16.3,16.3h50c9,0,16.3-7.3,16.3-16.3c0-0.6,0-1.2-0.1-1.8c9.1-0.6,16.3-8.2,16.3-17.4
						c0-3.6-1.1-7-3-9.8c1.9-2.8,3-6.2,3-9.8c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1,0-0.2c0-7-4.2-13.1-10.2-15.9l17.7-23.9
						C303,253.3,328.5,210.9,328.5,162.6z M87.5,162.6C87.5,98.8,138,47,200,47s112.5,51.9,112.5,115.6S262,278.2,200,278.2
						S87.5,226.3,87.5,162.6z M240,318.5h-80c-1.3,0-2.4-1-2.5-2.3c0.1-1.3,1.2-2.3,2.5-2.3h80c1.3,0,2.4,1,2.5,2.3
						C242.4,317.5,241.3,318.5,240,318.5z M225,359h-50c-2,0-3.7-1.7-3.7-3.7c0-0.6,0.2-1.2,0.5-1.8h56.5c0.3,0.5,0.5,1.1,0.5,1.8
						C228.7,357.3,227,359,225,359z M240,338.5h-80c-1.4,0-2.5-1.1-2.5-2.5c0-0.9,0.5-1.7,1.3-2.2c0.4,0,0.8,0.1,1.2,0.1h80
						c0.4,0,0.8,0,1.2-0.1c0.8,0.4,1.3,1.2,1.3,2.2C242.5,337.4,241.4,338.5,240,338.5z M228.4,298.5h-56.9l-6.8-9.1
						c11.2,3.3,23,5,35.2,5c12.2,0,24-1.8,35.2-5L228.4,298.5z"></path>
					</svg>
        <h1>Insight</h1>
      </div>
      <div class="form">
        <h1>Change Password</h1>
        <form id="settings" class="clearfix" role="form" name="form" ng-submit="changePassword(form)" novalidate floating-label>
          <div class="form-group"
               ng-class="{shake: form.password.$error.mongoose && (form.password.$dirty || submitted),
               animated: form.password.$error.mongoose && submitted,
               error: form.password.$error.mongoose && submitted}">
            <span class="icon-lock-outline">&nbsp;</span>
            <label for="current-password" class="floating-label">Current Password</label>
            <input type="password" name="password" class="form-control" id="current-password" placeholder="Current Password" ng-model="user.oldPassword" required mongoose-error/>
          </div>
          <div class="form-group split"
               ng-class="{shake: (form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted),
               animated: (form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted),
               error: (form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)}">
            <span class="icon-lock-open">&nbsp;</span>
            <label for="password" class="floating-label">New Password</label>
            <input type="password" class="form-control" id="password" placeholder="New Password" name="newPassword" ng-model="user.newPassword"
                   ng-minlength="8"
                   required />
          </div>
          <div class="form-group split"
               ng-class="{shake: form.confirmPassword.$error.mongoose && (form.confirmPassword.$dirty || submitted),
               animated: form.confirmPassword.$error.mongoose && (form.confirmPassword.$dirty || submitted),
               error: form.confirmPassword.$error.mongoose && (form.confirmPassword.$dirty || submitted)}">
            <span class="icon-lock-outline">&nbsp;</span>
            <label for="confirmPassword" class="floating-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" ng-model="user.confirmPassword" mongoose-error/>
          </div>
          <div class="validation">
            <p ng-show="form.password.$error.mongoose && (form.password.$dirty || submitted)" ng-class="['fadeIn', 'animated', 'error-message']">Incorrect password</p>

            <p ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)"
               ng-class="['fadeIn', 'animated', 'error-message']">
              Password must be at least 8 characters.
            </p>

            <p ng-show="form.confirmPassword.$error.mongoose && (form.confirmPassword.$dirty || submitted)" ng-class="['fadeIn', 'animated', 'error-message']">
              Passwords do not match.
            </p>

            <p ng-class="['fadeIn', 'animated', 'error-message']" class="success"> {{ message }} </p>
          </div>
          <div class="controls disable-select">
             <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
