
.feedbackmodal {
  .modal-body {
    input[type="text"] {
      margin:0;
    }
    textarea {
      color: #fff;
      background-color: #314049;
      font-size: 14px;
    }
  }
  .btn.btn-default {
    background-color: #314049;
    font-size: 14px;
  }
  .ui-select-bootstrap .ui-select-toggle > .caret {
    color: #fff;
  }
  .ui-select-bootstrap {
    .ui-select-choices span {
      color: #fff;
    }
    .ui-select-choices-row {
      background-color: #314049;
    }
    .ui-select-choices-row.active > a {
      color: #fff;
      background-color: lighten(#314049, 10%);
    }
  }
  .ui-select-container.open .form-control {
    border-top: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
    border-bottom: 0px solid $light-grey;
    border-left: 1px solid $light-grey;

    padding: 8px 8px 8px 12px;
    text-transform: uppercase;
  }
  .dropdown-menu {
    background-color: #314049;
    border: 1px solid $medium-grey;
  }
  .form-modal-input .ui-select-match-text span {
    color: #fff !important;
    font-size: 16px;
  }
  .btn-default-focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline:none;
  }
  .form-control {
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    &:focus {
    box-shadow: none;
    }
  }
}
