<div class="drawer-header">
  Send Feedback
</div>
<div class="drawer-body feedbackmodal">
  <div class="modal-body">
    <form name="feedbackForm">
      <div class="form-modal-input">
          <ui-select ng-model="feedback.subject" skip-focusser="true" ng-required="true" name="subject">
              <ui-select-match placeholder="Select Subject">
                  <span ng-bind="$select.selected"></span>
              </ui-select-match>
              <ui-select-choices repeat="subject in subjects track by $index">
                  <span ng-bind="subject"></span>
              </ui-select-choices>
          </ui-select>
      </div>
      <div class="form-modal-input clearfix">
        <textarea rows="4" maxlength="1000" placeholder="Please let us know about any issues or ideas for future enhancements." name="feedback"
                  ng-model="feedback.text" ng-style="getFieldStyle('feedback')"
                  required></textarea>
      </div>
    </form>
  </div>
</div>
<div class="drawer-footer" style="height: 50px; z-index: 1;">
  <a class="btn white" ng-click="cancel()">
    <span>Cancel</span>
  </a>
  <button class="btn" ng-click="sendFeedbackEmail()" ng-disabled="!feedbackForm.$valid">
    <span>Send</span>
  </button>
</div>
