<span n title="Select Bin Number" class="deckster-card-control deckster-card-menu dropdown" uib-dropdown style="top: -12px; right: -10px;">
  <i class="fa fa-bar-chart dropdown-toggle" uib-dropdown-toggle style="font-size: 14px;"></i>
  <ul class="dropdown-menu caret-menu right" role="menu">
    <li ng-click="card.options.getCurrentViewOptions(card.currentSection).controls.changeBinNumber(card, 5)">
      <a ng-class="{selected : 5 === card.options.getCurrentViewOptions(card.currentSection).controls.selectedFilter}">5</a>
    </li>
    <li ng-click="card.options.getCurrentViewOptions(card.currentSection).controls.changeBinNumber(card, 10)">
      <a ng-class="{selected : 10 === card.options.getCurrentViewOptions(card.currentSection).controls.selectedFilter}">10</a>
    </li>
    <li ng-click="card.options.getCurrentViewOptions(card.currentSection).controls.changeBinNumber(card, 15)">
      <a ng-class="{selected : 15 === card.options.getCurrentViewOptions(card.currentSection).controls.selectedFilter}">15</a>
    </li>
    <li ng-click="card.options.getCurrentViewOptions(card.currentSection).controls.changeBinNumber(card, 20)">
      <a ng-class="{selected : 20 === card.options.getCurrentViewOptions(card.currentSection).controls.selectedFilter}">20</a>
    </li>
    <li ng-click="card.options.getCurrentViewOptions(card.currentSection).controls.changeBinNumber(card, 25)">
      <a ng-class="{selected : 25 === card.options.getCurrentViewOptions(card.currentSection).controls.selectedFilter}">25</a>
    </li>
    <li ng-click="card.options.getCurrentViewOptions(card.currentSection).controls.changeBinNumber(card, 30)">
      <a ng-class="{selected : 30 === card.options.getCurrentViewOptions(card.currentSection).controls.selectedFilter}">30</a>
    </li>
  </ul>
</span>
