/* Colors */

$btnText: #fff;
$btnTextAlt: #000;
$orange: #e67447;

.auth-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  transition: all .15s linear;

  .scrollable {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 40px;
    overflow: scroll;
    z-index: 3;
  }

  canvas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5;
    z-index: 1;
  }
}

#login-wrapper, #signup-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 600px;
  background: #fff;
  padding: 40px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  overflow: hidden;
  transition: all .15s linear;
  z-index: 2;

  .cancel {
    position: absolute;
    top: 30px;
    left: 20px;

    span {
      display: inline-block;
      background: transparent;
      padding: 4px 4px 6px 6px;
      font-size: 22px;
      color: #858585;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      border-radius: 100px;
      -khtml-border-radius: 100px;
      transition: all .25s linear;
    }
    span:hover {
      background: #f0f0f0;
      transition: all .25s linear;
    }
  }

  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 10px;
  }
  .logo {
    width: 100%;
    text-align: center;

    .svg-logo {
      width: 60px;

      &.default {
        display: inline-block;
      }
      &.light {
        display: none;
      }
    }
    h1 {
      font-family: 'Museo Sans', Arial, sans-serif;
      font-size: 30px;
      color: #48dcca;
    }
  }
  .form {
    width: 100%;
    padding: 10px 0 0 0;
    text-align: center;

    h1 {
      font-size: 16px;
      text-transform: uppercase;
      color: #858585;
      padding: 0 0 20px 0;
      font-weight: 500;

      &.light-subtitle {
        font-size: 14px;
        font-weight: 300;
        text-transform: none;
      }
    }

    .form-group {
      position: relative;
      width: 100%;
      margin: 0 0 0px 0;
      float: left;

      span[class*="icon-"] {
        position: absolute;
        top: 15px;
        left: 0;
        font-size: 20px;
        color: #959595;
        z-index: 1;

        &.icon-name {
          top: 20px;
          font-size: 16px;


          &.fnln {    //signup screen
            font-family: 'Museo Sans', Arial, sans-serif;
            position: absolute;
            top: 18px;
            left: -2px;
            font-size: 20px;
            color: #959595;
            z-index: 1;
          }
        }
      }
      .floating-label {
        position: absolute;
        left: 0;
        font-size: 14px;
        text-transform: uppercase;
        color: #858585;
        padding: 0 0 0 30px;
        margin: 0;
        opacity: 0;
      }
      .floating-label:hover {
        cursor: text;
      }
      .form-control {
        position: relative;
        background: transparent;
        border: none;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 15px 0 20px 0;
        padding: 0 30px 13px 30px;
        font-size: 17px;
        color: $dark-grey;
        transition: all .15s linear;
        border-bottom: 1px solid #d5d5d5;
        height: 40px;
        line-height: 1.428571429;
      }
      .form-control:hover {
        border-color: #b5b5b5;
        transition: all .15s linear;
      }
      .form-control:focus {
        border-color: #3aa3bf;
        font-size: 24px;
        color: #000;
        margin: 20px 0 20px 0;
        padding: 0 30px 10px 30px;
        transition: all .15s linear;
        height:40px;
      }
      &.error {

        .form-control {
          border-color: #df5d5d;
          color: #df5d5d;
        }
        ::-webkit-input-placeholder {
          color: #df5d5d;
        }
        :-moz-placeholder {
          color: #df5d5d;
        }
        ::-moz-placeholder {
          color: #df5d5d;
        }
        :-ms-input-placeholder {
          color: #df5d5d;
        }
      }
      &:last-child {
	      margin: 0 0 14px 0;
      }
    }
    .validation {
      width: 100%;
      float: left;

      p {
        text-align: center;
        font-size: 14px;
        color: #df5d5d;
        padding: 0 0 10px 0;

        &.success {
          color: #4F8A10;
        }
      }
      &.error-message {
        display: block;
      }
    }
    .controls {
      width: 100%;
      padding: 10px 0 0 0;
      float: left;

      a, button {
        display: inline-block;
        background: #3aa3bf;
        padding: 12px 20px 12px 20px;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -khtml-border-radius: 3px;
        border: none;
      }
      a:hover, button:hover {
        background: #147d99;
      }
    }
  }

    a.password-reset {
      position: absolute;
      bottom: 0;
      right: 0;
      color: $orange;
    }
    a:hover {
      color: darken($orange,10%);
    }

  .footer {
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
    margin-top: 40px;
    p {
      font-size: 14px;
      color: #858585;
      padding: 0 0 10px 0;
    }
    a {
      font-size: 14px;
      color: $orange;
    }
    a:hover {
      color: darken($orange,10%);
    }
  }
}

#signup-wrapper {

  .form {

    .form-group.split {
      width: 50%;
      float: left;
      transition: all .15s linear;
    }
    .form-group.split:nth-child(even) {
      transition: all .15s linear;

      span[class*="icon-"] {
        transition: all .15s linear;
      }
      .floating-label {
        transition: all .15s linear;
      }
    }
    .form-group.split:nth-child(odd) {
      transition: all .15s linear;
    }
  }
}

@media only screen and (max-width: 680px) {
  .auth-container {
    height: initial;
    min-height: 100%;
    transition: all .15s linear;
  }
  .auth-container .scrollable {
    padding: 20px;
  }

  .auth-container #login-wrapper, .auth-container #signup-wrapper {
    position: relative;
    top: inherit;
    left: inherit;
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -ms-transform: inherit;
    -o-transform: inherit;
    transform: inherit;
    width: 100%;
    margin: 0 auto;
    transition: all .15s linear;
  }
  .auth-container #signup-wrapper .form .form-group.split {
    width: 100%;
    padding: 25px 0 15px 0;
    transition: all .15s linear;
  }
  .auth-container #signup-wrapper .form .form-group.split:nth-child(even) {
    padding-left: inherit;
    transition: all .15s linear;
  }
  .auth-container #signup-wrapper .form .form-group.split:nth-child(odd) {
    padding-left: inherit;
    transition: all .15s linear;
  }
  .auth-container #signup-wrapper .form .form-group.split:nth-child(even) span[class*="icon-"] {
    left: 0;
    transition: all .15s linear;
  }
  .auth-container #signup-wrapper .form .form-group.split:nth-child(even) .floating-label {
    left: 0;
    transition: all .15s linear;
  }

}

@media only screen and (max-height: 600px) {
  .auth-container {
    height: initial;
    min-height: 100%;
    transition: all .15s linear;
  }
  .auth-container .scrollable {
    padding: 20px;
  }

  .auth-container #login-wrapper, .auth-container #signup-wrapper {
    position: relative;
    top: inherit;
    left: inherit;
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -ms-transform: inherit;
    -o-transform: inherit;
    transform: inherit;
    margin: 0 auto;
    transition: all .15s linear;
  }

}

.light-theme {

  .gradient {
    background: #f48d70 linear-gradient(
        45deg,
        #ecc96a, #f48d70
    );
  }
  .gradient-inverse {
    background: #ecc96a linear-gradient(
        45deg,
        #f48d70, #ecc96a
    );
  }

  #login-wrapper, #signup-wrapper {

    .logo {

      .svg-logo {
        width: 60px;

        &.default {
          display: none;
        }
        &.light {
          display: inline-block;
        }
      }
      h1 {
        font-family: 'Museo Sans', Arial, sans-serif;
        font-weight: normal;
        font-size: 40px;
        color: $orange;
        margin-top: 12px;
        text-transform: uppercase;
      }
    }
  }
  #login-wrapper, #signup-wrapper {

    .form {

      .form-group {

        .form-control {

          &:focus {
            border-color: #f48d70;
          }
        }
      }
      .controls {

        a {
          color: #dd6f50;

          &:hover {
            color: #d56444;
          }
        }
        button {
          background: $orange;

          &:hover {
            background: darken($orange,10%);
          }
        }
      }
    }
  }
}

.pwvalidate
{
left: 30px;
position: absolute;
top: 41px;
}

.strength-indicator {
  display: inline-block;
  height: 12px;
  margin: 0px 0px 6px;
  padding: 0;
  list-style: none;
}
.strength-indicator > .point {
  background-color: #ccc;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 1px;
  width: 30px;

  &.danger {
    background-color: #f00;
  }
  &.warning {
    background-color: #ff0;
  }
  &.success {
    background-color: #0f0;
  }
}







