/*
  File: quadChart.scss
  Desc: Standard styling for the quadChart view
*/


#programQuads {
  height: auto;
  .deckster-summary {
  }
}

$quadChart-border: 2px solid #a6a6a6;
$quadChart-borderlighttheme: 2px solid #e7e7e7;


@mixin quad_cell {
  height:100%;
  min-height:100px;
  padding-top:    1px;
  padding-right:  1px;
  padding-bottom: 1px;
  padding-left:   1px;
  background-color: #fff;
  span{
    line-height:1.4em;
  }
  .light-theme & {
  }


  div {
    text-align:     left;
    vertical-align: text-top;
    //overflow:       scroll;
  }

} // end of @mixin quad_cell


@mixin quad_title_cell {
  padding-top:    4px;
  padding-bottom: 4px;
} // end of @mixin quad_title_cell


@mixin quad_data_cell {
  padding:8px 12px 14px 12px;
} // end of @mixin quad_data_cell


@mixin quad_row {
  border-bottom: $quadChart-border;
  .light-theme & {
    border-bottom: $quadChart-borderlighttheme;
  }

} // end of @mixin quad_row

.quad-chart {
  background-color: #fff;
  height:  auto;
  width:   100%;
  border-top:  $quadChart-border;
  border-left: $quadChart-border;
  overflow: auto;
  .light-theme & {
    border-top: none;
    border-left: none;
  }

  p {
  }

  ul {
    list-style:   disc;
    padding-top:4px;
    padding-left: 14px;
    padding-bottom:4px;
  }

  li {
    padding-top:2px;
  }

  ol {
    padding-top:4px;
    list-style:   decimal;
    padding-left: 14px;
    padding-bottom:4px;
  }

  i {
    font-style: italic;
  }

  b {
    font-weight:bold;
  }

  h2 {
    font-size:14px;
    padding-top:10px;
    padding-bottom:10px;
    text-transform: uppercase;
    display:          block;
    background-color: #F5F5F5;
    border-bottom: 1px solid #eee;
    text-align:       center;
    vertical-align:   text-bottom;
    width:            100%;
    &#programQuads-summary-quadchart-header-title {
      display: none;
    }
    .light-theme & {
      background-color: #f4f4f4;
      border-bottom: 1px solid #eee;
    }
  } // end of h2

  .quad-chart-header-row {
    @include quad_row;

    .light-theme & {

    }

    .quad-chart-header-column {

      .quad-chart-header-title {
        display:          block;
        background-color: #FAAFBE;
        text-align:       center;
        vertical-align:   text-bottom;
        width:            100%;
        padding-top:      8px;
        padding-bottom:   8px;
      }

      .quad-chart-header-data {
        //@include        quad_data_cell;
        text-align:     center;
        vertical-align: middle;
        background-color: #fff;
        padding-top: 8px;
        height: 30px;
        font-size: 12px;
      }
    }
  } // end of .quad-chart-header-row

  .quad-chart-top-row {
    @include quad_row;
    .quad-chart-top-left {
      border-right:$quadChart-border;
      .light-theme & {
        border-right:$quadChart-borderlighttheme;
      }
      @include quad_cell;
      .quad-chart-top-left-title {
        @include quad_title_cell;
      }
      .quad-chart-top-left-data {
        @include quad_data_cell;
      }
    }

    .quad-chart-top-right {
      border-left:$quadChart-border;
      margin-left:-2px;
      .light-theme & {
        border-left:$quadChart-borderlighttheme;
      }
      @include quad_cell;
      .quad-chart-top-right-title {
        width: 100.35%;
        @include quad_title_cell;
      }
      .quad-chart-top-right-data {
        @include quad_data_cell;
      }
    }

  } // end of .quad-chart-top-row

  .quad-chart-bottom-row {
    @include quad_row;
    .light-theme & {
    }
    .quad-chart-bottom-left {
      @include quad_cell;
      .quad-chart-bottom-left-title {
        @include quad_title_cell;
      }
      .quad-chart-bottom-left-data {
        @include quad_data_cell;
      }
    }

    .quad-chart-bottom-right {
      border-left:$quadChart-border;
      margin-left:-2px;
      .light-theme & {
        border-left:$quadChart-borderlighttheme;
      }
      @include quad_cell;
      .quad-chart-bottom-right-title {
        width: 100.35%;
        @include quad_title_cell;
      }
      .quad-chart-bottom-right-data {
        @include quad_data_cell;
      }
    }

  } // end of .quad-chart-bottom-row

  .quad-chart-footer-row {
    @include      quad_row;

    .light-theme & {

    }

    .quad-chart-footer-column {
      @include quad_cell;
      .quad-chart-footer-title {
        @include quad_title_cell;
      }
      .quad-chart-footer-data {
        @include quad_data_cell;
      }
    }
  } // end of .quad-chart-footer-row

} // end of .quad-chart

