<span class="deckster-card-control" style="top: -12px;">
  <i class="fa fa-level-up" style="font-size: 14px;"
     ng-click="card.options.getCurrentViewOptions(card.currentSection).drillUp(card)"
  ></i>
</span>
