.dropdown-menu {
  .filter {
    text-align: left;
    overflow: auto;

    .dropdown-header {
      padding: 3px 10px;
    }

    .filter-header {
      padding: 0;
      color: darkgrey;
    }

    .filter-item {
      color: #FFF;
      font-weight: normal;
      margin-left: 10px;
      &.selected {
        color: #147D99;
      }
      &.pushed {
        //margin-left: 10px;
      }
    }
  }
}

.noData {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 2px;
  height: 17px;
  width: 105px;
  border: 1px solid black;
  background-color: white;
  z-index: 99;
  visibility: hidden;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 11px;
  padding: 1px 6px;
  border-radius: 2px;
  font-weight: 500;
}
