<span class="deckster-card-control deckster-card-menu dropdown" uib-dropdown>
  <i class="icon-layers dropdown-toggle" uib-dropdown-toggle style="font-size: 14px;"></i>
  <ul class="dropdown-menu caret-menu right" role="menu">
    <li ng-click="card.options.getCurrentViewOptions(card.currentSection).controls.displayMapLayer(card, 'auto')">
      <a ng-class="{selected : 'auto' === card.options.getCurrentViewOptions(card.currentSection).controls.selectedMapLayer}">Auto</a>
    </li>
    <li ng-click="card.options.getCurrentViewOptions(card.currentSection).controls.displayMapLayer(card, 'pins')">
      <a ng-class="{selected : 'pins' === card.options.getCurrentViewOptions(card.currentSection).controls.selectedMapLayer}">Markers</a>
    </li>
    <li ng-click="card.options.getCurrentViewOptions(card.currentSection).controls.displayMapLayer(card, 'heat')">
      <a ng-class="{selected : 'heat' === card.options.getCurrentViewOptions(card.currentSection).controls.selectedMapLayer}">Heat</a>
    </li>
  </ul>
</span>
