<div class="drawer-header">
  Card Help
</div>
<div class="drawer-body" >

  <flex-slider flex-slide="content in helpContent" animation="slide" slideshow=false start-at="startIndex">
    <li>
      <div class="card-help">
        <div class="title">{{card.options.title}}</div>
        <br/>
        <div ng-include="content"></div>
      </div>
    </li>
  </flex-slider>

</div>
<div class="drawer-footer">
  <a class="btn white" ng-click="close()">
    <span>Close</span>
  </a>
</div>
