<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta http-equiv="refresh" content="10; url=<%= GlobalConfig.redirectUrl %>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>NES - Insight</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
    <!-- injector:css -->
    <link rel="stylesheet" href="assets/fonts/ops-icons/style.css">
    <!-- endinjector -->
    <!-- endbuild -->
</head>
<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/?locale=en">upgrade your browser</a> to improve your
    experience. This application needs a minimum version of IE 9 to function.</p>
<![endif]-->

<!-- Add your site or application content here -->

<% if (GlobalConfig.environment !== 'production') { %>
<div class="environment-bar"> INSIGHT TESTING ENVIRONMENT</div>
<% } %>

<!-- Set GlobalConfig -->
<script>
    window.GlobalConfig = JSON.parse('<%- JSON.stringify(GlobalConfig) %>');
</script>

<div style="height: 100%;" class="light-theme">
    <div class="auth-container gradient"
         trianglify="{ variance: '1', cell_size: 140, seed: 'qaens'}">

        <div class="scrollable">

            <div id="login-wrapper">
                <div class="header gradient-inverse">&nbsp;</div>
                <div class="logo disable-select">
                    <svg version="1.1" id="opsinsight"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="38px" height="50px" viewBox="0 0 37.5 50" style="enable-background:new 0 0 37.5 50;"
	 xml:space="preserve">
<style type="text/css">
	.st0{fill:#E87A51;}
</style>
<defs>
</defs>
<path class="st0" d="M37.5,19.3C37.5,8.6,29.1,0,18.8,0S0,8.6,0,19.3C0,26,3.6,32.4,9.3,35.9L9.4,36l2.9,3.9L11.9,40
	c-0.8,0.4-1.3,1.2-1.3,2c0,0.5,0.1,0.9,0.4,1.3l0.1,0.2L11,43.8c-0.3,0.4-0.4,0.8-0.4,1.3c0,1.2,0.9,2.2,2.1,2.2l0.4,0l0,0.4
	c0,0.1,0,0.2,0,0.2c0,1.1,0.9,2.1,2.1,2.1h7.4c1.1,0,2.1-0.9,2.1-2.1c0-0.1,0-0.2,0-0.2l0-0.4l0.4,0c1.2-0.1,2.1-1.1,2.1-2.2
	c0-0.5-0.1-0.9-0.4-1.3l-0.1-0.2l0.1-0.2c0.3-0.4,0.4-0.8,0.4-1.3c0-0.9-0.5-1.7-1.3-2.1l-0.4-0.2l3-4C34,32.4,37.5,26,37.5,19.3z
	 M22.5,48.8H15c-0.5,0-0.9-0.4-0.9-0.9c0-0.1,0-0.3,0.1-0.4l0.1-0.2h8.8l0.1,0.2c0.1,0.1,0.1,0.3,0.1,0.4
	C23.4,48.4,23,48.8,22.5,48.8z M24.7,45.8H12.8c-0.4,0-0.7-0.3-0.7-0.7c0-0.3,0.1-0.5,0.4-0.6l0.1-0.1l0.1,0c0.1,0,0.1,0,0.2,0h11.9
	c0,0,0.1,0,0.1,0l0.1,0l0.1,0.1c0.2,0.1,0.4,0.4,0.4,0.6C25.4,45.5,25.1,45.8,24.7,45.8z M25.4,42.1c0,0.4-0.3,0.7-0.7,0.7H12.8
	c-0.4,0-0.7-0.3-0.7-0.7c0-0.4,0.3-0.7,0.7-0.7h11.9C25.1,41.4,25.4,41.7,25.4,42.1z M12.6,37.5l1,0.3c3.3,1,7,1,10.3,0l1-0.3
	l-1.7,2.3h-8.8L12.6,37.5z M18.8,36.8c-9.4,0-17.1-7.9-17.1-17.5S9.3,1.7,18.8,1.7s17.1,7.9,17.1,17.5S28.2,36.8,18.8,36.8z"/>
</svg>
                    <h1>Insight</h1>
                </div>
                <div class="form">
                    <h1 class="light-subtitle">Thank you for visiting Insight. Insight has been permanently moved to <a href="<%= GlobalConfig.redirectUrl %>"><%= GlobalConfig.redirectUrl %></a>.</h1>
                    <h1 class="light-subtitle">You will automatically be redirected in 10 seconds. If you aren't automatically redirected click the following link. Thanks! <a href="<%= GlobalConfig.redirectUrl %>"><%= GlobalConfig.redirectUrl %></a>.</h1>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '<%= GlobalConfig.google.trackingId %>');
    ga('send', 'pageview');
</script>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/trianglify/dist/trianglify.min.js"></script>

<script>
    $(document).ready(function () {
        var element = $('.auth-container');

        var pattern = Trianglify({
            variance: '1',
            cell_size: 140,
            seed: 'qaens',
            x_colors: 'YlOrRd',
            width: element.width(),
            height: element.height()
        });

        element.find('#trianglify-canvas').remove();
        element.append($(pattern.canvas()).attr('id', 'trianglify-canvas'));
    });
</script>

</body>
</html>
