$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
$ft-font-path: "/bower_components/footable/css/fonts";
$custom-font-path: "/assets/fonts";
$ops-fonts-path: "/assets/fonts/ops-icons/fonts";

@import 'nsPopover/sass/ns-popover';
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'reset-scss/reset';

@font-face {
    font-family: 'Museo Sans';
    src: url('../assets/fonts/museo-sans/museosans-100-webfont.eot');
    src: url('../assets/fonts/museo-sans/museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/museo-sans/museosans-100-webfont.woff') format('woff'),
         url('../assets/fonts/museo-sans/museosans-100-webfont.ttf') format('truetype'),
         url('../assets/fonts/museo-sans/museosans-100-webfont.svg#museo_sans100') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../assets/fonts/museo-sans/museosans-100italic-webfont.eot');
    src: url('../assets/fonts/museo-sans/museosans-100italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/museo-sans/museosans-100italic-webfont.woff') format('woff'),
         url('../assets/fonts/museo-sans/museosans-100italic-webfont.ttf') format('truetype'),
         url('../assets/fonts/museo-sans/museosans-100italic-webfont.svg#museo_sans100_italic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../assets/fonts/museo-sans/museosans-300-webfont.eot');
    src: url('../assets/fonts/museo-sans/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/museo-sans/museosans-300-webfont.woff') format('woff'),
         url('../assets/fonts/museo-sans/museosans-300-webfont.ttf') format('truetype'),
         url('../assets/fonts/museo-sans/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../assets/fonts/museo-sans/museosans-300italic-webfont.eot');
    src: url('../assets/fonts/museo-sans/museosans-300italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/museo-sans/museosans-300italic-webfont.woff') format('woff'),
         url('../assets/fonts/museo-sans/museosans-300italic-webfont.ttf') format('truetype'),
         url('../assets/fonts/museo-sans/museosans-300italic-webfont.svg#museo_sans300_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../assets/fonts/museo-sans/museosans-500-webfont.eot');
    src: url('../assets/fonts/museo-sans/museosans-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/museo-sans/museosans-500-webfont.woff') format('woff'),
         url('../assets/fonts/museo-sans/museosans-500-webfont.ttf') format('truetype'),
         url('../assets/fonts/museo-sans/museosans-500-webfont.svg#museo_sans500') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../assets/fonts/museo-sans/museosans-500italic-webfont.eot');
    src: url('../assets/fonts/museo-sans/museosans-500italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/museo-sans/museosans-500italic-webfont.woff') format('woff'),
         url('../assets/fonts/museo-sans/museosans-500italic-webfont.ttf') format('truetype'),
         url('../assets/fonts/museo-sans/museosans-500italic-webfont.svg#museo_sans500_italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../assets/fonts/museo-sans/museosans-700-webfont.eot');
    src: url('../assets/fonts/museo-sans/museosans-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/museo-sans/museosans-700-webfont.woff') format('woff'),
         url('../assets/fonts/museo-sans/museosans-700-webfont.ttf') format('truetype'),
         url('../assets/fonts/museo-sans/museosans-700-webfont.svg#museo_sans700') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../assets/fonts/museo-sans/museosans-700italic-webfont.eot');
    src: url('../assets/fonts/museo-sans/museosans-700italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/museo-sans/museosans-700italic-webfont.woff') format('woff'),
         url('../assets/fonts/museo-sans/museosans-700italic-webfont.ttf') format('truetype'),
         url('../assets/fonts/museo-sans/museosans-700italic-webfont.svg#museo_sans700_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../assets/fonts/museo-sans/museosans-900-webfont.eot');
    src: url('../assets/fonts/museo-sans/museosans-900-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/museo-sans/museosans-900-webfont.woff') format('woff'),
         url('../assets/fonts/museo-sans/museosans-900-webfont.ttf') format('truetype'),
         url('../assets/fonts/museo-sans/museosans-900-webfont.svg#museo_sans900') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../assets/fonts/museo-sans/museosans-900italic-webfont.eot');
    src: url('../assets/fonts/museo-sans/museosans-900italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/museo-sans/museosans-900italic-webfont.woff') format('woff'),
         url('../assets/fonts/museo-sans/museosans-900italic-webfont.ttf') format('truetype'),
         url('../assets/fonts/museo-sans/museosans-900italic-webfont.svg#museo_sans900_italic') format('svg');
    font-weight: 900;
    font-style: italic;
}

/* App Colors */

$dark-grey: #353535;
$csc-red: #ec292f;
$blue: #3AA3BF;
$in-active: rgba(255, 255, 255, 0.25);
$light-grey: #F5F5F5;
$medium-grey: lighten($dark-grey, 40%);

$table-ylabel: darken($medium-grey, 10%);
$table-data: $dark-grey;

$sidebar-bg: $dark-grey;
$main-bg: $light-grey;

$orange: #e67447;
$dkorange: #b33e17;
$bluegrey: #27333A;
$buttongrey: #586b75;


// heatmap colors
$red: #ee5b30;
$yellow: #FFD400;
$green: #7FB236;
$ns: #595b61;
$na: #7b9dad;


@font-face {
  font-family: 'footable';
  src: url('#{$ft-font-path}/footable.eot');
  src: url('#{$ft-font-path}/footable.eot?#iefix') format('embedded-opentype'), url('#{$ft-font-path}/footable.woff') format('woff'), url('#{$ft-font-path}/footable.ttf') format('truetype'), url('#{$ft-font-path}/footable.svg#footable') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ops-icons';
  src: url('#{$ops-fonts-path}/ops-icons.eot');
  src: url('#{$ops-fonts-path}/ops-icons.eot?#iefix') format('embedded-opentype'),
  url('#{$ops-fonts-path}/ops-icons.ttf') format('truetype'),
  url('#{$ops-fonts-path}/ops-icons.wof?') format('woff'),
  url('#{$ops-fonts-path}/ops-icons.svg#ops-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**
 * App wide class mixins
 */

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.environment-bar {
  width: 100%;
  background: #eb8d5f;
  color: #FFF;
  text-align: center;
  padding: 4px 0;
  font-size: 12px;
  text-transform: uppercase;
}

/**
 * App-wide Styles
 */

html {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  border: none;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Museo Sans', Arial, sans-serif;
  height: 100%;
  width: 100%;
  font-size: 12px;
  line-height: 1.2;

  a {
    cursor: pointer;
    color: #3aa3bf;
    text-decoration: none;
    outline: none;
    transition: all .15s linear;
  }
  a:hover {
    color: #147d99;
    text-decoration: none;
    outline: none;
    transition: all .15s linear;
  }
  a:focus {
    outline: none;
    text-decoration: none;
  }

  button {
    text-decoration: none;
    outline: none;
    transition: all .15s linear;
  }
  button:hover {
    text-decoration: none;
    outline: none;
    transition: all .15s linear;
  }

  input {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: all .15s linear;
  }
  input:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: all .15s linear;
  }
  textarea {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: all .15s linear;
  }
  textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: all .15s linear;
  }

  input, textarea {
    border: 1px solid #CCC;
    border-radius: 3px;
    background: #FCFCFC;
    font-size: 12px;
    padding: 0 5px;
  }

  ::-webkit-input-placeholder {
    color: #858585;
  }
  :-moz-placeholder {
    color: #858585;
  }
  ::-moz-placeholder {
    color: #858585;
  }
  :-ms-input-placeholder {
    color: #858585;
  }

  input:-webkit-autofill, input:hover:-webkit-autofill, input:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
  }

  .disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  ::selection {
    background: #48dcca;
    color: #fff;
  }
  ::-moz-selection {
    background: #48dcca;
    color: #fff;
  }

  .gradient {

    /* Background Fallback */
    /* Background Gradient */
    background: #3aa3bf linear-gradient(
        45deg,
        #48dcca, #3aa3bf
    );
  }
  .gradient-inverse {

    /* Background Fallback */
    /* Background Gradient */
    background: #48dcca linear-gradient(
        45deg,
        #3aa3bf, #48dcca
    );
  }
}

.content-wrapper {


  /* Light Theme */

  &.light-theme {
    .main-content-wrapper {
      background: #F5F5F5;
    }
  }
}

i {
  @extend .no-select;
}

.input-wrapper {
  position: relative;
  &.inline {
    display: inline-block;
  }
  &.with-icon {
    input {
      padding-left: 25px;
    }
    i.input-icon {
      @extend .center-vertical;
      font-size: 12px;
      position: absolute;
      left: 7px;
    }
  }
}

tags-input {
  .tags {
    padding: 1px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: #FCFCFC;
    border: 1px solid #CCC;
    border-radius: 3px;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    box-shadow: none;
    display: inline-block;
    width: 100%;
    &.focused {
      box-shadow: none;
    }
    .input {
      height: 27px !important;
      margin: 2px !important;
      font-size: 12px;
    }
    .tag-item {
      cursor: pointer;
      border: none;
      font-size: 13px;
      color: #FFF;
      background: $blue;
      font-family: 'Museo Sans', Arial, sans-serif;
      @include transition(background 0.10s linear);
      .remove-button {
        color: #FFF;
      }
      &.selected {
        background: $csc-red;
      }
      &:hover {
        background: lighten($blue, 5%);
      }
    }
  }
  .host {
    height: auto;
  }
  .autocomplete {
    .suggestion-item.selected, .suggestion-item.selected em {
      color: #000;
      background-color: $light-grey;
    }
  }
}

textarea {
  height: auto;
  max-width: 100%;
}

.dropdown-menu.caret-menu {
  right: 0;
  left: initial;
  margin-top: 9px;
  border-color: #CCC;
  border-radius: 0;
  .divider {
    margin: 5px 0;
  }
  &:after, &:before {
    bottom: 100%;
    right: 5px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #FFFFFF;
    border-width: 7px;
    margin-right: 1px;
  }
  &:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #ccc;
    border-width: 8px;
    margin-right: 0;
  }
}

.calendar_field{
  border-bottom:0;
}

.dropdown-menu {
  &.left {
    right: auto;
    left: -5px;
    &:after, &:before {
      left: 5px;
    }
    &:before {
      border-width: 7px;
    }
  }

  &.right {
    left: auto;
    right: 0;
  }
}

.dropdown-menu > li > a {
  width: 100% !important;
}

.dropdown-menu > li > a.selected {
  text-decoration: none;
  color: #262626;
  background-color: #F5F5F5;

}

.btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 11px;
  @include transition(all 0.15s ease-in-out);

  &.btn-primary {
    background-color: $blue;
    border-color: darken($blue, 5%);

    &:hover, &:active, &:focus {
      background-color: darken($blue, 5%);
      border-color: darken($blue, 10%);
    }
  }
  &.btn-default {
    background-color: $light-grey;
    border-color: darken($light-grey, 5%);

    &:hover, &:active, &:focus {
      background-color: darken($light-grey, 5%);
      border-color: darken($light-grey, 10%);
    }
  }
  &.btn-danger {
    background-color: $csc-red;
    border-color: darken($csc-red, 5%);

    &:hover, &:active, &:focus {
      background-color: darken($csc-red, 5%);
      border-color: darken($csc-red, 10%);
    }
  }
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 5px;
  margin-bottom: 5px;
}

[datepicker] {
  .btn {
    border: none;
    &:focus, &:active:focus, &.active:focus {
      outline: none;
    }
  }
  th:nth-child(2) button {
    margin-left: 1px;
  }
}

[datepicker-popup-wrap].dropdown-menu {
  padding: 5px;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  li:nth-child(2) {
    padding: 10px 0 0 !important;
  }
  .btn {
    &.btn-default {
      background-color: initial;
      border-color: initial;
    }
    &.btn-info {
      color: #FFF;
      background-color: $blue;
      border-color: darken($blue, 5%);
      .text-info {
        color: #FFF;
      }
    }
    &.btn-danger {
      color: #FFF;
      background-color: $csc-red;
      border-color: darken($csc-red, 5%);
      .text-info {
        color: #FFF;
      }
    }
    &.btn-success {
      color: #FFF;
      background-color: $blue;
      border-color: darken($blue, 5%);
      .text-info {
        color: #FFF;
      }
    }
  }
}

.md-autocomplete-suggestions {
  z-index: 1051;
}

.light-theme {

  ::selection {
    background: #ecc96a;
    color: #fff;
  }
  ::-moz-selection {
    background: #ecc96a;
    color: #fff;
  }
}

md-checkbox .md-label {
  font-size: 14px;
  color: #858585;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  height: 40px;
  margin: 0;
  width: 100% !important;
  display: block;
  border-bottom: 1px solid #efefef;
  padding: 7px 0 13px 0;
  font-size: 14px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.insight-select.ui-select-container {
  width: 100% !important;

  .ui-select-toggle {
    display: inline-block;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #D5D5D5;
    border-radius: 0;
    outline: none;
    padding: 8px 0 12px 0;
    margin: 0;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    color: #444;
    text-transform: none;

    .text-muted {
      color: #858585;
    }
    .btn-xs.btn-link {
      background: none;
      padding: 0;
      position: absolute;
      top: 10px;
      right: 0;
      display: block;
      border: none;
      margin: 0 !important;
      color: #888;
      outline: none;

      i {
        font-family: 'ops-icons';
        font-size: 14px;
        color: #858585;
        transition: all .15s linear;

        &:before {
          content: "\e605";
        }
      }
      &:hover {

        i {
          color: #000;
          transition: all .15s linear;
        }
      }
    }
    .caret {
      display: none;
    }
  }
  .ui-select-match {

    &.btn-default-focus {
      background: none;
      box-shadow: none;
      outline: none;
      outline-offset: 0;
    }
  }
  .ui-select-search {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    outline: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    color: #858585;
    text-transform: none;
    line-height: 22px;
  }
  .ui-select-choices {
    position: relative !important;
    top: inherit !important;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border-top: none;
    border-right: 1px solid lighten($bluegrey, 15%);
    border-bottom: 1px solid lighten($bluegrey, 15%);
    border-left: 1px solid lighten($bluegrey, 15%);
    box-shadow: none;
    z-index: 1;
  }

  .ui-select-choices-row {
    background: lighten($bluegrey, 5%);
    border-bottom: 1px solid lighten($bluegrey, 10%);
    transition: all .15s linear;

    a {
      background: transparent;
    }
    &:last-child {
      border-bottom: none;
    }
    &.active {
      & > a {
        background: transparent;
        border-left: 3px solid #3aa3bf;
        text-indent: 10px;
        color: #fff;
        transition: all .15s linear;
      }
    }
    &:hover {
      & > a {
        background: transparent;
        border-left: 3px solid #3aa3bf;
        text-indent: 10px;
        color: #fff;
        transition: all .15s linear;
      }
    }
  }

  .ui-select-choices-row-inner {
    padding: 10px 15px 11px 15px;
    border-left: 3px solid #F0F0F0;
    text-indent: 0;
    font-size: 14px;
    color: #858585;
    line-height: normal;
    transition: all .15s linear;
  }

  &.form-control {
    border: none;
    box-shadow: none;
    padding: 0;
  }
}

.ui-select-container {

  &.open {

    .form-control {
      background: transparent;
      border-bottom: 1px solid #3aa3bf;
      padding: 7px 0 10px 0;
    }
  }
}


.deckster-card-content {
  .table-pagination {
    height: auto;
    background: #353535;
    border-top: 1px solid #2b2b2b;
    padding: 1px 10px;
    text-align: center;

    span {
      font-family: 'Museo Sans', Arial, sans-serif;
      font-size: 11px;
      font-weight: normal;
      text-transform: uppercase;
      color: #858585;
    }
    select {
      height: 24px;
      background: #2b2b2b;
      padding: 0 10px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -khtml-border-radius: 3px;
      line-height: 10px;
    }
  }
}

.light-theme {

  .flexslider {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: #FFF;
  }

  .bootstrap-table {

    .fixed-table-container {
      background: #e9edf0;

    }
    tbody {

      tr {
        border-color: #d9dfe3;

        > td {
          //color: #000;
        }
        &:last-child {
          border: none;
        }
      }
      tr:nth-child(odd), tr:nth-child(even) {

        > td {
          //background: #fff;
        }
      }
      > tr.hover, > tr:hover, > tr:nth-child(even):hover, > tr:nth-child(odd):hover {

        > td {
          background: $light-grey;
        }
      }
    }
  }
  .deckster-card-content {
    .table-pagination {
      background: #fff;
      border-color: #d9dfe3;

      span {
        color: #858585;
      }
      select {
        background: #e9edf0;
      }
    }
  }

  .ui-select-container {

    &.open {

      .form-control {
        border-color: lighten($orange,5%);
      }
    }
  }

  .minimal-modal {

    .modal-dialog {

      .drawer-body {

        .modal-body {

          .form-modal-input {

            label {
              color: #fff;
            }
          }
        }
      }
    }
    .drawer-footer {

      button {

        &.btn {
          background: lighten($orange,5%);
          border-color: lighten($orange,5%);
        }
        &:hover {

          &.btn {
            background: #dd6f50;
            border-color: #dd6f50;
          }
        }
      }
    }
  }

}


/* checkboxes  */

.usercheck {
      position: relative;
      top: 10px;
      padding-left:10px;
      margin: -5px 0 0;

   label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
     background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
     background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    //background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
    //background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.3);
  }
   label:after {
    content: '';
    width: 20px;
    height: 12px;
    position: absolute;
    top: 0px;
    left: 4px;
    border: 5px solid #3aa3bf;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
     .light-theme & {
       content: '';
       width: 20px;
       height: 12px;
       position: absolute;
       top: 0px;
       left: 4px;
       border: 5px solid lighten($orange,5%);
       border-top: none;
       border-right: none;
       background: transparent;
       opacity: 0;
       -webkit-transform: rotate(-45deg);
       transform: rotate(-45deg);
     }
  }
   label:hover::after {
    opacity: 0.3;
  }
   input[type=checkbox] {
    visibility: hidden;
  }
   input[type=checkbox]:checked + label:after {
    opacity: 1;
  }
}
/* end checkboxes */



/**
 * App-wide Layout Elements & Styles
 */

.view {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  background: #243138;
  height: 50px;
  border-bottom: 1px solid rgba(black,0.05);

  .app-brand {
    display: inline-block;
    height: 50px;
    margin: 0 20px;

    .name {
      display: inline-block;
      height: 50px;
      color: white;
      line-height: 50px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 15px;
    }

    .logo {
      display: inline-block;
      height: 30px;
      width: 30px;
      margin: 10px 10px 10px 0;
      float: left;

      svg {
        height: 30px;
        width: 30px;

        path {
          fill: #fff;
        }
      }
    }

    .app-switch {

      .dropdown-menu {
        top: 28px;
        left: -40px;
        background: white;
        border-radius: 0;
        box-shadow: 0 0 2px rgba(black,0.3);
        border: 0;
        padding: 0;

        li {
          border-top: 1px solid #eee;

          &:first-child {
            border-top: 0;
          }

          a {
            font-size: 12px;
            font-weight: 700;
            padding: 10px 30px;
          }
        }
      }
    }
  }

  .bar-actions {
    display: inline-block;
    height: 50px;
    float: right;
    margin: 0 20px;

    .admin {
      padding-right:15px;

      a {
        color: rgba(255, 255, 255, 0.7);
        &:hover {
        color: #fff;
      }
      }
    }

    .user-account {

      .user {
        color: rgba(white,0.7);
        font-size: 12px;
        font-weight: 500;
        line-height: 50px;

        .icon {
          margin-left: 5px;
          font-size: 11px;
          position: relative;
          top: 1px;
        }

        &:hover {
          color: white;
        }
      }

      &.open .user {
        color: white;
      }

      .dropdown-menu {
        top: 28px;
        right: -5px;
        background: white;
        border-radius: 0;
        box-shadow: 0 0 2px rgba(black,0.3);
        border: 0;
        padding: 0;

        li {
          border-top: 1px solid #eee;

          &:first-child {
            border-top: 0;
          }

          a {
            font-size: 12px;
            font-weight: 500;
            padding: 7px 15px;
          }
        }
      }
    }
  }
}

.content-wrapper {
  height: calc(100% - 50px);
  overflow: hidden;

  .sidebar {
    position: relative;
    float: left;
    width: 250px;
    height: 100%;
    background: #29363d;
    &.right {
      //float: right;
      .sidebar-toggle {
        float: right;
        width:140px;
        padding-right:20px;
      }
.sidebar-content {
  h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    padding: 5px 0 10px 20px;
  }
}
    }

    .sidebar-toggle {
      float: right;
      width: 25px;
      height: 50px;
      line-height: 58px;
      margin-right: -25px;
      padding: 0;
      background: #e67447 !important;
    }

    .sidebar-header {
      height: 50px;
      background: #e67447;
      padding-right: 25px;
    }

    .sidebar-content {
      overflow-y: auto;
      background: #29363d;
      padding: 10px 0;

      .sidebar-wrapper section label .header-sidebar {
        background: #29363d;
        border-color: transparent;
      }

      .content-sidebar {
        padding-bottom: 10px;
      }
    }
  }


  .navigation-bar .bar-actions a {
    border-bottom: 0;
    text-decoration: none;
    padding-top: 16px;

    .dashboard-type .ops-icon-apps {
      margin: 0 10px 0 0;
      position: relative;
    }

    span {

      i {
        margin: 0 0 0 5px;
        font-size: 14px;
        position: relative;
        top: 2px;
        color: rgba(white,0.5);
      }
    }

    + .dropdown-menu {
      top: 50px;
      left: 10px;
      background: $orange;

      li a {

        &:hover {
          background: darken(#e67447,10%);
        }

        &.active {
          background: #b33e17;
        }
      }
    }
  }

  .main-content-wrapper {
    position: relative;
    width: calc(100% - 600px);
    float: left;
    margin: 0;
    background: white;
    padding: 0;
    @include transition(width 0.15s ease-in-out);
    height: 100%;

    .deck-actionbar {
      background: #e67447;
      height: 50px;
      padding-top: 6px;
      //.sidebar-toggle {
      //  .ops-icon-comments {
      //    float: right;
      //    color: white;
      //    font-size: 18px;
      //    padding: 10px 10px 0 0;
      //  }
      //  &.comments-icon .tooltip-comments {
      //    float: right;
      //    opacity:0;
      //    background-color: transparent;
      //    color: #fff;
      //    padding: 12px 10px 0 0;
      //    -webkit-transition: width 2s, height 4s; /* Safari */
      //    transition: opacity 0.2s;
      //
      //    /* Position the tooltip */
      //    z-index: 1;
      //  }
      //
      //  &.comments-icon:hover .tooltip-comments {
      //    opacity:1;
      //
      //  }
      //}
    }

    /* Data Entry Section */

    &.data-entry .main-content {
      height: 100%;

      .data-entry-wrapper {
        height: 100%;

        .form-wrapper {
          height: 100%;
          overflow: auto;
        }
      }
    }

  }
}


.summary-head {
  padding: 8px 20px 5px;
  color: #5c707d;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  background: #d9dfe3;
}

.light-theme .content-wrapper {

  .sidebar {

    .sidebar-content {

      .sidebar-wrapper section {

        label {

          .header-sidebar {
            background: #29363d;
            border-color: transparent;

            h1 {
              color: #bcbec0;
              text-transform: uppercase;
              font-size: 14px;
            }
          }
        }

        input[type="checkbox"]:checked + label {

          .header-sidebar {
            background: #29363d;
            border-color: transparent;

            h1 {
              color: $orange;
            }
          }

          .content-sidebar {
            background: #29363d;

            ul {
              border-color: #29363d;

              li {
                background: #29363d;
                border-color: #29363d;
              }
            }
          }
        }
      }
    }
  }
}




//Material Design Changes

.deckfilter {

  md-checkbox.md-default-theme:not([disabled]).md-primary ._md-icon, md-checkbox:not([disabled]).md-primary ._md-icon {
    border-color: $orange;
  }

  md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked ._md-icon, md-checkbox:not([disabled]).md-primary.md-checked ._md-icon {
    background-color: $orange;
  }

  md-radio-button ._md-container:before {
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 50%;
    //content: '';
    position: absolute;
    display: block;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s;
    width: auto;
  }

  md-checkbox.md-default-theme:not([disabled]).md-primary.md-focused ._md-container:before, md-checkbox:not([disabled]).md-primary.md-focused ._md-container:before {
    background-color: transparent;
  }

  md-checkbox ._md-container:after {
    top:0;
    right:0;
    bottom:0;
    left:0;
  }

  md-checkbox ._md-label {
    top: 2px;
    margin-left: 25px;
  }

  md-checkbox ._md-icon {
    box-sizing: border-box;
    transition: 240ms;
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
  }

  md-checkbox.md-checked ._md-icon:after {
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 4px;
    top: -5px;
    display: table;
    width: 8px;
    height: 16px;
    border-width: 3px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    content: '';
  }

}


// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'feedback/feedback.scss';
@import 'main/main.scss';
@import 'program/program.scss';
@import 'daterange/daterange.scss';
@import 'deckster/deckster.scss';
@import 'deckster/decksterPopout/decksterPopout.scss';
@import 'deckster/views/geoMap/geoMap.scss';
@import 'deckster/views/quadChart/quadChart.scss';
@import 'deckster/views/table/table.scss';
@import 'fonts/fonts.scss';
@import 'headerbar/headerbar.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
@import 'sidebar/sidebar.scss';
// endinjector
