daterange {

  .well {
    padding: 0;
    float: left;
    background: #FFF;
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
    width: 50%; // todo here for now

    & + .well {
      border-left: 0px solid #d5d5d5;
    }

    table {
	    width: 100%;

      thead {

        tr {

          th {
            vertical-align: middle;
            border-bottom: 1px solid #454545;

            .btn.btn-default {
              background: transparent;
              border: none;
              width: 100%;
              outline: none;
              color: #FFF;
            }
          }
        }
        tr:first-child {
          background: #49DCCA;
          color: #FFF;
          line-height: 30px;

          th {
            border-radius: 0;

            button {

	            .glyphicon-chevron-right, .glyphicon-chevron-left {
		            font-family: 'ops-icons';
		            font-size: 18px;
	            }
	            .glyphicon-chevron-right {

		            &:before {
			            content: "\e612";
		            }
		          }
	            .glyphicon-chevron-left {

		            &:before {
			            content: "\e611";
		            }
		          }
            }
            &:nth-child(odd) {
              padding: 0;
              background: #32BFAE;
              transition: all .15s linear;
            }
            &:nth-child(even) {

              .btn {
                font-weight: bold;
                font-size: 12px;
                color: #fff;
                opacity: 1;
              }
            }
          }
        }
        tr:last-child {

          th {
            border-radius: 0;

            small {
	            display: inline-block;
	            padding: 5px 0 8px 0;
	            vertical-align: initial;
	            line-height: normal;
            }
          }
        }
      }
      tbody {
        border-top: 1px solid #D5D5D5;
        td {
          width: 35px !important;
          .btn.btn-default {
            background-color: #FFF;
            border-radius: 0;
            border: none;
            outline: none;
            box-shadow: none;
            font-weight: 700;
            &.active {

            }
          }
          &.start-date {
            .btn.btn-default {
              background-color: #F1F1F1;
              border-radius: 50px 0 0 50px;
              color: #000;
            }
          }

          &.end-date {
            .btn.btn-default {
              background-color: #F1F1F1;
              border-radius: 0 50px 50px 0;
              color: #000;
            }
          }

          &.only-date {
            .btn.btn-default {
              border-radius: 50px;
            }
          }

          &.in-range {
            .btn.btn-default {
              background-color: #F1F1F1;
              color: #000;
            }
          }
        }
      }
    }
  }
}




