<uib-datepicker ng-show="deck.dateFilterType !== 'month'" ng-model="date.start" datepicker-mode="initMode" min-mode="deck.dateFilterType" show-weeks="false" class="well well-sm" max-date="maxStartDate" min-date="minStartDate"  custom-class="getDayClass(date, mode, 'start')"></uib-datepicker>
<uib-datepicker ng-model="date.end" datepicker-mode="initMode" min-mode="deck.dateFilterType" show-weeks="false" class="well well-sm" max-date="maxEndDate" min-date="minEndDate" custom-class="getDayClass(date, mode, 'end')"></uib-datepicker>
<div class="ranges" ng-show="deck.dateFilterType !== 'month'">
  <div class="range_inputs clearfix">
    <div class="daterangepicker_start_input"><label for="daterangepicker_start">From</label>
      <input class="input-mini" type="text" id="daterangepicker_start" name="daterangepicker_start" ng-model="date.start">
    </div>
    <div class="daterangepicker_end_input"><label for="daterangepicker_end">To</label>
      <input class="input-mini" type="text" id="daterangepicker_end" name="daterangepicker_end" ng-model="date.end">
    </div>
  </div>
</div>

