<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Password Reset</title>
  <style type="text/css">
    @media only screen and (min-width: 601px) {
      .content {width: 600px !important;}
      .col425 {width: 425px!important;}
      .col368 {width: 368px!important;}
    }
    @media only screen and (max-width: 600px) {
      .collapsecenter{float: none; margin: 0 auto;}
    }
  </style>
</head>
<body bgcolor="#F5F5F5">
<!--[if (gte mso 9)|(IE)]>
<table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
<![endif]-->
<table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="header" bgcolor="#FFFFFF">
      <table width="320" align="left" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td height="34">
            <a href="https://insight.<%= domain %>"><img src="https://insight.<%= domain %>/logo.png" width="153" height="46" border="0" alt="" /><a/>
          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td class="innerpadding borderbottom">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="h3"> <%= feedbackSubject %> received </td>
        </tr>
        <tr>
          <td class="bodycopy">
            <br>
            You are receiving this email because <%= fromUser.name %> (<a href="mailto:<%= fromUser.email %>"><%= fromUser.email %></a>) has submitted a feedback from the Insight PMR application:
            <br>
            <br>
              <div style="font-weight: bold">
                <%= feedbackText %>
              </div>
            <br>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="footer" bgcolor="#FFFFFF">
      <table class="borderbottom" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="footercopy">
            Cheers,
            <br/>
            The Insight team
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="fineprint" style="color: #989898;">
            You can change your email notification settings under your Insight account settings.
          </td>
        </tr>
        <tr>
          <td class="fineprint footercopy" style="color: #989898; padding: 0 20px 20px;">
            2015 &#169; <a href="https://insight.<%= domain %>">Insight</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->
</body>
</html>
