body {margin: 0; padding: 0; min-width: 100%!important;}
.content {width: 100%; max-width: 600px; background: #FFFFFF;border: 1px solid #EEEEEE;}
.header {padding: 30px; color: #FFFFFF; border-bottom: 1px solid #EEEEEE;}
.subhead {font-size: 12px; color: #ffffff; font-family: sans-serif;}
.subheading{padding: 20px 30px 15px !important;font-family: sans-serif;font-weight: bold;text-align: center; line-height: 18px;}
.blockquote{background: #F5F5F5;padding: 12px;line-height: 19px;border-radius: 5px;display: block !important; margin-top: 10px; margin-left: -1px;}
.h1 {font-size: 33px; line-height: 33px; font-weight: bold;}
.h1, .h2, .h3, .h4, .bodycopy, .fineprint {color: #000; font-family: sans-serif;}
.innerpadding {padding: 30px 30px 30px 30px;}
.borderbottom {border-bottom: 1px solid #EEEEEE;}
.h2 {padding: 0 0 3px 0; font-size: 24px; line-height: 28px; font-weight: bold;}
.h3 {padding: 0 0 3px 0; font-size: 19px; line-height: 23px; font-weight: 500;}
.h4 {padding: 0 0 10px 0; font-size: 14px; line-height: 17px; font-weight: bold; margin-bottom: 10px;}
.button {text-align: center; font-size: 15px; font-family: sans-serif;}
.button a {color: #FFFFFF; text-decoration: none; padding: 0 25px; display: inline-block;line-height: 40px;}
.bodycopy {font-size: 14px; line-height: 18px; color: #767676;}
.infobox{padding: 15px 30px; text-align: center;}
.nobottompadding{padding-bottom: 0 !important;}
img {height: auto;}
.footercopy {font-family: sans-serif; font-size: 14px; color: #000000; padding: 20px; line-height: 18px;}
.fineprint {line-height: 18px; color: #999; padding: 20px 20px 0; font-size: 11px; text-align: center;}
a {color: #127bcd;}
.center-it{float: none; margin: 0 auto;}
