.navigation-wrapper {
  @extend .no-select;
}

.navigation-bar {
  position: relative;
  width: 100%;
  height: 100%;
  background: #3aa3bf;

  .sidebar-toggle {
    display: inline-block;
    width: 60px;
    height: 100%;
    background: #187f9b;
    padding: 9px 10px;
    text-align: center;
    transition: all .15s linear;
    .comtitle {
      margin-right:10px;
    }
    .badge {
      background-color: #656b6e;
      border-radius: 2px;
    }
    .sidebarr & {
      padding: 14px;
    }

    span {
      font-size: 12px;
      text-transform: uppercase;
      color: white;
    }
    &:hover {
      background: #0b6780;
      cursor: pointer;
      transition: all .15s linear;

      span {
        color: #fff;
      }
    }
  }
  .bar-actions {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    padding: 0 10px;
    .right & {
      display: none;
    }

    a {
      width: auto;
      height: 100%;
      display: inline-block;
      padding: 12px 10px;
      border-bottom: 3px solid rgba(255, 255, 255, .3);
      float: right;

      span {
        font-size: 13px;
        color: rgba(255, 255, 255, .75);


        &.icon {
	        display: none;
        }
      }
    }
    span {
      a {
        font-size: 13px;
        color: rgba(255, 255, 255, .75);
      }
    }
    a:hover {
      border-color: #0b6780;

      span {
        color: #fff;
      }
    }
    a.btn {
      width: auto;
      height: auto;
      padding: 5px 10px;
      margin: 8px 10px 0 0;
      background: #187f9b;
      border: none;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -khtml-border-radius: 3px;

      span {
        font-size: 11px;
      }
      &:hover {
        background: #0b6780;
      }
    }

    .dropdown {
      position: relative;
      float: right;
      display: block;
      height: 100%;

      .dropdown-menu {
        padding: 5px 0;
        margin: 0;
        background: #187f9b;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;

        li {

          a {
            background: transparent;
            border-bottom: none;
            padding: 10px 27px 13px 27px;
            font-size: 12px;
            color: rgba(255, 255, 255, .75);

            &:hover {
              background: #13677f;
              color: rgba(255, 255, 255, 1);
            }
            &.active {
              background: lighten(#13677f, 3%);
            }
          }
        }
      }
    }
  }
}

/* Light Theme */

.light-theme {

  .navigation-bar {
    background: #f48d70;

    .sidebar-toggle {
      background: #dd6f50;

      &:hover {
        background: #c6583d;
      }
    }
    .bar-actions {

      a {

        &:hover {
          border-color: #dd6f50;
        }
      }
      .dropdown {

        .dropdown-menu {
          background: $orange;

          li {

            a {
              color: rgba(255, 255, 255, .75);

              &:hover {
                background: darken($orange,5%);
              }

              &.active {
                background: darken($orange,10%);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 680px) {

	.navigation-bar {

		.bar-actions {

			a {
				padding: 12px 15px;
				transition: linear .15s all;

				span {
					display: none;

					&.icon {
						display: inline-block;
					}
				}
			}
		}
	}

}


.sidebar.right {
  .ops-icon-comments {
    float: right;
    color: white;
    font-size: 18px;
    padding: 16px 0px 0 0;
  }
  .comments-icon .tooltip-comments {
    position: relative;
    top: -3px;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
    opacity:0;
    background-color: transparent;
    color: #fff;
    padding: 0px 10px 0 0;
    -webkit-transition: width 2s, height 4s; /* Safari */
    transition: opacity 0.2s;

    /* Position the tooltip */
    z-index: 1;
  }
  .comments-icon:hover .tooltip-comments {
    opacity:1;
  }
}

.sb-collapsed {
  .content-wrapper {
    .sidebar:not(.right) {
      width: 60px;

      .dashboard-type .ops-icon-apps {
        padding-left: 3px;
      }

      .dashboard-type span {
        display: none;
      }
      .sidebar-toggle {
        margin-right: -35px;
      }

    }

  }
}

.sbr-collapsed {
  .content-wrapper {
    .main-content-wrapper {
      width: calc(100% - 60px);
      padding: 0;
    }
    .sidebar.right {
      width: 0px;

      .sidebar-toggle {
        margin-right: 0px;
      }
    }
  }
  &.sb-collapsed {
    .content-wrapper {
      .main-content-wrapper {
        width: calc(100% - 60px);
        padding: 0;
      }
    }
  }
  &:not(.sb-collapsed) {
    .content-wrapper {
      .main-content-wrapper {
        width: calc(100% - 250px);
        padding: 0;
      }
    }
  }
}

.sb-collapsed {
  .content-wrapper {
    .main-content-wrapper {
      padding: 0;
    }
  }

  &:not(.sbr-collapsed) {
    .content-wrapper {
      .main-content-wrapper {
        width: calc(100% - 410px);
        padding: 0;
      }
    }
  }

  &.sbr-collapsed {
    .content-wrapper {
      .main-content-wrapper {
        width: calc(100% - 60px);
        padding: 0;
      }
    }
  }
}



