<div class="navigation-bar" ng-controller="NavbarCtrl">
  <div ng-if="position !== 'right'">
    <div class="bar-actions">
    <span class="dropdown" uib-dropdown ng-hide="currentGroup === null">
      <a uib-dropdown-toggle>
        <span class="dashboard-type"><i class="ops-icon-apps"></i> <span>{{stateName === 'admin' ? 'ADMINISTRATION' : currentGroup.displayName}} <i class="ops-icon-keyboard-arrow-down"></i></span></span>
        <span class="icon ops-icon-layers"></span>
      </a>
      <ul class="dropdown-menu right" role="menu">
        <li ng-if="isAdmin && stateName === 'admin'">
          <a href="/admin" class="active">ADMINISTRATION</a>
        </li>
        <li ng-repeat="group in groups" ng-click="selectGroup(group.value)"><a ng-class="{active: group.value === currentGroup.value && stateName !== 'admin'}">{{ group.displayName }}</a></li>
      </ul>
    </span>
    </div>
  </div>

  <!--<div class="sidebar-toggle clearfix comments-icon" ng-click="toggle()">-->
    <!--<span ng-if="position !== 'right'" ng-class="collapsed? 'ops-icon-keyboard-arrow-right' : 'ops-icon-keyboard-arrow-left'"></span>-->
    <!--<span ng-if="position === 'right'" ng-class="collapsed? 'ops-icon-comments' : 'ops-icon-comments'"></span>-->
    <!--<span class="tooltip-comments">Comments</span>-->
  <!--</div>-->

  <div ng-if="$root.enableComments && position === 'right'" class="sidebar-toggle clearfix comments-icon" ng-click="toggle()">
    <!--<span ng-if="position !== 'right'" ng-class="collapsed? 'ops-icon-keyboard-arrow-right' : 'ops-icon-keyboard-arrow-left'"></span>-->
    <span ng-class="collapsed"><span class="comtitle">Comments</span> <span class="badge">{{$root.deckCommentsLength}}</span></span>
  </div>

  <div ng-if="position !== 'right'" class="sidebar-toggle clearfix comments-icon" ng-click="toggle()">
    <span ng-class="collapsed? 'ops-icon-keyboard-arrow-right' : 'ops-icon-keyboard-arrow-left'"></span>
  </div>
</div>
