<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Validate Email</title>
  <style type="text/css">
    @media only screen and (min-width: 601px) {
      .content {width: 600px !important;}
      .col425 {width: 425px!important;}
      .col368 {width: 368px!important;}
    }
    @media only screen and (max-width: 600px) {
      .collapsecenter{float: none; margin: 0 auto;}
    }
  </style>
</head>
<body bgcolor="#F5F5F5">
<!--[if (gte mso 9)|(IE)]>
<table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
<![endif]-->
<table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="header" bgcolor="#FFFFFF">
      <table width="320" align="left" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td height="34">
            <a href="https://insight.<%= domain %>"><img src="https://tbcdn.talentbrew.com/company/3459/img/logo/logo-2345-2556.png" width="160" height="34" border="0" alt="" /><a/>
          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td class="innerpadding borderbottom">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="h3"> Email Validation Instructions </td>
        </tr>
        <tr>
          <td class="bodycopy">
            <br>
            <%= user.name %>,
            <br>
            <br>
            You are receiving this email because you need to validate your Insight account.
            <br>
            <br>
            Please click on the following link <a href="<%= validateUrl %>">Validate Email</a>, or paste this into your browser to complete the process: <a href="<%= validateUrl %>"><%= validateUrl %></a>
            <br>
            <br>
            If you did not request this, please contact support immediately.
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="footer" bgcolor="#FFFFFF">
      <table class="borderbottom" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="footercopy">
            Cheers,
            <br/>
            The Insight team
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="fineprint" style="color: #989898;">
            You can change your email notification settings under your Insight account settings.
          </td>
        </tr>
        <tr>
          <td class="fineprint footercopy" style="color: #989898; padding: 0 20px 20px;">
            2015 &#169; <a href="https://insight.<%= domain %>">Insight</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->
</body>
</html>
