*Email Validation Instructions*

<%= user.name %>,


You are receiving this email because you need to validate your Insight account.


Please click on the following link:  <%= validateUrl %>


If you did not request this, please contact support immediately.
