<div class="auth-container gradient" trianglify="{ variance: '1', cell_size: 140, seed: 'qaens'}" colors="{{currentTheme === 'light' ? 'YlOrRd' : 'GnBu'}}">

  <div class="scrollable">

    <div id="signup-wrapper" class="animated">
      <div class="header gradient-inverse">&nbsp;</div>
      <div class="logo disable-select">
        <svg version="1.1" id="opsinsight"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="38px" height="50px" viewBox="0 0 37.5 50" style="enable-background:new 0 0 37.5 50;"
	 xml:space="preserve">
<style type="text/css">
	.st0{fill:#E87A51;}
</style>
<defs>
</defs>
<path class="st0" d="M37.5,19.3C37.5,8.6,29.1,0,18.8,0S0,8.6,0,19.3C0,26,3.6,32.4,9.3,35.9L9.4,36l2.9,3.9L11.9,40
	c-0.8,0.4-1.3,1.2-1.3,2c0,0.5,0.1,0.9,0.4,1.3l0.1,0.2L11,43.8c-0.3,0.4-0.4,0.8-0.4,1.3c0,1.2,0.9,2.2,2.1,2.2l0.4,0l0,0.4
	c0,0.1,0,0.2,0,0.2c0,1.1,0.9,2.1,2.1,2.1h7.4c1.1,0,2.1-0.9,2.1-2.1c0-0.1,0-0.2,0-0.2l0-0.4l0.4,0c1.2-0.1,2.1-1.1,2.1-2.2
	c0-0.5-0.1-0.9-0.4-1.3l-0.1-0.2l0.1-0.2c0.3-0.4,0.4-0.8,0.4-1.3c0-0.9-0.5-1.7-1.3-2.1l-0.4-0.2l3-4C34,32.4,37.5,26,37.5,19.3z
	 M22.5,48.8H15c-0.5,0-0.9-0.4-0.9-0.9c0-0.1,0-0.3,0.1-0.4l0.1-0.2h8.8l0.1,0.2c0.1,0.1,0.1,0.3,0.1,0.4
	C23.4,48.4,23,48.8,22.5,48.8z M24.7,45.8H12.8c-0.4,0-0.7-0.3-0.7-0.7c0-0.3,0.1-0.5,0.4-0.6l0.1-0.1l0.1,0c0.1,0,0.1,0,0.2,0h11.9
	c0,0,0.1,0,0.1,0l0.1,0l0.1,0.1c0.2,0.1,0.4,0.4,0.4,0.6C25.4,45.5,25.1,45.8,24.7,45.8z M25.4,42.1c0,0.4-0.3,0.7-0.7,0.7H12.8
	c-0.4,0-0.7-0.3-0.7-0.7c0-0.4,0.3-0.7,0.7-0.7h11.9C25.1,41.4,25.4,41.7,25.4,42.1z M12.6,37.5l1,0.3c3.3,1,7,1,10.3,0l1-0.3
	l-1.7,2.3h-8.8L12.6,37.5z M18.8,36.8c-9.4,0-17.1-7.9-17.1-17.5S9.3,1.7,18.8,1.7s17.1,7.9,17.1,17.5S28.2,36.8,18.8,36.8z"/>
</svg>
        <h1>Insight</h1>
      </div>
      <div class="form">
        <h1>Reset Password</h1>
        <form id="settings" class="clearfix" role="form" name="form" ng-submit="changePassword(form)" novalidate floating-label>
          <div class="form-group"
               ng-class="{shake: (form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted),
               animated: (form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted),
               error: (form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)}">
            <span class="icon-lock-open">&nbsp;</span>
            <label for="password" class="floating-label">New Password</label>
            <input type="password" class="form-control" id="password" placeholder="New Password" name="newPassword" ng-model="user.newPassword"
                   ng-minlength="8" required ng-disabled="disabled"/>
            <span data-target="newPassword" ng-model="user.newPassword" data-min-length="8" data-complexity="6" data-charsets="3" data-sys-strength
                  style="top: 37px; position: absolute; left: 30px;"></span>
          </div>
          <div class="form-group"
               ng-class="{shake: form.confirmPassword.$error.mongoose && (form.confirmPassword.$dirty || submitted),
               animated: form.confirmPassword.$error.mongoose && (form.confirmPassword.$dirty || submitted),
               error: form.confirmPassword.$error.mongoose && (form.confirmPassword.$dirty || submitted)}">
            <span class="icon-lock-outline">&nbsp;</span>
            <label for="confirmPassword" class="floating-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" ng-model="user.confirmPassword"
                   mongoose-error ng-disabled="disabled" />
          </div>
          <div class="validation">
            <p ng-show="errors.user" ng-class="['fadeIn', 'animated', 'error-message']">{{errors.user}} Please request a new <a href="/password/forgot">token.</a></p>

            <p ng-show="form.confirmPassword.$error.mongoose && (form.confirmPassword.$dirty || submitted)" ng-class="['fadeIn', 'animated', 'error-message']">
              Passwords do not match.
            </p>

            <p ng-show="(form.newPassword.$error.required || form.confirmPassword.$error.required) && submitted"
               ng-class="['fadeIn', 'animated', 'error-message']">
              Please enter a valid password and confirm it.
            </p>

            <p ng-show="form.newPassword.$error.strength && submitted"
               ng-class="['fadeIn', 'animated', 'error-message']">
              Your password must be at least 8 characters long with at least 3 different character sets.
            </p>

            <p ng-class="['fadeIn', 'animated', 'error-message']" class="success" ng-if="message"> {{ message }} <a href="/login">Login Here</a></p>
          </div>
          <div class="controls disable-select">
             <button type="submit">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
