<div class="drawer-header">
  Administrator Approval Required
</div>
<div class="drawer-body">
  <div class="drawer-body" ng-if="!disableRegistration">
    This application provides access to the Program Management Review report. Would you like to contact an administrator to request access?

  </div>
  <div class="drawer-body" ng-if="disableRegistration">
    The automatic registration system is currently disabled. If you would like access to the Program Reporting/PMR application, please email Insight_support@csra.com.
  </div>
</div>
<div class="drawer-footer" ng-if="!disableRegistration">
  <a class="btn white" ng-click="sendAdminEmail()">
    <span>Yes</span>
  </a>
  <a class="btn" ng-click="cancel()">
    <span>No</span>
  </a>
</div>
