<div class="drawer-header">
  Administrator Approval Required
</div>
<div class="drawer-body">
  <div class="drawer-body">
    The administrator has been contacted with your access request. You will receive an email as soon as you are granted access to INSIGHT.
  </div>
</div>
<div class="drawer-footer">
  <a class="btn" ng-click="close()">
    <span>Ok</span>
  </a>
</div>
