<div class="drawer-header">
  Browser: Internet Explorer 
</div>
<div class="drawer-body">
  <div class="drawer-body">
    Please use different browser: Chrome, or Firefox
  </div>
</div>
<div class="drawer-footer">
  <a class="btn" ng-click="close()">
    <span>Ok</span>
  </a>
</div>
