<div class="header">
  <div class="nav-content" ng-include="'components/headerbar/headerbar.html'"></div>
</div>

<div class="content-wrapper">
  <sidebar collapsed="$root.sidebarCollapsed">
    <div class="sidebar-wrapper">
      <section ng-repeat="deck in decks" class="clearfix">
        <input id="{{deck.id}}" name="radio" type="checkbox" ng-click="selectDeck(deck)" ng-checked="selectedDeck.id === deck.id"/>
        <label class="clearfix disable-select" for="{{deck.id}}">
          <div class="header-sidebar">
            <span class="icon ops-icon-apps"></span>
            <h1 class="title">{{deck.title}}</h1>
            <md-tooltip md-direction="right" class="md-tooltip decktooltip">{{deck.title}}</md-tooltip>
          </div>
          <div class="content-sidebar">
            <ul>
              <li class="clearfix" ng-class="{'active': !card.hidden}" ng-repeat="card in deck.cards" ng-click="scrollToCard(card, $event)">
                <span class="check fa" ng-class="{'fa-circle': !card.hidden, 'fa-circle-o': card.hidden}" ng-click="toggleCard(card, $event)"></span>
                <span class="graph ops-icon-circular-graph" ng-click="scrollToCard(card, $event)"></span>
                <h2>{{card.title}}</h2>
                <md-tooltip md-direction="right" class="md-tooltip cardtooltip">{{card.title}}</md-tooltip>
                <p ng-if="card.lastUpdatedDate">Last Updated: {{card.lastUpdatedDate | date : 'mediumDate' }}</p>
              </li>
            </ul>
          </div>
        </label>
      </section>
      <div class="appjump">
        <a href="https://papertrail.{{GlobalConfig.domain}}/program/financials/{{selectedDeck.selectedFilters.project_id}}" target="_blank">
          <span class="menu-item-icon ops-icon-leave-page"></span>
          <span class="menu-item-info">
            <span class="title">Open Program in Papertrail</span>
          </span>
          <md-tooltip md-direction="right" class="md-tooltip openprog">Open Program in Papertrail</md-tooltip>
        </a>
      </div>
	  </div>
  </sidebar>

  <div class="main-content-wrapper">
    <div class="main-content">
      <deckster-deck deck="selectedDeck" initialized="initialized" ng-if="selectedDeck && initialized"></deckster-deck>
    </div>
</div>

  <div ng-controller="DeckCommentsCtrl">
    <sidebar collapsed="$root.rSidebarCollapsed" is-disabled="!$root.enableComments" position="right">
      <div class="sidebar-wrapper">
        <h1>Comments</h1>

        <form name="commentForm" class="commentForm">
        <textarea rows="6" cols="45" maxlength="300" ng-model="comments.comment">
        </textarea>
          <!--<div>-->
            <!--<select>-->
              <!--<option value="financial">Financial</option>-->
              <!--<option value="schedule">Schedule</option>-->
              <!--<option value="staffing">Staffing</option>-->
              <!--<option value="tpm">TPM</option>-->
            <!--</select>-->
          <!--</div>-->
          <input class="submit" type="submit" value="Post" ng-click="saveComment(comments)">
        </form>

        <div class="commentsread" ng-repeat="comment in comments.thread">
          <input ng-if="comment.created_by === user.id || isAdmin" class="submit edit" type="submit" value="Edit" ng-click="comment.editable = true">
          <input ng-if="comment.created_by === user.id" class="submit edit" type="submit" value="Delete" ng-click="deleteComment(comment)">

          <div class="cbdate">From Fiscal Month {{comment.fiscal_month_end | date : 'MMM yyyy'}}</div>

          <!--<div class="cbtags">Financial - Staffing</div>-->

          <div ng-show="!comment.editable" class="cbcomment">{{comment.comment}}</div>

          <div ng-if="comment.editable">
          <textarea class="editcomment" rows="6" cols="45" maxlength="300" ng-model="comment.comment">
        </textarea>
            <input class="editcommentsub submit" type="submit" value="Save" ng-click="saveComment(comment); comment.editable = false">
          </div>

          <div class="cbposter">Posted on {{comment.created_at | date : 'mediumDate'}} {{comment.created_at | date : 'shortTime'}} - {{comment.deckCommentCreatedBy.name}}</div>
          <div class="cbposter" ng-if="comment.created_at !== comment.updated_at">Edited on {{comment.updated_at | date : 'mediumDate'}} {{comment.updated_at | date : 'shortTime'}} - {{comment.deckCommentUpdatedBy.name}}</div>

          <div class="cbdivider"></div>

        </div>

      </div>

    </sidebar>
  </div>

</div>

</div>
