<div class="header-bar" ng-controller="NavbarCtrl">

  <div class="app-brand">
    <span class="logo">
<svg version="1.1" id="opsinsight" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="22.9px" height="30.4px" viewBox="0 0 22.9 30.4" style="enable-background:new 0 0 22.9 30.4;"
	 xml:space="preserve">
<style type="text/css">
	.st0{fill:#E87A51;}
</style>
<defs>
</defs>
<path class="st0" d="M11.5,0C5.1,0,0,5.3,0,11.8c0,4.1,2.2,8,5.6,10.1L7.3,24l0,0c-0.5,0.3-0.9,0.8-0.9,1.4c0,0.3,0.1,0.6,0.3,0.9
	l0,0l0,0c-0.2,0.3-0.3,0.6-0.3,0.9c0,0.8,0.6,1.5,1.4,1.5l0,0l0,0c0,0.1,0,0.1,0,0.2c0,0.8,0.6,1.4,1.4,1.4h4.5
	c0.8,0,1.4-0.6,1.4-1.4c0-0.1,0-0.1,0-0.2l0,0l0,0c0.8-0.1,1.4-0.7,1.4-1.5c0-0.3-0.1-0.6-0.3-0.9l0,0l0,0c0.2-0.3,0.3-0.6,0.3-0.9
	c0-0.6-0.3-1.2-0.9-1.4l0,0l1.6-2.2c3.5-2.1,5.6-6,5.6-10.1C22.9,5.3,17.8,0,11.5,0z M14,29c0,0.2-0.2,0.3-0.3,0.3H9.2
	c-0.2,0-0.3-0.2-0.3-0.3c0-0.1,0-0.1,0-0.2l0,0H14l0,0C14,28.8,14,28.9,14,29z M21.5,11.8c0,5.7-4.5,10.3-10.1,10.3
	c-5.5,0-10.1-4.6-10.1-10.3c0-5.7,4.5-10.3,10.1-10.3C17,1.4,21.5,6.1,21.5,11.8z M14,23.9H8.9l-0.6-0.8l0,0c2,0.6,4.3,0.6,6.3,0
	l0,0L14,23.9z M15,25.7H7.9c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2H15c0.1,0,0.2,0.1,0.2,0.2C15.2,25.6,15.2,25.7,15,25.7z
	 M7.8,27L7.8,27L7.8,27c0.1,0,0.1,0,0.1,0H15c0,0,0.1,0,0.1,0l0,0l0,0c0.1,0,0.1,0.1,0.1,0.2c0,0.1-0.1,0.2-0.2,0.2H7.9
	c-0.1,0-0.2-0.1-0.2-0.2C7.7,27.2,7.7,27.1,7.8,27z"/>
</svg>

    </span>

    <span class="dropdown app-switch" uib-dropdown>
      <a uib-dropdown-toggle>
        <span class="name">Insight <i class="ops-icon-keyboard-arrow-down"></i></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="https://papertrail.{{GlobalConfig.domain}}" target="_blank">Papertrail Home</a></li>
        <li><a href="javascript:void(0)" ng-click="goBackToMain()">Insight</a></li>
      </ul>
    </span>

      <ul class="dropdown-menu right" role="menu">
      </ul>

  </div>

  <div class="bar-actions">

    <span class="admin" ng-if="isAdmin">
      <a href="/admin">Admin</a>
    </span>

    <span class="dropdown user-account" uib-dropdown>
      <a uib-dropdown-toggle class="user">
	      <span>{{ currentUser.name }}</span>
	      <span class="icon ops-icon-cog"></span>
      </a>
      <ul class="dropdown-menu right" role="menu">
        <li><a ng-show="isLoggedIn && !isOktaSession" href="/settings">Change Password</a></li>
        <li ng-show="currentGroup.value === 'pmr-reporting'"><a ng-click="showSendFeedbackModal()">Send Feedback</a></li>
        <li ng-click="logout()"><a>Logout</a></li>
      </ul>
    </span>
  </div>
</div>
