/* Roboto Font Family */

@font-face {
  font-family: 'Roboto-Thin';
    src: url('#{$custom-font-path}/roboto/roboto-thin-webfont.eot');
    src: url('#{$custom-font-path}/roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$custom-font-path}/roboto/roboto-thin-webfont.woff') format('woff'),
         url('#{$custom-font-path}/roboto/roboto-thin-webfont.ttf') format('truetype'),
         url('#{$custom-font-path}/roboto/roboto-thin-webfont.svg#roboto-thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
    src: url('#{$custom-font-path}/roboto/roboto-light-webfont.eot');
    src: url('#{$custom-font-path}/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$custom-font-path}/roboto/roboto-light-webfont.woff') format('woff'),
         url('#{$custom-font-path}/roboto/roboto-light-webfont.ttf') format('truetype'),
         url('#{$custom-font-path}/roboto/roboto-light-webfont.svg#roboto-light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
    src: url('#{$custom-font-path}/roboto/roboto-regular-webfont.eot');
    src: url('#{$custom-font-path}/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$custom-font-path}/roboto/roboto-regular-webfont.woff') format('woff'),
         url('#{$custom-font-path}/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('#{$custom-font-path}/roboto/roboto-regular-webfont.svg#roboto-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
    src: url('#{$custom-font-path}/roboto/roboto-medium-webfont.eot');
    src: url('#{$custom-font-path}/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$custom-font-path}/roboto/roboto-medium-webfont.woff') format('woff'),
         url('#{$custom-font-path}/roboto/roboto-medium-webfont.ttf') format('truetype'),
         url('#{$custom-font-path}/roboto/roboto-medium-webfont.svg#roboto-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Raleway Font Family */

@font-face {
  font-family: 'Raleway-Thin';
  src: url('#{$custom-font-path}/raleway/raleway-thin-webfont.eot');
  src: url('#{$custom-font-path}/raleway/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$custom-font-path}/raleway/raleway-thin-webfont.woff') format('woff'),
  url('#{$custom-font-path}/raleway/raleway-thin-webfont.ttf') format('truetype'),
  url('#{$custom-font-path}/raleway/raleway-thin-webfont.svg#ralewaythin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url('#{$custom-font-path}/raleway/raleway-extralight-webfont.eot');
  src: url('#{$custom-font-path}/raleway/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$custom-font-path}/raleway/raleway-extralight-webfont.woff') format('woff'),
  url('#{$custom-font-path}/raleway/raleway-extralight-webfont.ttf') format('truetype'),
  url('#{$custom-font-path}/raleway/raleway-extralight-webfont.svg#ralewaylight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Light';
  src: url('#{$custom-font-path}/raleway/raleway-light-webfont.eot');
  src: url('#{$custom-font-path}/raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$custom-font-path}/raleway/raleway-light-webfont.woff') format('woff'),
  url('#{$custom-font-path}/raleway/raleway-light-webfont.ttf') format('truetype'),
  url('#{$custom-font-path}/raleway/raleway-light-webfont.svg#ralewaylight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('#{$custom-font-path}/raleway/raleway-regular-webfont.eot');
  src: url('#{$custom-font-path}/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$custom-font-path}/raleway/raleway-regular-webfont.woff') format('woff'),
  url('#{$custom-font-path}/raleway/raleway-regular-webfont.ttf') format('truetype'),
  url('#{$custom-font-path}/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('#{$custom-font-path}/raleway/raleway-medium-webfont.eot');
  src: url('#{$custom-font-path}/raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$custom-font-path}/raleway/raleway-medium-webfont.woff') format('woff'),
  url('#{$custom-font-path}/raleway/raleway-medium-webfont.ttf') format('truetype'),
  url('#{$custom-font-path}/raleway/raleway-medium-webfont.svg#ralewaymedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('#{$custom-font-path}/raleway/raleway-semibold-webfont.eot');
  src: url('#{$custom-font-path}/raleway/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$custom-font-path}/raleway/raleway-semibold-webfont.woff') format('woff'),
  url('#{$custom-font-path}/raleway/raleway-semibold-webfont.ttf') format('truetype'),
  url('#{$custom-font-path}/raleway/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('#{$custom-font-path}/raleway/raleway-bold-webfont.eot');
  src: url('#{$custom-font-path}/raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$custom-font-path}/raleway/raleway-bold-webfont.woff') format('woff'),
  url('#{$custom-font-path}/raleway/raleway-bold-webfont.ttf') format('truetype'),
  url('#{$custom-font-path}/raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('#{$custom-font-path}/raleway/raleway-extrabold-webfont.eot');
  src: url('#{$custom-font-path}/raleway/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$custom-font-path}/raleway/raleway-extrabold-webfont.woff') format('woff'),
  url('#{$custom-font-path}/raleway/raleway-extrabold-webfont.ttf') format('truetype'),
  url('#{$custom-font-path}/raleway/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Heavy';
  src: url('#{$custom-font-path}/raleway/raleway-heavy-webfont.eot');
  src: url('#{$custom-font-path}/raleway/raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$custom-font-path}/raleway/raleway-heavy-webfont.woff') format('woff'),
  url('#{$custom-font-path}/raleway/raleway-heavy-webfont.ttf') format('truetype'),
  url('#{$custom-font-path}/raleway/raleway-heavy-webfont.svg#ralewayheavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Quicksand Font Family */

@font-face {
  font-family: 'Quicksand-Light';
  src: url('#{$custom-font-path}/quicksand/quicksand_light-webfont.eot');
  src: url('#{$custom-font-path}/quicksand/quicksand_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$custom-font-path}/quicksand/quicksand_light-webfont.woff') format('woff'),
  url('#{$custom-font-path}/quicksand/quicksand_light-webfont.ttf') format('truetype'),
  url('#{$custom-font-path}/quicksand/quicksand_light-webfont.svg#quicksandlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand-Book';
  src: url('#{$custom-font-path}/quicksand/quicksand_book-webfont.eot');
  src: url('#{$custom-font-path}/quicksand/quicksand_book-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$custom-font-path}/quicksand/quicksand_book-webfont.woff') format('woff'),
  url('#{$custom-font-path}/quicksand/quicksand_book-webfont.ttf') format('truetype'),
  url('#{$custom-font-path}/quicksand/quicksand_book-webfont.svg#quicksandbook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand-Bold';
  src: url('#{$custom-font-path}/quicksand/quicksand_bold-webfont.eot');
  src: url('#{$custom-font-path}/quicksand/quicksand_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$custom-font-path}/quicksand/quicksand_bold-webfont.woff') format('woff'),
  url('#{$custom-font-path}/quicksand/quicksand_bold-webfont.ttf') format('truetype'),
  url('#{$custom-font-path}/quicksand/quicksand_bold-webfont.svg#quicksandbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('#{$custom-font-path}/icomoon.eot?ic0l39');
  src:url('#{$custom-font-path}/icomoon.eot?#iefixic0l39') format('embedded-opentype'),
  url('#{$custom-font-path}/icomoon.woff?ic0l39') format('woff'),
  url('#{$custom-font-path}/icomoon.ttf?ic0l39') format('truetype'),
  url('#{$custom-font-path}/icomoon.svg?ic0l39#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Icon Font Family */

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e002";
}
.icon-done:before {
  content: "\e600";
}
.icon-done-all:before {
  content: "\e601";
}
.icon-lock-open:before {
  content: "\e602";
}
.icon-lock-outline:before {
  content: "\e603";
}
.icon-clear:before {
  content: "\e605";
}
.icon-person-outline:before {
  content: "\e604";
}
.icon-settings:before {
  content: "\e607";
}
.icon-cross:before {
  content: "\e608";
}
.icon-cancel2:before {
  content: "\e606";
}
.icon-stack:before {
  content: "\e60a";
}
.icon-stack2:before {
  content: "\e60b";
}
.icon-check:before {
  content: "\f00c";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-layers:before {
  content: "\e60c";
}
.icon-check2:before {
  content: "\e609";
}
.icon-gauge:before {
  content: "\e63f";
}
