a.table-export-btn {
  color: #7c909d;
  font-size: 19px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  float: right;
  top: 13px;
  margin-left: -15px;
  margin-right: 15px;
}

.pagination-detail {
  padding-left:20px;
  color: #979797;
}

.fixed-table-pagination {
  position: relative;
}

.fixed-table-pagination li.disabled a {
  background-color: #353535;
  border:1px solid #808080;
  .light-theme & {
    background-color: #fff;
  }
}

.pagination {
  li {
    .page-last-separator {
      background-color: #353535;
      color: #a9a9a9;
    }

    a {
      background-color: #353535;
      border: 1px solid #6B6B6B;
      color: #a9a9a9;
      &:hover {
        background-color: #545454;
        color: #a9a9a9;
      }
    }
  }
  .active {
    a {
      background-color: #545454;
      border-color: $orange;
      color: #fff;
      &:hover {
        background-color: #b4c5d0;
      }
    }
  }
  .light-theme & {
    li {
      a {
        color: #949494;
        background-color: #fff;
        border: 1px solid #ddd;
        &:hover {
          background-color: #F1F1F1;
        }
      }
    }
    .active {
      a {
        background-color: $orange;
        border-color: #D6B7AE;
        color: white;
        &:hover {
          background-color: $orange;
        }
      }
    }
  }
}

.bootstrap-table {
  background: transparent;
  .fixed-table-container {
    background: #2b2b2b;
    background-repeat: no-repeat;
    background-position: right;
    border: none;

    .th-inner {
      font-family: 'Museo Sans', Arial, sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      /* white-space: nowrap; */
      color: #888;
      font-weight: 500;
      #humanCapitalSummary & {
        &.th-inner {
          padding: 8px 0 8px 0;
        }
      }
    }

    .pull-right {
      padding-right: 30px
    }
  }
  tbody {

    tr {
      border-bottom: 1px solid #2b2b2b;

      > td {
        border: none;

        color: #fff;
      }
      &:last-child {
        border: none;
      }
    }
    // tr:nth-child(odd), tr:nth-child(even) {
    //
    //   > td {
    //     background: #fff;
    //   }
    // }

    #programMetadata & {
      tr:nth-child(5){
        >td:nth-child(2){
          width: 23.5% !important;
        }
        border-bottom: 1px solid #dadada;
      }
      tr:nth-child(9),tr:nth-child(13),tr:nth-child(15){
        border-bottom: 1px solid #dadada;
      }
      tr:nth-child(6),tr:nth-child(10),tr:nth-child(14),tr:nth-child(16){
        background:rgba(#e4e4e4, 0.61);
         // border-bottom: 1px solid #B3B3B3;

        >td:first-child{
          color: #818181;
          font-weight: 900;
          font-size: 15px;
        }
      }
    }

    > tr.hover, > tr:hover, > tr:nth-child(even):hover, > tr:nth-child(odd):hover {

      > td {
        background: #353535;
      }
    }
  }
  .table {
    border-bottom: none;
    thead {
      tr {
        border-bottom: 1px solid #f4f4f4;
        th {
          font-weight: 500;
          color: #B3B3B3;
          padding-right: 0px;
          border-bottom: 1px solid $light-grey;
          height: 50px;
          border-left: none;
          background: #fff;

          // th EDITS PER TABLE CARD CARD

          #revenueCostsSummary & {
            width:5% !important;
            text-align: center;
            &:first-child {
              text-align: left;
              padding-left: 4px;
              width: 4%;
              .sortable {
                display: none;
              }
            }
            &:last-child {
            }
          }

          #contractDetail & {
            width: 15%;
            &:first-child {
              text-align: left;
              padding-left: 4px;
              width: 10%;
              .sortable {
                display: none;
              }
            }
            &:last-child {
            }
          }

          #programMetadata & {
            &:first-child {
              width:300px;
            }
            &:nth-child(2) {
            }
          }

          #humanCapitalSummary & {
            .sortable {
              margin-right: 10px;
            }
            &:first-child {
              padding-left: 12px;
            }
            &:nth-child(2) {
            }
            &:last-child {
              div.sortable {
                width: 200px;
              }
            }
          }

          #laborDistributionHeatmapChart & {
            &:first-child {

            }
            &:nth-child(2) {

            }
            &:nth-child(3) {

            }
            &:nth-child(4) {

            }
            &:nth-child(5) {

            }
            &:nth-child(6) {

            }
            &:nth-child(7) {

            }
            &:nth-child(8) {

            }
            &:last-child {

            }
          }

          &:first-child {
            padding-left:4px;
          }
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid #f4f4f4;
        td {
          font-weight: 500;
          border-left: 1px solid #f4f4f4;
          color: $table-data;
          border-left: none;
          &:hover {
            background-color: $light-grey;
          }
          &:first-child {
            padding-left: 12px !important;
          }


          // td EDITS PER TABLE CARD CARD

          #revenueCostsSummary & {
              //border-left: 1px solid #f4f4f4;
              text-align: right;
              width: 10%;
              padding-right: 30px;
              &:first-child {
                width: 10%;
                text-align: left;
                padding-left: 12px;
                color: $table-ylabel;
              }
            }
          #contractDetail & {
              //border-left: 1px solid #f4f4f4;
              width: 15%;
              padding-right: 30px;
              &:first-child {
                width: 10%;
                text-align: left;
                padding-left: 12px;
                color: $table-ylabel;
              }
            }


          #humanCapitalSummary & {
            &:first-child {
              width: 200px;
              padding-left:12px;
            }
            &:nth-child(2) {
              width: 200px;
              padding-left:12px;
            }
            &:last-child {

              padding-left:12px;
            }
          }

// Labor hours - Labor Heatmap Card
          #laborDistributionHeatmapChart & {
            text-align: right;
            color: $table-data;

            &:first-child {
              text-align: left;
              color: $table-ylabel;
            }
            &:nth-child(2) {

            }
            &:nth-child(3) {

            }
            &:nth-child(4) {

            }
            &:nth-child(5) {

            }
            &:nth-child(6) {

            }
            &:nth-child(7) {

            }
            &:nth-child(8) {

            }
            &:last-child {

            }
          }


          }
        }
      }
    }
  }


// .transposed is for cards that show | title data | title data | title data - Just add .transposed to the card class

.transposed {
  tbody {
    tr {
      td {
        &:nth-child(odd) {
          color: $table-ylabel;
          width: 200px;
        }
        &:nth-child(even) {
          color: $table-data;
          width: 200px;
          border-right: 1px solid $light-grey;
        }
      }
    }
  }
}




// Financial Status - Revenue Costs Summary Table

#revenueCostsSummary .bootstrap-table .table thead tr th {
  &:first-child {
    .th-inner {
      color: #fff;
    }
    .fht-cell {
      color: #fff;
    }
  }
}


.fixed-table-body {
  background-color: #fff;
}


.bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
  padding: 14px 10px 14px 12px;

}
