<div ng-class="{collapsed: collapsed}" class="sidebar disable-select {{position}}">
  <div class="sidebar-header" >
    <div class="nav-content" ng-include="'components/navbar/navbar.html'"></div>
  </div>
  <div class="sidebar-content" auto-height>
    <div ng-transclude></div>
  </div>
</div>
