/* Animated Sidebar */

.content-wrapper .sidebar {
  &.right {
    float: right;
    width: 350px;
    //&.collapsed {
    //  width:40px;
    //}
    .submit {
      float: right;
      padding: 6px 10px;
      margin-right: 20px;
      background-color: #656b6e;
      color: white;
      border: 1px solid #7a7a7a;

      &.edit {
        padding: 2px 5px;
        margin-right: 0px;
        margin-left:4px;
        font-size: 10px;
        border: 1px solid #7a7a7a;
      }
    }
    .editcommentsub {
      margin-right:0px;
      margin-left:10px;
    }

    textarea {
      margin: 20px 20px 16px 20px;
      padding:10px;
      &.editcomment {
        margin: 20px 20px 16px 0px;
      }
    }
    select {
      width:100px;
      float: left;
      padding:6px 10px;
      height:28px;
      margin-left:20px;
    }

    .commentForm {
      padding-bottom:40px;
      border-bottom: 1px solid darken($medium-grey, 30%);
    }

    .commentsread {
      width: 310px;
      //height: 100%;
      margin: 10px 20px 20px 20px;


      .cbdate, .cbtime, .cbtags, .cbposter {
        color: $medium-grey;
      }
      .cbdate {
        float: left;
      }
      .cbtime {
        float: left;
        padding: 0 0 0 10px;
      }
      .cbtags {
        float: right;
      }
      .cbcomment {
        font-size: 12px;
        padding:30px 0 0 0;
        color: #fff;
        width: 300px;
        line-height: 16px;
        white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        white-space: pre-wrap;       /* css-3 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
        word-break: break-all;
        white-space: normal;
      }
      .cbposter {
        float: right;
        padding: 6px 0 0 0;
        font-size:10px;
      }
      .cbdivider {
        border-bottom: 1px solid darken($medium-grey, 35%);
        padding: 20px 0 20px 0;
      }
    }
  }
}




.sidebar {
  //position: fixed;
  //left: 0;
  //top: 0;
  //bottom: 0;
  //width: 250px;
  //height: 100%;
  //background: #fff;
  z-index: 110;
  @include transition(width 0.15s ease-in-out);

  .sidebar-wrapper {
    width: 100%;
    height: auto;
    background: #f5f5f5;
    overflow: hidden;

    label {
      position: relative;
      width: 100%;
      border-bottom: 1px solid #d5d5d5;
      -webkit-transition: text-indent .15s, height .3s;
      transition: text-indent .15s, height .3s;
      box-sizing: border-box;
      float: left;

      .header-sidebar {
        width: 100%;
        height: 100%;
        border-left: 3px solid #e5e5e5;
        transition: linear .15s all;

        span, h1 {
          color: #858585;
          transition: linear .15s all;
        }
        span.icon {
          position: absolute;
          top: 0;
          left: 0;
          padding: 12px 20px;
          font-size: 14px;
        }
        h1 {
          display: block;
          font-size: 16px;
          font-weight: normal;
          text-transform: capitalize;
          padding: 10px 30px 11px 45px;
        }
        span.notification {
          position: absolute;
          top: 0;
          right: 0;
          padding: 4px 10px 6px 10px;
          margin: 8px 10px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          -khtml-border-radius: 3px;
          text-indent: initial;

          p {
            display: inline-block;
            padding: 0;
            margin: 0;
            font-family: 'Roboto-Medium';
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
          }
          &.new {
            background: #48dcca;
          }
          &.updated {
            background: #3aa3bf;
          }
        }
        &:hover {
          border-color: #3aa3bf;
          transition: linear .15s all;
          cursor: pointer;

          span, h1 {
            color: #000;
            transition: linear .15s all;
          }
        }
      }
      .content-sidebar {
        position: relative;
        top: 100%;
        display: none;
        width: 100%;
        background: #f5f5f5;
        overflow: hidden;

        ul {
          width: 100%;
          border-top: 1px solid #d5d5d5;

          li {
						position: relative;
            width: 100%;
            opacity: 0;
            left: -100%;
            background: #fff;
            border-bottom: 1px solid #d5d5d5;
            padding: 9px 10px 9px 45px;
            transition: linear .25s all;

            span {
              color: #858585;
            }
            span.check {
              position: absolute;
              top: 0;
              left: 0;
              padding: 10px 20px 8px 20px;
              font-size: 12px;
              text-indent: initial;
              transition: linear .25s all;
            }
            span.graph {
              display: none;
            }
            h2 {
              font-size: 13px;
              color: #000;
              padding-bottom:3px;
            }
            p {
	            color: #858585;
            }
            &.active {

              span {
                color: #3aa3bf;

                &.check {
	                display: inline-block;
                }
              }
            }

            &.selected {

              span.check {
	              display: inline-block;
              }
              &:before {
                content: '';
                height: 100%;
                border-left: 3px solid transparent;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
              }
            }
            &:last-child {
              border: none;
            }
            &:hover {
	            padding-left: 50px;
							transition: linear .25s all;
							cursor: pointer;

							span.check {
								padding-left: 25px;
								transition: linear .25s all;
							}
            }
          }
        }
      }
    }
    input[type='checkbox']:checked + label .header-sidebar {
      border-color: #3aa3bf;

      h1 {
        color: #3aa3bf;
      }
      span {
        color: #3aa3bf;
      }
    }
    input[type='checkbox']:checked + label .content-sidebar {
      display: block;
    }
    input[type='checkbox'] {
      display: none;
    }

    input[type='checkbox']:checked + label {
      background: #fff;
      /* text-indent: 10px; */
      -webkit-transition-property: height;
      transition-property: height;
      -webkit-transition-duration: .6s;
      transition-duration: .6s;
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    input[type='checkbox']:checked + label li:nth-of-type(1) {
      -webkit-animation: in 0.15s 0.15s forwards;
      animation: in 0.15s 0.15s forwards;
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-animation: in 0.15s 0.15s forwards;
      -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    input[type='checkbox']:checked + label li:nth-of-type(2) {
      -webkit-animation: in 0.15s 0.25s forwards;
      animation: in 0.15s 0.25s forwards;
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-animation: in 0.15s 0.25s forwards;
      -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    input[type='checkbox']:checked + label li:nth-of-type(3) {
      -webkit-animation: in 0.15s 0.35s forwards;
      animation: in 0.15s 0.35s forwards;
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-animation: in 0.15s 0.35s forwards;
      -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    input[type='checkbox']:checked + label li:nth-of-type(4) {
      -webkit-animation: in 0.15s 0.45s forwards;
      animation: in 0.15s 0.45s forwards;
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-animation: in 0.15s 0.45s forwards;
      -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    input[type='checkbox']:checked + label li:nth-of-type(5) {
      -webkit-animation: in 0.15s 0.55s forwards;
      animation: in 0.15s 0.55s forwards;
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-animation: in 0.15s 0.55s forwards;
      -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    input[type='checkbox']:checked + label li:nth-of-type(6) {
      -webkit-animation: in 0.15s 0.65s forwards;
      animation: in 0.15s 0.65s forwards;
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-animation: in 0.15s 0.65s forwards;
      -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    input[type='checkbox']:checked + label li:nth-of-type(7) {
      -webkit-animation: in 0.15s 0.75s forwards;
      animation: in 0.15s 0.75s forwards;
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-animation: in 0.15s 0.75s forwards;
      -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    input[type='checkbox']:checked + label li:nth-of-type(8) {
      -webkit-animation: in 0.15s 0.85s forwards;
      animation: in 0.15s 0.85s forwards;
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-animation: in 0.15s 0.85s forwards;
      -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    input[type='checkbox']:checked + label li:nth-of-type(9) {
      -webkit-animation: in 0.15s 0.95s forwards;
      animation: in 0.15s 0.95s forwards;
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-animation: in 0.15s 0.55s forwards;
      -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    input[type='checkbox']:checked + label li:nth-of-type(10) {
      -webkit-animation: in 0.15s 1.05s forwards;
      animation: in 0.15s 1.05s forwards;
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-animation: in 0.15s 1.05s forwards;
      -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
  &.collapsed {

    .heading {

      h1 {
        display: none;
      }
      p {
        display: block;
        text-transform: uppercase;
        text-align: center;
        color: #858585;
      }
    }
    .panel-collapse {
      display: none;
    }
    .sidebar-header {

      .content {

        img {
          width: 30px;
          height: 30px;
        }
        h1 {
          display: none;
        }
        p {
          display: none;
        }
      }
    }
    .sidebar-wrapper {
      top: 40px;


      input[type='checkbox']:checked + label {
        text-indent: inherit;
      }
      label {

        .header-sidebar {
          width: 100%;
          height: 40px;
          padding: 11px;
          text-align: center;

          span.icon {
            position: relative;
            top: inherit;
            left: inherit;
            padding: 0 3px 0 0;
            font-size: 16px;
          }
          h1 {
            display: none;
          }
          p {
            display: none;
          }
          span.notification {
            width: 6px !important;
            height: 6px !important;
            padding: 0;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
            border-radius: 100px;
            -khtml-border-radius: 100px;

            p {
              display: none;
            }
          }
        }
        .content-sidebar {

          ul {

            li {
              width: 100%;
              height: 40px;
              padding: 11px;
              text-align: center;

              span.check {
                display: none;
              }
              span.graph {
                display: inline-block;
                font-size: 16px;

                &.program {
	                color: #000;
                }
              }
              h2 {
                display: none;
              }
              p {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes in {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes in {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

/* End Animated Sidebar */

/* Light Theme */

.light-theme {

  .gradient {
    background: lighten($orange,5%) linear-gradient(
        45deg,
        #ecc96a, lighten($orange,5%)
    );
  }
  .sidebar {
    background: #29363d;

    .sidebar-header {

      .content {

        p {
          color: #d56444;
        }
      }
      canvas {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
        filter: alpha(opacity=25);
        opacity: 0.25;
      }
    }
    .sidebar-content {

      .sidebar-wrapper {
				background: #29363d;

        .heading {
          background: #29363d;
          border-color: #282828;
          h1 {
            text-transform: uppercase;
            color: #fff;
          }
        }
        section {

          label {
            background: #454545;
            border-color: #282828;

            .header-sidebar {
	            background: #29363d;
              border-color: #282828;

              span, h1 {
                color: #858585;
              }
              &:hover {
                border-color: lighten($orange,5%);

                span, h1 {
                  color: #fff;
                }
              }
              span.notification {

                &.updated {
                  background: lighten($orange,5%);
                }
                &.new {
                  background: #ecc96a;
                }
              }
            }
            .content-sidebar {
              background: #353535;

              ul {
                border-color: #282828;

                li {
                  background: #454545;
                  border-color: #282828;

                  span {
                    color: #fff;
                  }
                  h2 {
                    color: #fff;
                  }
                  p {
                    color: #B1B1B1;
                  }
                  &:nth-of-type(1) {
                    border-color: #282828;
                  }
                  &.active {

                    span {
                      color: lighten($orange,5%);
                    }
                  }
                }
              }
            }
          }
          input[type='checkbox']:checked + label {

            .header-sidebar {
	            background: #454545;
              border-color: $orange;

              span, h1 {
                color: lighten($orange,5%);
              }
            }
          }
        }
      }
    }
  }
}


div.appjump {
  padding: 12px 0 0 23px;
  .menu-item-icon {
    padding-right: 12px;
  }
}

.sb-collapsed div.appjump {
  padding: 12px 0 0 0;
  .menu-item-icon {
    padding: 12px 0 0 24px;
    font-size: 16px;
  }
  .menu-item-info {
    .title {
    display: none;
  }
  }
}


.md-tooltip {
  display: none;
}

.sb-collapsed .md-tooltip {
  font-family: "Museo Sans";
  display: block;
  font-size:14px;
  &.decktooltip {
    text-transform: uppercase;
  }
  &.openprog {
    margin-left:20px;
  }
}

