<div class="auth-container gradient" trianglify="{ variance: '1', cell_size: 140, seed: 'qaens'}"
     colors="{{currentTheme === 'light' ? 'YlOrRd' : 'GnBu'}}">

  <div class="scrollable">

    <div id="signup-wrapper" class="animated">
      <a href="/login" class="cancel">
        <span class="ops-icon-keyboard-arrow-left"></span>
      </a>

      <div class="header gradient-inverse">&nbsp;</div>
      <div class="logo disable-select">
<svg version="1.1" id="opsinsight"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="38px" height="50px" viewBox="0 0 37.5 50" style="enable-background:new 0 0 37.5 50;"
	 xml:space="preserve">
<style type="text/css">
	.st0{fill:#E87A51;}
</style>
<defs>
</defs>
<path class="st0" d="M37.5,19.3C37.5,8.6,29.1,0,18.8,0S0,8.6,0,19.3C0,26,3.6,32.4,9.3,35.9L9.4,36l2.9,3.9L11.9,40
	c-0.8,0.4-1.3,1.2-1.3,2c0,0.5,0.1,0.9,0.4,1.3l0.1,0.2L11,43.8c-0.3,0.4-0.4,0.8-0.4,1.3c0,1.2,0.9,2.2,2.1,2.2l0.4,0l0,0.4
	c0,0.1,0,0.2,0,0.2c0,1.1,0.9,2.1,2.1,2.1h7.4c1.1,0,2.1-0.9,2.1-2.1c0-0.1,0-0.2,0-0.2l0-0.4l0.4,0c1.2-0.1,2.1-1.1,2.1-2.2
	c0-0.5-0.1-0.9-0.4-1.3l-0.1-0.2l0.1-0.2c0.3-0.4,0.4-0.8,0.4-1.3c0-0.9-0.5-1.7-1.3-2.1l-0.4-0.2l3-4C34,32.4,37.5,26,37.5,19.3z
	 M22.5,48.8H15c-0.5,0-0.9-0.4-0.9-0.9c0-0.1,0-0.3,0.1-0.4l0.1-0.2h8.8l0.1,0.2c0.1,0.1,0.1,0.3,0.1,0.4
	C23.4,48.4,23,48.8,22.5,48.8z M24.7,45.8H12.8c-0.4,0-0.7-0.3-0.7-0.7c0-0.3,0.1-0.5,0.4-0.6l0.1-0.1l0.1,0c0.1,0,0.1,0,0.2,0h11.9
	c0,0,0.1,0,0.1,0l0.1,0l0.1,0.1c0.2,0.1,0.4,0.4,0.4,0.6C25.4,45.5,25.1,45.8,24.7,45.8z M25.4,42.1c0,0.4-0.3,0.7-0.7,0.7H12.8
	c-0.4,0-0.7-0.3-0.7-0.7c0-0.4,0.3-0.7,0.7-0.7h11.9C25.1,41.4,25.4,41.7,25.4,42.1z M12.6,37.5l1,0.3c3.3,1,7,1,10.3,0l1-0.3
	l-1.7,2.3h-8.8L12.6,37.5z M18.8,36.8c-9.4,0-17.1-7.9-17.1-17.5S9.3,1.7,18.8,1.7s17.1,7.9,17.1,17.5S28.2,36.8,18.8,36.8z"/>
</svg>
        <h1>Insight</h1>
      </div>
      <div class="form" ng-hide="success">
        <h1>Create an Account</h1>

        <form id="login" class="clearfix" name="form" ng-submit="register(form)" novalidate floating-label>
          <div>
            <div class="form-group split" ng-class="{shake: form.firstName.$error.required && submitted, animated: form.firstName.$error.required && submitted,
                 error: form.firstName.$error.required && submitted}">
              <span class="icon-name fnln">FN</span>
              <label for="firstName" class="floating-label">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName" ng-model="user.firstName" required tabindex="1"/>
            </div>
            <div class="form-group split" ng-class="{shake: form.lastName.$error.required && submitted, animated: form.lastName.$error.required && submitted, error: form.lastName.$error.required && submitted}">
              <span class="icon-name fnln">LN</span>
              <label for="lastName" class="floating-label">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName" ng-model="user.lastName" required tabindex="2"/>
            </div>
          </div>
          <div>
            <div class="form-group email split" ng-class="{shake: form.email.$error.required && submitted, animated: form.email.$error.required && submitted, error: form.email.$error.required && submitted}">
              <span class="icon-done">&nbsp;</span>
              <label for="email" class="floating-label">Email</label>
              <input type="text" class="form-control" id="email" placeholder="Email" name="email" ng-model="user.email" required tabindex="3" mongoose-error/>
            </div>
            <div class="form-group email split" ng-class="{shake: form.confirmEmail.$error.required && submitted, animated: form.confirmEmail.$error.required && submitted, error: form.confirmEmail.$error.required && submitted}">
              <span class="icon-done-all">&nbsp;</span>
              <label for="confirmEmail" class="floating-label">Confirm Email</label>
              <input type="text" class="form-control" id="confirmEmail" placeholder="Confirm Email" name="confirmEmail" ng-model="confirmEmail" required tabindex="4"/>
            </div>
          </div>
          <div>
            <div class="form-group split" ng-class="{shake: form.password.$error.required && submitted, animated: form.password.$error.required && submitted, error: form.password.$error.required && submitted}">
              <span class="icon-lock-open">&nbsp;</span>
              <label for="password" class="floating-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="user.password" required tabindex="5"/>
              <span class="pwvalidate" data-target="password" ng-model="user.password" data-min-length="8" data-complexity="6" data-charsets="3" data-sys-strength></span>
            </div>
            <div class="form-group split" ng-class="{shake: form.confirmPassword.$error.required && submitted, animated: form.confirmPassword.$error.required && submitted, error: form.confirmPassword.$error.required && submitted}">
              <span class="icon-lock-outline">&nbsp;</span>
              <label for="confirmPassword" class="floating-label">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword"
                     name="confirmPassword" placeholder="Confirm Password" ng-model="confirmPassword" required tabindex="6"/>
            </div>
          </div>
          <div class="validation">
            <p ng-show="(form.email.$error.required || form.confirmEmail.$error.required) && submitted"
               ng-class="['fadeIn', 'animated', 'error-message']">
              Please enter a valid email and confirm it.
            </p>
            <p ng-show="(form.password.$error.required || form.confirmPassword.$error.required) && submitted"
               ng-class="['fadeIn', 'animated', 'error-message']">
              Please enter a valid password and confirm it.
            </p>

            <p ng-show="form.password.$error.strength && submitted"
               ng-class="['fadeIn', 'animated', 'error-message']">
              Your password must be at least 8 characters long with at least 3 different character sets.
            </p>

            <p ng-show="form.email.$error.email && submitted"
               ng-class="['fadeIn', 'animated', 'error-message']">
              Please enter a valid email.
            </p>

            <p  ng-class="['fadeIn', 'animated', 'error-message']" ng-repeat="(field, message) in errors"> {{ message }}</p>
          </div>
          <div class="controls disable-select">
             <button type="submit" id="validate">Submit</button>
          </div>
        </form>
      </div>
      <div class="form clearfix" ng-show="success">
        <h1>Welcome!</h1>
        <div class="validation">
          <p ng-class="['fadeIn', 'animated', 'error-message']" class="success">
            Thank you for signing up. A validation email has been sent to your email. Please validate your account.
          </p>
        </div>
        <div class="controls disable-select">
          <button ng-click="resend()">Resend Email</button>
        </div>
      </div>
      <div class="footer">
        <p>Already have an account?</p>
        <a href="/login">Login to your account now.</a>
      </div>
    </div>

  </div>

</div>
