<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Change In Permissions</title>
  <style type="text/css">
    @media only screen and (min-width: 601px) {
      .content {width: 600px !important;}
      .col425 {width: 425px!important;}
      .col368 {width: 368px!important;}
    }
    @media only screen and (max-width: 600px) {
      .collapsecenter{float: none; margin: 0 auto;}
    }
  </style>
</head>
<body bgcolor="#F5F5F5">
<!--[if (gte mso 9)|(IE)]>                                                                                          csra-
<table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
<![endif]-->
<table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="header" bgcolor="#FFFFFF">
      <table width="320" align="left" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td height="34">
            <a href="https://insight.<%= domain %>"><img src="https://insight.<%= domain %>/logo.png" width="153" height="46" border="0" alt="" /><a/>
          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td class="innerpadding borderbottom">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="h3"> PMR Permission change received </td>
        </tr>
        <tr>
          <td class="bodycopy">
            <br>
            You are receiving this email because the permission(s) associated with this user, <%= user.name %> (<a href="mailto:<%= user.email %>"><%= user.email %></a>), has changed:
            <br>
            <br>

            <% if (permissionChanges.roles.added.length > 0) { %>
              <div>
                <h4>Role(s) Added:</h4>
                <% for(var i=0; i < permissionChanges.roles.added.length; i++) { %>
                  <div class="bodycopy"><%= permissionChanges.roles.added[i] %></div>
                <% } %>
              </div>
            <% } %>

            <% if (permissionChanges.roles.removed.length > 0) { %>
              <div>
                <h4>Role(s) Removed:</h4>
                <% for(var i=0; i < permissionChanges.roles.removed.length; i++) { %>
                  <div class="bodycopy"><%= permissionChanges.roles.removed[i] %></div>
                <% } %>
              </div>
            <% } %>

            <% if (permissionChanges.auths.added.length > 0) { %>
              <div>
                <h4>Auths Added:</h4>
                <% for(var i=0; i < permissionChanges.auths.added.length; i++) { %>
                  <div class="bodycopy"><%= permissionChanges.auths.added[i] %></div>
                <% } %>
              </div>
            <% } %>

            <% if (permissionChanges.auths.removed.length > 0) { %>
              <div>
                <h4>Auths Removed:</h4>
                <% for(var i=0; i < permissionChanges.auths.removed.length; i++) { %>
                  <div class="bodycopy"><%= permissionChanges.auths.removed[i] %></div>
                <% } %>
              </div>
            <% } %>

            <% if (permissionChanges.groups.added.length > 0) { %>
              <div>
                <h4>Reporting Group(s) Added:</h4>
                <% for(var i=0; i < permissionChanges.groups.added.length; i++) { %>
                  <div class="bodycopy"><%= permissionChanges.groups.added[i] %></div>
                <% } %>
              </div>
            <% } %>

            <% if (permissionChanges.groups.removed.length > 0) { %>
              <div>
                <h4>Reporting Group(s) Removed:</h4>
                <% for(var i=0; i < permissionChanges.groups.removed.length; i++) { %>
                  <div class="bodycopy"><%= permissionChanges.groups.removed[i] %></div>
                <% } %>
              </div>
            <% } %>

            <% if (permissionChanges.programs.added.length > 0) { %>
              <div>
                <h4>Program(s) Added:</h4>
                <% for(var i=0; i < permissionChanges.programs.added.length; i++) { %>
                  <div class="bodycopy"><%= permissionChanges.programs.added[i] %></div>
                <% } %>
              </div>
            <% } %>

            <% if (permissionChanges.programs.removed.length > 0) { %>
              <div>
                <h4>Program(s) Removed:</h4>
                <% for(var i=0; i < permissionChanges.programs.removed.length; i++) { %>
                  <div class="bodycopy"><%= permissionChanges.programs.removed[i] %></div>
                <% } %>
              </div>
            <% } %>

            <br>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="footer" bgcolor="#FFFFFF">
      <table class="borderbottom" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="footercopy">
            Thank you,
            <br/>
            The Insight team
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="fineprint" style="color: #989898;">
            You can change your email notification settings under your Insight account settings.
          </td>
        </tr>
        <tr>
          <td class="fineprint footercopy" style="color: #989898; padding: 0 20px 20px;">
            2015 &#169; <a href="https://insight.<%= domain %>">Insight</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->
</body>
</html>
