<div class="deckfilter">
  <div class="drawer-header">
    Filter Deck
  </div>
  <div class="drawer-body">
    <div class="filter-group">

      <div class="filter-search-wrapper" ng-repeat="filter in deck.filters">
        <div class="clearfix">
          <h5 class="inline-subtitle">{{ deck.getFilterName(filter.titleName) }}</h5>
        </div>
        <div ng-repeat="option in filter.checkboxes" ng-if="filter.checkboxes">
          <md-checkbox class="md-primary" ng-model="option.selected"
             md-no-ink
             aria-label="Select {{ option.displayName }}"
             ng-disabled="isReadOnly(filter.name) || (!option.selected && disableAutocomplete())">
            {{ option.displayName }}
          </md-checkbox>
        </div>
        <ui-select class="insight-select"
                   ng-disabled="isReadOnly(filter.name) || (!filter.selectedFilter && disableAutocomplete(filter))"
                   ng-model="filter.selectedFilter"
                   reset-search-input="true"
                   ng-if="filter.autocomplete"
                   on-select="filterSelected($item, filter)">>
          <ui-select-match allow-clear="{{filter.allowClear}}" placeholder="{{ getPlaceholderText(filter) }}">{{$select.selected.displayName}}</ui-select-match>
          <ui-select-choices repeat="item in searches[filter.name] track by $index"
                             refresh="getAutocompleteFilters(filter.autocomplete.apiUrl, filter, $select.search)"
                             refresh-delay="0">
            <div ng-bind-html="item.displayName | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div ng-repeat="option in filter.checkboxes" ng-if="filter.checkboxes">
        <md-checkbox class="md-primary" ng-model="option.selected"
           md-no-ink
           aria-label="Select {{ option.displayName }}"
           ng-click="filterSelected(option, filter)"
           ng-disabled="isReadOnly(filter.name) || (!option.selected && disableAutocomplete())">
          {{ option.displayName }}
        </md-checkbox>
      </div>
      <ui-select class="insight-select"
                 ng-disabled="isReadOnly(filter.name) || (!filter.selectedFilter && disableAutocomplete(filter))"
                 ng-model="filter.selectedFilter"
                 reset-search-input="true"
                 ng-if="filter.autocomplete"
                 on-select="filterSelected($item, filter)">
        <ui-select-match allow-clear="true" placeholder="{{ getPlaceholderText(filter) }}">{{$select.selected.displayName}}</ui-select-match>
        <ui-select-choices repeat="item in searches[filter.name] track by $index"
                           refresh="getAutocompleteFilters(filter.autocomplete.apiUrl, filter, $select.search)"
                           refresh-delay="0">
          <div ng-bind-html="item.displayName | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>

    </div>
  </div>
  <div class="drawer-footer">
    <a class="btn white" ng-click="cancel()">
      <span>Cancel</span>
    </a>
    <a class="btn" ng-click="applyFilters()">
      <span>Apply</span>
    </a>
  </div>
</div>
