<div class="drawer-body">
  <daterange min-start-date="minStartDate"
             max-start-date="maxStartDate"
             min-end-date="minEndDate" max-end-date="maxEndDate">
  </daterange>
</div>
<div class="drawer-footer">
  <a class="btn white" ng-click="cancel()">
    <span>Cancel</span>
  </a>
  <a class="btn" ng-click="applyFilters()">
    <span>Apply</span>
  </a>
</div>
