
[class^="ops-icon-"], [class*=" ops-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ops-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ops-icon-comments:before {
    content: "\e904";
}
.ops-icon-batch-users:before {
    content: "\e902";
}
.ops-icon-alert:before {
    content: "\e634";
}
.ops-icon-leave-page:before {
    content: "\e903";
}
.ops-icon-playlist_add:before {
    content: "\e01e";
}
.ops-icon-terrain:before {
    content: "\e1fc";
}
.ops-icon-apps2:before {
    content: "\e1ff";
}
.ops-icon-check3:before {
    content: "\e206";
}
.ops-icon-menu:before {
    content: "\e20e";
}
.ops-icon-keyboard_control:before {
    content: "\e20f";
}
.ops-icon-people:before {
    content: "\e251";
}
.ops-icon-person:before {
    content: "\e253";
}
.ops-icon-view_quilt:before {
    content: "\e303";
}
.ops-icon-view_stream:before {
    content: "\e304";
}
.ops-icon-view_week:before {
    content: "\e305";
}
.ops-icon-bell:before {
    content: "\e006";
}
.ops-icon-heart3:before {
    content: "\e024";
}
.ops-icon-layers:before {
    content: "\e031";
}
.ops-icon-search2:before {
    content: "\e036";
}
.ops-icon-square-plus:before {
    content: "\e044";
}
.ops-icon-cloud-download:before {
    content: "\e067";
}
.ops-icon-download:before {
    content: "\e069";
}
.ops-icon-check4:before {
    content: "\e117";
}
.ops-icon-file-add:before {
    content: "\e125";
}
.ops-icon-mail:before {
    content: "\e002";
}
.ops-icon-trash:before {
    content: "\e109";
}
.ops-icon-check:before {
    content: "\e116";
}
.ops-icon-done:before {
    content: "\e600";
}
.ops-icon-done-all:before {
    content: "\e601";
}
.ops-icon-lock-open:before {
    content: "\e602";
}
.ops-icon-lock-outline:before {
    content: "\e603";
}
.ops-icon-reorder:before {
    content: "\e607";
}
.ops-icon-settings:before {
    content: "\e608";
}
.ops-icon-loop:before {
    content: "\e609";
}
.ops-icon-add:before {
    content: "\e60a";
}
.ops-icon-clear:before {
    content: "\e605";
}
.ops-icon-remove:before {
    content: "\e60b";
}
.ops-icon-format-indent-decrease:before {
    content: "\e60c";
}
.ops-icon-format-indent-increase:before {
    content: "\e60d";
}
.ops-icon-vertical-align-bottom:before {
    content: "\e60e";
}
.ops-icon-vertical-align-top:before {
    content: "\e60f";
}
.ops-icon-keyboard-arrow-down:before {
    content: "\e610";
}
.ops-icon-keyboard-arrow-left:before {
    content: "\e611";
}
.ops-icon-keyboard-arrow-right:before {
    content: "\e612";
}
.ops-icon-keyboard-arrow-up:before {
    content: "\e613";
}
.ops-icon-keyboard-control:before {
    content: "\e614";
}
.ops-icon-dehaze:before {
    content: "\e615";
}
.ops-icon-exposure-plus-1:before {
    content: "\e616";
}
.ops-icon-apps:before {
    content: "\e617";
}
.ops-icon-check2:before {
    content: "\e61c";
}
.ops-icon-fullscreen:before {
    content: "\e618";
}
.ops-icon-fullscreen-exit:before {
    content: "\e619";
}
.ops-icon-notifications-none:before {
    content: "\e61a";
}
.ops-icon-person-outline:before {
    content: "\e604";
}
.ops-icon-cloud:before {
    content: "\e62e";
}
.ops-icon-cloud2:before {
    content: "\e62f";
}
.ops-icon-archive:before {
    content: "\e900";
}
.ops-icon-tools:before {
    content: "\e901";
}
.ops-icon-add-to-list:before {
    content: "\e623";
}
.ops-icon-cloud22:before {
    content: "\e633";
}
.ops-icon-select-arrows:before {
    content: "\e621";
}
.ops-icon-cog:before {
    content: "\e62c";
}
.ops-icon-export:before {
    content: "\e62b";
}
.ops-icon-heart4:before {
    content: "\e629";
}
.ops-icon-list:before {
    content: "\e622";
}
.ops-icon-log-out:before {
    content: "\e62d";
}
.ops-icon-stopwatch:before {
    content: "\e624";
}
.ops-icon-area-graph:before {
    content: "\e61d";
}
.ops-icon-bar-graph:before {
    content: "\e61e";
}
.ops-icon-calendar:before {
    content: "\e606";
}
.ops-icon-circular-graph:before {
    content: "\e61f";
}
.ops-icon-line-graph:before {
    content: "\e620";
}
.ops-icon-cloud3:before {
    content: "\e630";
}
.ops-icon-cloud4:before {
    content: "\e631";
}
.ops-icon-check5:before {
    content: "\f03a";
}
.ops-icon-heart:before {
    content: "\2665";
}
.ops-icon-cloud5:before {
    content: "\e632";
}
.ops-icon-heart2:before {
    content: "\e627";
}
.ops-icon-info:before {
    content: "\e626";
}
.ops-icon-in:before {
    content: "\e62a";
}
.ops-icon-search:before {
    content: "\e625";
}
.ops-icon-user:before {
    content: "\e628";
}
.ops-icon-maximize:before {
    content: "\e61b";
}

