<div class="sub-title">
  Summary / Map:
</div>
<br/>
<div>

  <h4>Use Case</h4>

    As a manager, I want to know the geographical locations of my current employees.

  <h5>Solution and Location</h5>

    The Employee Locations card (Human Capital Dashboard) provides the user with a map view of employee headcount. The default view shows heat indicators, but the user is able to change this view to markers using the layer icon on the top right corner of the card. The heat indicators and markers break apart as the user drills down on the map. The geographic space covered by a marker will be highlighted when a user hovers over the marker.

  <h5>Datasource</h5>

    The numbers for this chart a derived from the PERMAST report, which is updated on a weekly basis. The count is based on a simple count of employees from the most recent report. The data is then grouped by geography. As the PERMAST only provides data in the form of city and state, the markers and heat indicators are centered on the central location within the associated city.

  <h5>Filters</h5>

    The user can drill down to the L5 Manager and can remove employees classified as “Casual” from the count, using the Master Filter in the top left corner of the Dashboard. The user may also filter on Headcount, Hires, Voluntary Terminations and Involuntary Terminations using the filter icon on the top right corner of the card.

  <h4>Use Case</h4>

    As a manager, I want to know the geographical locations of hiring and termination activity for the current Fiscal Year.

  <h5>Solution and Location</h5>

    The Employee Locations card (Human Capital Dashboard) provides the user with a map view of employee hires, voluntary and involuntary terminations. The default view shows heat indicators, but the user is able to change this view to markers using the layer icon on the top right corner of the card. The user can switch among Hires, Voluntary Terminations and Involuntary Terminations using the filter icon on the top right corner of the card. The heat indicators and markers break apart as the user drills down on the map. The geographic space covered by a marker will be highlighted when a user hovers over the marker.

  <h5>Datasource</h5>

    The numbers for this chart a derived from the PERMAST report, which is updated on a weekly basis. The count is based on a simple count of terminations and hires since the beginning of the Fiscal Year. The data is then grouped by geography. As the PERMAST only provides data in the form of city and state, the markers and heat indicators are centered on the central location within the associated city.

  <h5>Filters</h5>

    The user can drill down to the L5 Manager and can remove employees classified as “Casual” from the count, using the Master Filter in the top left corner of the Dashboard. The user may also filter on Headcount, Hires, Voluntary Terminations and Involuntary Terminations using the filter icon on the top right corner of the card.
   
</div>


