<div class="sub-title">
  Summary / Line Chart:
</div>
<br/>
<div>

  <h4>Use Case</h4>

    As a manager, I want to know whether there is a correlation between Glassdoor reviews and ratings on hires and attrition. This will allow me to understand the potential impact of this popular employment website on employee headcount.

  <h5>Solution and Location</h5>

    The Glassdoor Rating, Hires, and Voluntary Terms cards (Human Capital Dashboard) are linked to provide the user with a way to view weekly trends individually and collectively.

  <h5>Datasource</h5>

    The numbers for this chart a derived from the Glassdoor API and PERMAST report. The Glassdoor data is captured at midnight on Friday to represent the final data point for the week. The Hires and Voluntary Terminations cards are based on the PERMAST report, which is updating on a weekly basis. The count is based on a simple count of hires and voluntary terminations since the beginning of the Fiscal Year. The data is then grouped by week (Saturday through Friday) based on the date of the hiring or termination transaction in the reporting system.

  <h5>Filters</h5>

    The user can drill down to the L5 Manager and can remove employees classified as “Casual” from the count, using the Master Filter in the top left corner of the Dashboard.

</div>
