<div class="sub-title">
  Details / Table View:
</div>
<br/>
<div>
  The head count table displays the employee’s personnel number, name, employment status, hire date, termination date, termination type (voluntary or involuntary) and L3 and L4 managers.
  <br/><br/>
  Clicking on the <span class="ops-icon-maximize"></span> icon will return to the summary column and line chart view.
</div>
