<div class="sub-title">
  Summary / Line Chart:
</div>
<br/>
<div>

  <h4>Use Case</h4>

    As a manager, I want a trending view of headcount. This will allow me to understand whether the business unit is growing or shrinking. It also helps identify significant trend variance for any particular month.

  <h5>Solution and Location</h5>

    The Headcount card (Human Capital Dashboard) provides the user with a timeseries view of headcount for the current Fiscal Year.

  <h5>Datasource</h5>

    The numbers for this chart a derived from the PERMAST report, which is updated on a weekly basis. The count is based on a simple count of headcount for the last report for each month for the Fiscal Year. It is important to note that total headcount at the end of the month may be slightly different depending upon how close the report date matches the calendar end date.

  <h5>Filters</h5>

    The user can drill down to the L5 Manager and can remove employees classified as “Casual” from the count, using the Master Filter in the top left corner of the Dashboard.

</div>
