<div class="sub-title">
  Summary / Line Chart:
</div>
<br/>
<div>
  This card displays a weekly time-series of hires under the manager selected in the deck filter. The value of each highlighted data point is displayed in the top right corner of the chart.
  <br/><br/>
  A highlighted vertical bar simultaneously displays the selected week for the Glassdoor Rating, Hires, Voluntary Terminations, and Applications charts.
</div>
