<div class="sub-title">
  Summary / Column &amp; Line Chart:
</div>
<br/>
<div>

  <h4>Use Case</h4>

    As a manager, I want a trending view of hires against terminations. This will allow me to understand positive and negative trends and also identify significant trend variance for any particular month.

  <h5>Solution and Location</h5>

    The Hires and Attrition card (Human Capital Dashboard) provides the user with a timeseries view of hires and attrition for the current Fiscal Year. The view was designed to allow the user to view whether hires, voluntary terminations and involuntary terminations are increasing or decreasing, individually or collectively. The view also enables the user to compare whether hiring is outpacing total, voluntary or involuntary terminations.

  <h5>Datasource</h5>

    The numbers for this chart a derived from the PERMAST report, which is updated on a weekly basis. The count is based on a simple count of hires and terminations since the beginning of the Fiscal Year. The data is then grouped by calendar month based on the date of the hiring or termination transaction in the reporting system.

  <h5>Filters</h5>

    The user can drill down to the L5 Manager and can remove employees classified as “Casual” from the count, using the Master Filter in the top left corner of the Dashboard. The user may also remove the hires trend line and/or Voluntary Terminations and Involuntary Terminations columns by selecting the Legend values.

</div>
