<div class="sub-title">
  Attritions Drilldown / Table View:
</div>
<br/>
<div>
  The attritions table displays the employee name, L3 and L4 managers, termination date, termination type (voluntary or involuntary) and tenure.
</div>
