<div class="sub-title">
  Details / Table View:
</div>
<br/>
<div>
  This details table view is reached by clicking the <span class="ops-icon-maximize"></span> icon
  on the Human Capital Summary bar chart view.  The table contains rows for each employee under the managerment structured as selected via the Human Capital deck filters.  The table shows the employee's name and their manager.
  <br/><br/>
  To return to the Human Capital summary bar chart view click the <span class="ops-icon-maximize"></span> icon which acts as a toggle between summary and detail views on each card.
</div>
