<div class="sub-title">
  Summary / Bar Chart:
</div>
<br/>
<div>

  <h4>Use Case</h4>

    As a manager, I want to know the Current Headcount for my direct reports.

  <h5>Solution and Location</h5>

    The FY16 Human Capital Summary card (Human Capital Dashboard) allows the user to see the count using a bar chart and a “tool tip” that displays the associated manager’s current headcount.

  <h5>Datasource</h5>

    The numbers for this chart a derived from the PERMAST report, which is updated on a weekly basis. The count is calculated based on a simple count of total employees from the most recent report.

  <h5>Filters</h5>

    The user can drill down to the L5 Manager and can remove employees classified as “Casual” from the count, using the Master Filter in the top left corner of the Dashboard. The user may also remove bars by selecting the Legend values.

  <h4>Use Case</h4>

    As a manager, I want to know the hiring and termination activity for the current Fiscal Year.

  <h5>Solution and Location</h5>

    The FY16 Human Capital Summary card (Human Capital Dashboard) allows the user to see the count using a bar chart and a “tool tip” that displays the associated manager’s hires and terminations. Voluntary and Involuntary Terminations have been stacked to enable the manager to individually compare the distinct termination classifications to hires, and also compare total total terminations to hires.

  <h5>Datasource</h5>

    The numbers for this chart a derived from the PERMAST report, which is updated on a weekly basis. The count is based on a simple count of terminations and hires since the beginning of the Fiscal Year.

  <h5>Filters</h5>

    The user can drill down to the L5 Manager and can remove employees classified as “Casual” from the count, using the Master Filter in the top left corner of the Dashboard. The user may also remove bars through selecting the Legend values.

</div>


