<div class="sub-title">
  Drilldown / Table View:
</div>
<br/>
<div>
  Depending on what human capital category you selected, you will see one of three tables.
  <br/><br/>
  The terminations table displays the employee name, L3 and L4 managers, termination date, termination type (voluntary or involuntary) and tenure.
  <br/><br/>
  The hires table displays the employee name, L3 and L4 managers, and hire date.
  <br/><br/>
  The headcount table displays the employee name and L3 and L4 managers.
</div>
