<div class="sub-title">
  Name / Type:
</div>
<br/>
<div>

  <h4>Use Case</h4>

    text_here

  <h5>Solution and Location</h5>

    text_here

  <h5>Datasource</h5>

    text_here

  <h5>Filters</h5>

    text_here

</div>

