<div uib-collapse="deck.summaryCollapsed">
  <div class="deck-summary clearfix">
	  <table ng-repeat="header in headers" class="summarybar-group">
	    <thead>
		    <tr>
			    <td class="clearfix">
				    <h1>{{ header }}</h1>
			    </td>
		    </tr>
	    </thead>
	    <tbody>
		    <tr>
			    <td>
				    <table>
					    <tr>
						    <td ng-repeat="stat in deck.summaryBar.bars[header]" class="{{'summarybar-stat-' + kebabCase(header) + '-' + kebabCase(stat.name)}}" ng-class="{'has-details': stat.details}" ng-click="onSummaryCellClick(header, stat)">
                  <h2>{{ stat.prefix }} {{ getValue(stat.column) === "N/A" ? "N/A" : (getValue(stat.column) | number: stat.decimals) }} {{ stat.suffix }}</h2>
                  <p>{{ stat.name }}</p>
						    </td>
					    </tr>
				    </table>
			    </td>
		    </tr>
	    </tbody>
	  </table>
	</div>
</div>
