<span class="deckster-card-control" style="top: -12px;">
  <i class="fa fa-bar-chart" style="font-size: 14px;"
     ng-click="card.options.getCurrentViewOptions(card.currentSection).columnChartView(card)"
    ></i>
</span>
