<span class="deckster-card-control" style="">
  <a href='http://www.glassdoor.com/index.htm' target='_blank'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png'/></a>
</span>
