<span class="deckster-card-control" style="top: -9px;">
  <i class="fa fa-angle-double-left" style="font-size: 23px;"
     ng-click="card.options.chartPaging.first(card)"
    ></i>
</span>
<span class="deckster-card-control" style="top: -12px;">
  <i class="fa fa-chevron-left" style="font-size: 14px;"
     ng-click="card.options.chartPaging.previous(card)"
    ></i>
</span>
<span class="deckster-card-control" >
  Page {{card.options.chartPaging.getCurrentPage(card)}}
  of {{card.options.chartPaging.getPageCount(card)}}
</span>
<span class="deckster-card-control" style="top: -12px;">
  <i class="fa fa-chevron-right" style="font-size: 14px;"
     ng-click="card.options.chartPaging.next(card)"
    ></i>
</span>
<span class="deckster-card-control" style="top: -9px;">
  <i class="fa fa-angle-double-right" style="font-size: 23px;"
     ng-click="card.options.chartPaging.last(card)"
    ></i>
</span>
