<span class="deckster-card-control"  style="top: -16px;">
  <ui-select ng-model="card.options.summaryViewOptions.pnFilter.selectedFilter"
             theme="bootstrap"
             reset-search-input="false"
             on-select="card.options.summaryViewOptions.filterByProgramNumber(card, $item)"
             style="width: 150px; display: inline-block;">
    <ui-select-match>
      {{$select.selected.program_number}}
    </ui-select-match>
    <ui-select-choices repeat="filter in card.options.summaryViewOptions.pnFilter.filterValues track by $index">
      <div ng-bind-html="filter.program_number | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</span>
