<span class="deckster-card-control"  style="top: -16px;" >
  <ui-select ng-model="card.options.summaryViewOptions.reqVariable.selectedFilter"
             theme="bootstrap"
             reset-search-input="false"
             on-select="card.options.summaryViewOptions.filterByReqVar(card, $item)"
             style="width: auto; display: inline-block;">
    <ui-select-match allow-clear="true" placeholder="Variable">{{$select.selected}}</ui-select-match>
    <ui-select-choices repeat="filter in card.options.summaryViewOptions.reqVariable.filterValues track by $index">
      <div ng-bind-html="filter | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</span>
