<span class="deckster-card-control"  style="top: -16px;" >
  <ui-select ng-model="card.options.summaryViewOptions.catFilter.selectedFilter"
             theme="bootstrap"
             reset-search-input="false"
             on-select="card.options.summaryViewOptions.filterByCategory(card, $item)"
             style="width: 330px; display: inline-block;">
    <ui-select-match allow-clear="true" placeholder="{{card.options.getTemplateVariables().staffingCompositionNameCol}}">{{$select.selected.displayName}}</ui-select-match>
    <ui-select-choices repeat="filter in card.options.summaryViewOptions.catFilter.filterValues track by $index"
                       refresh="card.options.summaryViewOptions.getFilterValues(card.options.summaryViewOptions.table, card.options.summaryViewOptions.catFilter, $select.search)"
                       refresh-delay="0">
      <div ng-bind-html="filter.displayName | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</span>
