<span class="deckster-card-control deckster-card-menu dropdown" uib-dropdown style="top: -12px;">
  <i class="fa fa-filter dropdown-toggle" uib-dropdown-toggle style="font-size: 14px;" ng-disabled="card.options.hideFilter"></i>
  <div id="cardFilter" class="dropdown-menu caret-menu right" role="menu">
    <ul class="filter">
      <li role="presentation" class="dropdown-header filter-header" ng-repeat="category in card.options.getCurrentViewOptions(card.currentSection).controls.filterMenu.categories">
        <ul>
          <li ng-repeat="filter in category.filters" ng-click="filter.onFilter(card)">
            <a class="filter-item" ng-class="{selected : filter.name === card.options.getCurrentViewOptions(card.currentSection).controls.selectedFilter}">{{filter.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</span>
